[2020-10-05 18:13] SSKale1 opened #7 "1 | Two Sum | Python"
## **`Title`** - 1. Two Sum Problem

**What will change** -
### Type of Issue -
- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the pr

[2020-10-05 18:17] SSKale1 opened #8 "2 | Add Two Numbers | Python"
## **`Title`** - 2. Add Two Numbers

**What will change** - Add Solution

### Type of Issue -
- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :

[2020-10-05 18:19] SSKale1 opened #9 "3 | Longest Substring Without Repeating Characters | C++"
## **`Title`** - 3. Longest Substring Without Repeating Characters

**What will change** -
Added Code
### Type of Issue -
- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
-

[2020-10-05 18:24] VIPUL662 commented on #8
yes i want to do it.

[2020-10-05 18:26] SSKale1 commented on #8
- [x] Assigning to @VIPUL662 .
Make sure you read and follow the contribution guidelines. And submit according to the Leetcode Solution with proper Comments explaining the program and Time/Space Complexities if Applicable.

[2020-10-05 18:42] AryashDubey commented on #7
Hey Can I Work On this Please?

[2020-10-05 18:46] VIPUL662 commented on #8
[add two no. in phython.py.txt](https://github.com/SHY-Corp/LeetCode-Solutions/files/5329454/add.two.no.in.phython.py.txt)

[2020-10-05 18:48] VIPUL662 commented on #9
i want to solve this issue please provide me.

[2020-10-05 18:48] JOKUE2002 opened #10 "1480 | Running Sum of 1D Array | JAVA"
## **`Add 1480`** -

**What will change** -

The solution to challenge 1480 in java language

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

[2020-10-05 18:50] JOKUE2002 commented on #10
Does anyone want this issue? Otherwise I would submit my solution to the challenge.

[2020-10-05 18:52] SSKale1 commented on #9
- [x] Assigning to @VIPUL662 .

[2020-10-05 18:53] atingarg1406 commented on #10
I would like to do this task. Do assign me for this.

[2020-10-05 18:57] SSKale1 commented on #7
Sure.

- [x] Assigned to @AryashDubey .
Make sure you read and follow the contribution guidelines. And submit according to the Leetcode Solution with proper Comments explaining the program and Time/Space Complexities if Applicable.

[2020-10-05 18:59] SSKale1 commented on #10
- [x] Assigning to @atingarg1406 .
Make sure you read and follow the contribution guidelines. And submit according to the Leetcode Solution with proper Comments explaining the program and Time/Space Complexities if Applicable. And make changes in the correct folder.

[2020-10-05 19:05] JOKUE2002 opened #11 "454 | 4 Sum II | JAVA"
## **`Medium rated challenge no. 454`**

**What will change**

The solution to the challenge no. 454 will be added, which requires the code to find all the specific tuples in a set of four one dimensional arrays.

### Type of Issue

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

- [ ] Python
- [ ] C++
- [x] Java

### Self Check

-

[2020-10-05 19:06] JOKUE2002 commented on #11
I would love to claim this one myself 😅

[2020-10-05 19:12] Yashica7 commented on #11
Assigning to @JOKUE2002

[2020-10-05 19:18] VIPUL662 commented on #9
i have solved please check.
[longest_substring.zip](https://github.com/SHY-Corp/LeetCode-Solutions/files/5329604/longest_substring.zip)

[2020-10-05 19:25] SSKale1 commented on #9
@VIPUL662 We can't add this to the Repo. You will have to make a Pull Request. Go through the contribution guidelines, contact us if you need any help.

[2020-10-05 19:39] DarkWarrior703 opened #14 "5 | Longest Palindromic Substring | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:s

[2020-10-05 19:55] danieljo09 commented on #14
Hi Can I work on this?

[2020-10-05 20:06] #11 closed

[2020-10-05 20:07] SSKale1 commented on #14
@danieljo09 this issue will be assigned to @DarkWarrior703 you can create another issue for any other problem. Just make sure you read and follow the contribution Guidelines.

[2020-10-05 20:08] Yashica7 commented on #14
@DarkWarrior703 We'll be assigning this issue to u for now, please wait for the assignment before pulling a request from next time, Thanks

[2020-10-05 20:23] JOKUE2002 opened #18 "215 | Kth largest Element in an Array | Java"
## **`Challenge No. 215 - finding the Kth largest Element in an Array`** -

**What will change** -

The solution for the challenge 215 named "Kth Largest Element in an Array" will be provided.

### Type of Issue -

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

- [ ] Python
- [ ] C++
- [x] Java

### Self Check

- Ask for issue assi

[2020-10-05 20:24] JOKUE2002 commented on #18
I would love to take this one too.

[2020-10-05 20:34] AryashDubey commented on #18
Hey Can I do this Please !?

[2020-10-06 03:39] devesh-badal commented on #18
hey, i would love to solve this issue.

[2020-10-06 03:49] SSKale1 commented on #18
- [x] Assigned to @JOKUE2002 . On the basis of issue creation.

[2020-10-06 03:50] SSKale1 commented on #18
@AryashDubey  & @devesh-badal you can create issue for any other problem.

[2020-10-06 04:37] ricky1812 opened #20 "Longest valid parenthesis"

[2020-10-06 04:38] ricky1812 commented on #20
problem 32 from leetcode

[2020-10-06 04:42] #20 closed

[2020-10-06 04:48] ricky1812 opened #21 "32 | Longest Valid Parenthesis | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file i

[2020-10-06 04:48] ricky1812 commented on #21
i want to work on it

[2020-10-06 04:50] SSKale1 commented on #21
- [x] Assigning to @ricky1812 .

[2020-10-06 06:28] SSKale1 commented on #8
@VIPUL662 you need to Make a PR and reference this issue number for it to get merged.

[2020-10-06 06:39] #7 closed

[2020-10-06 07:03] #21 closed

[2020-10-06 07:49] JOKUE2002 opened #24 "626 | Exchange Seats | SQL"
## **`Add some Databases to the mix`** - Challenge 626

**What will change** - The challenge no. 626 from the Databases category will be added

### Type of Issue

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

- [ ] Python
- [ ] C++
- [ ] Java
- [x] MySQL

### Self Check

- Ask for issue assignment before making Pull Request.
- Add

[2020-10-06 07:49] JOKUE2002 commented on #24
I would love to make the start with this SQL-Challenge.

[2020-10-06 07:56] Yashica7 opened #25 "1051 | Height Checker | C++"
## **`Title`** -

**1051. Height Checker** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- [x] Ask for issue assignment before making Pull Request.
- [x] Add your file in the proper folder
- [x] Clean Code` and `Documentation` for better readabil

[2020-10-06 08:09] ricky1812 opened #26 "72 | Edit Distance | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `C

[2020-10-06 08:12] ricky1812 commented on #26
I want to work on it.

[2020-10-06 09:26] AryashDubey commented on #26
Hey Can I work On it

[2020-10-06 10:17] nayanika0208 commented on #26
hey Can i work on this issue??

[2020-10-06 10:18] dsibilio opened #28 "4 | Median of Two Sorted Arrays | Java"
## **`4 | Median of Two Sorted Arrays | Java`** -

**What will change** -

Add Java solution to the LeetCode problem: **4. Median of Two Sorted Arrays**

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Pytho

[2020-10-06 10:18] gadm21 opened #29 "4 | MedianOfTwoSortedArrays | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file i

[2020-10-06 10:19] gadm21 commented on #29
I want to work on this problem.

[2020-10-06 10:25] Rohit-varma commented on #29
I want to work on this problem, can you assign me?

[2020-10-06 10:27] Pradyuman7 commented on #28
I can work on this issue. @dsibilio would it be possible to assign this to me?

[2020-10-06 10:28] Yashica7 commented on #29
- [x]  Assigned to @gadm21

[2020-10-06 10:29] dsibilio commented on #28
This issue should already be solved by PR #30
You can go ahead and create clones of this issue for a different programming language 👍

[2020-10-06 10:31] Yashica7 commented on #26
- [x] Assigned to @ricky1812

[2020-10-06 10:31] Pradyuman7 opened #31 "42 | Trapping rain water | Java"
## **`Trapping rain water`** -

**What will change** -
Java code for problem 42 Trapping rain water will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [x] Java

### Self Check

[2020-10-06 10:33] DarkWarrior703 opened #32 "1009 | Complement of Base 10 Integer | C++"
## Complement of Base 10 Integer

**What will change** -

### Type of Issue -
- [x] Adding New Code

### Programming Language
[x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knife:Fork it

[2020-10-06 10:34] Pradyuman7 commented on #31
@SSKale1 would it be possible to assign this issue to me?

[2020-10-06 10:34] DarkWarrior703 opened #33 "933 | Number of Recent Calls | 933"
## Number of Recent Calls

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Descript

[2020-10-06 10:38] VishalAmbavade commented on #25
Hi @Yashica7 , I would like to wok on this issue.

[2020-10-06 10:59] VishalAmbavade commented on #25
Here's the link to the code: https://github.com/VishalAmbavade/Hacktoberfest/blob/main/heightChecker.cpp

[2020-10-06 11:05] VishalAmbavade commented on #33
Hi @DarkWarrior703, I'm interested to work on this issue.

[2020-10-06 11:10] VishalAmbavade commented on #33
Here's the link to the code: https://github.com/VishalAmbavade/Hacktoberfest/blob/main/recentCalls.cpp

[2020-10-06 11:17] aditsawant commented on #25
@Yashica7 hey there,
I would like to be assigned to this issue :)
Thanks!

[2020-10-06 11:17] VishalAmbavade commented on #32
Hi @DarkWarrior703, i would like to work on this issue.

[2020-10-06 11:18] aditsawant commented on #9
If the issue is still unresolved, I'd love to help out!
Please assign it to me, thanks!

[2020-10-06 11:19] Yashica7 commented on #32
@DarkWarrior703 I have assigned you for now but please wait to get assigned next time before you make a pull request, it'll help us in reviewing

[2020-10-06 11:20] aditsawant commented on #31
@SSKale1 @Yashica7
I would love to help. Can you please assign this issue to me?
Thanks!

[2020-10-06 11:24] aditsawant commented on #28
Hey @dsibilio, I'd love to help.
Can you please assign this issue to me?
Thanks

[2020-10-06 11:24] SSKale1 commented on #24
Good Going @JOKUE2002 .
- [x] Assigning to @JOKUE2002

[2020-10-06 11:25] #14 closed

[2020-10-06 11:25] Rohit-varma commented on #29
Can you assign me this issue, I have already created a pull request, please check that, my code takes case of all corner cases

[2020-10-06 11:26] VishalAmbavade commented on #32
@DarkWarrior703 here's the code: https://github.com/VishalAmbavade/Hacktoberfest/blob/main/complementBinary.cpp

[2020-10-06 11:26] aditsawant commented on #10
If the issue is unresolved, I'd love to help

[2020-10-06 11:26] SSKale1 commented on #28
- [x] Assigning to @dsibilio

[2020-10-06 11:29] JOKUE2002 commented on #10
Please give @atingarg1406 some time to solve this issue and create a pull request before asking for it.

In the mean time you could create an own issue for a coding-challenge that sparks your interest.

[2020-10-06 11:30] devesh-badal opened #38 "326 | Power of Three | C++"
## **`Title`** - challenge no. 326 - Power of Three

**What will change** - The solution for the problem will be provided.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java

### Se

[2020-10-06 11:33] SSKale1 commented on #24
@JOKUE2002  Just Make Sure you make a new directory.

[2020-10-06 11:34] JOKUE2002 commented on #24
Sure 👍

[2020-10-06 11:37] SSKale1 commented on #25
PR Merged closing issue.

[2020-10-06 11:37] #25 closed

[2020-10-06 11:37] PrathamesR commented on #38
I can solve this problem, can I be assigned to do it?

[2020-10-06 11:40] devesh-badal commented on #38
@SSKale1 I would like to work on this issue.

[2020-10-06 11:43] Yashica7 commented on #38
- [x] Assigned to @devesh-badal

[2020-10-06 11:45] Yashica7 commented on #33
@DarkWarrior703 I have assigned you for now but please wait to get assigned next time before you make a pull request, it'll help us in reviewing

[2020-10-06 11:54] SSKale1 commented on #31
- [x] Assigning to @Pradyuman7 for issue creation.

[2020-10-06 11:55] SSKale1 commented on #31
@aditsawant You can make any other issue.

[2020-10-06 11:55] aditsawant opened #39 "1288 | Remove Covered Intervals | C++"
## **`Title`** - Problem No. 1288 | Leetcode | C++

**What will change** -
A properly commented and efficient solution will be added to the aforementioned problem.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

[2020-10-06 11:55] aditsawant commented on #39
Please assign it to me

[2020-10-06 11:56] SSKale1 commented on #39
- [x] Assigning to @aditsawant .

[2020-10-06 11:57] #18 closed

[2020-10-06 12:06] #28 closed

[2020-10-06 12:15] #39 closed

[2020-10-06 12:17] #31 closed

[2020-10-06 12:21] #24 closed

[2020-10-06 12:24] Pradyuman7 opened #44 "23 | Merge k Sorted Lists | Java"
## **`Merge k Sorted Lists`** -

**What will change** -
Solution to problem 23 Merge k Sorted Lists will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [x] Java

### Self Check

[2020-10-06 12:25] Pradyuman7 commented on #44
@Yashica7 could you please assign this issue to me?

[2020-10-06 12:52] #38 closed

[2020-10-06 13:06] aditsawant opened #45 "701 | Insert into a Binary Search Tree | C++"
## **`Title`** - 701 | Insert into a Binary Search Tree | C++

**What will change** -
Adding a solution to this Leetcode problem.
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
-

[2020-10-06 13:06] aditsawant commented on #45
Please assign it to me

[2020-10-06 13:12] Yashica7 commented on #45
- [x] @aditsawant Assigned

[2020-10-06 13:22] aditsawant opened #46 "41 | First Missing Positive | C++"
## **`Title`** - 41 | First Missing Positive | C++

**What will change** -
Adding a solution to this problem.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self

[2020-10-06 13:22] aditsawant commented on #46
Please assign it to me.

[2020-10-06 13:30] Abhi-thecoder commented on #44
Please Assign it to me

[2020-10-06 13:52] hjpassion commented on #46
please assign some tasks to me

[2020-10-06 14:44] Yashica7 opened #51 "941 | Valid Mountain Array | C++"
## **`Title`** - Valid Mountain Array

**What will change** - New added code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- [x] Ask for issue assignment and wait to get assigned to it b

[2020-10-06 14:46] #45 closed

[2020-10-06 14:47] Yashica7 commented on #46
@aditsawant Assigned it to you, make sure only this code is committed in the pull request, Thanks

[2020-10-06 14:49] Yashica7 commented on #46
@hjpassion Sure, make an Issue for whichever Leetcode Solution you'd like to contribute and see to it that no one else has done it

[2020-10-06 14:57] Yashica7 commented on #29
@Rohit-varma Hi since this Issue has already been assigned to @gadm21 ,  you can create another Issue and wait for it to be assigned to you and only after that you can make a Pull Request

[2020-10-06 14:59] #29 closed

[2020-10-06 15:04] Yashica7 commented on #44
- [x]  @Pradyuman7 Assigned it to you since you have made this Issue

[2020-10-06 15:06] Yashica7 commented on #44
@Abhi-thecoder Hi, you can create some other Issue since this has been assigned to someone else, thanks

[2020-10-06 15:12] #51 closed

[2020-10-06 15:32] wpedrak opened #57 "205 | Isomorphic Strings | Python"
## **`Title`** - 205. Isomorphic Strings

**What will change** - Adding solution

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

[2020-10-06 15:33] wpedrak commented on #57
Please assign it to me.

[2020-10-06 15:35] SSKale1 commented on #57
- [x] Assigning to @wpedrak

[2020-10-06 15:37] Abhi-thecoder commented on #44
Sorry, I will take care from next time.

[2020-10-06 15:40] #9 closed

[2020-10-06 15:45] VIPUL662 commented on #26
i can solve this please assign it to me.

[2020-10-06 15:46] aniakubik opened #59 "263 | Ugly Number | Python"
## **`Title`** - 263. Ugly Number

**What will change** - Adding solution

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

[2020-10-06 16:00] gadm21 opened #60 "543 | DiameterOfBinaryTree | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before mak

[2020-10-06 16:05] gadm21 opened #64 "540 | SingleElementInSortedArray | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before mak

[2020-10-06 16:34] wpedrak opened #65 "977 | Squares of a Sorted Array| Python"
## **`Title`** - 977. Squares of a Sorted Array

**What will change** - Solution of problem 977 in python

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Chec

[2020-10-06 16:34] wpedrak commented on #65
Please assign me

[2020-10-06 16:39] SSKale1 commented on #65
- [x]  Assigned to @wpedrak

[2020-10-06 16:39] wpedrak opened #66 "225 | Implement Stack using Queues | Python"
## **`Title`** - 225. Implement Stack using Queues

**What will change** - Add solution to 225 in python

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

[2020-10-06 16:39] wpedrak commented on #66
Please assign me

[2020-10-06 16:40] SSKale1 commented on #64
- [x] Assigned to @gadm21

[2020-10-06 16:41] SSKale1 commented on #60
- [x] Assigned to @gadm21

[2020-10-06 16:41] SSKale1 commented on #59
- [x] Assigned to @aniakubik

[2020-10-06 16:42] SSKale1 commented on #66
- [x] Assigned to @wpedrak

[2020-10-06 16:43] chehak123 commented on #66
Please assign it to me

[2020-10-06 16:43] #44 closed

[2020-10-06 16:47] #57 closed

[2020-10-06 16:50] chehak123 commented on #65
Please assign to me also

[2020-10-06 16:51] #26 closed

[2020-10-06 16:51] chehak123 commented on #59
Please assign to me also

[2020-10-06 16:51] chehak123 commented on #8
Please assign to me also

[2020-10-06 16:52] chehak123 commented on #46
Please assign to me also

[2020-10-06 16:52] chehak123 commented on #64
Please assign to me also

[2020-10-06 16:53] #64 closed

[2020-10-06 16:56] SSKale1 commented on #8
@chehak123 we're assigning 1 issue per person. You can create any other issue you would like.

[2020-10-06 17:10] aniakubik opened #71 "500 | Keyboard Row | Python"
## **`Title`** - 500. Keyboard Row

**What will change** - Adding a solution.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

[2020-10-06 17:10] aniakubik commented on #71
Please assign me.

[2020-10-06 17:12] aniakubik opened #72 "1189 | Maximum Number of Balloons | Python"
## **`Title`** - 1189. Maximum Number of Balloons

**What will change** - Adding a solution.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

[2020-10-06 17:13] aniakubik commented on #72
Please assign me.

[2020-10-06 17:15] SSKale1 commented on #72
- [x] Assigned to @aniakubik

[2020-10-06 17:16] SSKale1 commented on #71
- [x] Assigned to @aniakubik

[2020-10-06 17:17] #60 closed

[2020-10-06 17:18] #59 closed

[2020-10-06 17:19] #65 closed

[2020-10-06 17:31] gadm21 opened #73 "202 | HappyNumber | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before mak

[2020-10-06 17:35] gadm21 commented on #73
Please assign me to this problem

[2020-10-06 17:38] Shrirang97 opened #75 "35 | Search Insert Position | Java"
## **`Title -  35.Search Insert Position`**

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [] C++
- [x] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to ge

[2020-10-06 17:38] Shrirang97 commented on #75
Assign to me!

[2020-10-06 17:46] yfancc20 opened #77 "42 | Trapping Rain Water | C++"
## **`Title`** - 42 | Trapping rain water

**What will change** -
C++ code for problem 42 Trapping rain water will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ]

[2020-10-06 17:47] yfancc20 commented on #77
Hi, can this be assigned to me? thanks.

[2020-10-06 18:10] Shrirang97 opened #78 "42 | Trapping Rain Water | Python"
## **`Title - 42. Trapping Rain Water `**

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get

[2020-10-06 18:10] Shrirang97 commented on #78
Assign to me!

[2020-10-06 18:21] aniakubik opened #79 "504 | Base 7 | Python"
## **`Title`** - 504. Base 7

**What will change** - Adding a solution

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and w

[2020-10-06 18:21] aniakubik commented on #79
Please assign me.

[2020-10-06 18:31] IshaanSinghal1 opened #81 "1510 | Stone Game IV | Java"
## **`Title`** - 1510 | STONE GAME IV

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [] C++
- [x] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assi

[2020-10-06 18:31] IshaanSinghal1 commented on #81
Assign this to me.

[2020-10-06 19:04] wpedrak opened #82 "1356 | Sort Integers by The Number of 1 Bits | Python"
## **`Title`** - 1356. Sort Integers by The Number of 1 Bits

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue as

[2020-10-06 19:04] wpedrak commented on #82
Please assign me

[2020-10-06 19:07] abhi2694 opened #83 "124 | Binary Tree Maximum Path Sum | Java"
## **` Binary Tree Maximum Path Sum`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [x] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to

[2020-10-06 19:08] abhi2694 commented on #83
@SSKale1 I would like to take this up.

[2020-10-06 19:13] AryashDubey commented on #83
Please Assign Me!

[2020-10-06 19:21] ChakPC opened #84 "175 | Combine Two Tables | MySQL"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [ ] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-06 19:23] ChakPC commented on #84
I would like to contribute by adding my solution to this problem

[2020-10-06 19:29] hjpassion opened #85 "Problem Number | Title | Language"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [ ] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-06 19:31] hjpassion opened #86 "Problem Number | Title | Language"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [ ] Adding New Code
- [x] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [ ] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-06 19:43] ChakPC opened #87 "181 | Employees Earning More Than Their Managers | SQL"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [ ] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-06 19:45] ChakPC commented on #87
I am really eager to submit my solution to this problem...Please allow me to generate a pull request regarding this

[2020-10-06 20:09] vijay5158 opened #88 "44 | Wildcard Matching | Python"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-06 20:09] vijay5158 commented on #88
Please assign this to me

[2020-10-06 20:52] onericky commented on #86
I would like to try this issue

[2020-10-06 21:47] anthonybench commented on #59
I'd love to be assigned to this please!

[2020-10-06 22:29] DCCollao opened #89 "2 | Add Two Numbers | Python"
## **`Fixing Add Two Numbers solution`** -

**What will change** -
Current solution does not really solve the problem. I will add my own solution.
### Type of Issue -

- [x] Adding New Code
- [x] Improving Code
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

[2020-10-06 22:32] patelviralb opened #90 "1315 | Sum of Nodes with Even-Valued Grandparent | Java"
## **`Title`** - [**`1315. Sum of Nodes with Even-Valued Grandparent`**](https://leetcode.com/problems/sum-of-nodes-with-even-valued-grandparent/)

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and

[2020-10-06 22:33] patelviralb commented on #90
Please assign to me

[2020-10-06 22:36] patelviralb opened #91 "647 | Palindromic Substrings | Java"
## **`Title`** - [**`647. Palindromic Substrings`**](https://leetcode.com/problems/palindromic-substrings/)

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before maki

[2020-10-06 22:36] patelviralb commented on #91
Please assign to me

[2020-10-06 22:38] patelviralb opened #92 "516 | Longest Palindromic Subsequence | Java"
## **`Title`** - [**`516. Longest Palindromic Subsequence`**](https://leetcode.com/problems/longest-palindromic-subsequence/)

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned

[2020-10-06 22:38] patelviralb commented on #92
Please assign to me

[2020-10-06 22:40] DCCollao commented on #89
Please assign to me

[2020-10-06 22:42] patelviralb opened #93 "invalid"
## **`Title`** - [**`3. Longest Substring Without Repeating Characters`**](https://leetcode.com/problems/longest-substring-without-repeating-characters/)

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignm

[2020-10-06 22:42] patelviralb commented on #93
Please assign to me

[2020-10-06 22:48] Ares358 opened #94 "7 | Reverse Integer | Python"
## **`7 | Reverse Integer | Python`** -

**What will change** -

Add Python solution to the LeetCode problem: 7. Reverse Integer

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better r

[2020-10-06 22:49] Ares358 commented on #94
Can I be assigned this?
Thnx!

[2020-10-06 23:42] MaChimal commented on #89
I just need to improve and document the solution you already gave?

[2020-10-06 23:49] DCCollao commented on #89
The current solution does not solve the problem listed in LeetCode. I'm asking the repo owner to allow me to make a PR fixing this problem.

[2020-10-07 01:19] ricky1812 opened #95 "87 | Scramble String | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-07 01:19] ricky1812 commented on #95
I want to work on this issue.

[2020-10-07 01:28] AjayArvind2207 commented on #94
I would love to be assigned this!
Thanks in advance :)

[2020-10-07 02:03] andresq opened #96 "50 | Pow(x, n) | Java"
## **`50. Pow(x, n) | Java`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Do

[2020-10-07 02:04] andresq commented on #96
I will work on this

[2020-10-07 03:31] PravunathSingh opened #97 "8 | Palindrome checker for strings | Python"
## **`Title`** -

**We will check if a given string is a palindrome or not**

### Type of Issue   ##-

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x]  #Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper

[2020-10-07 03:33] jessicasalbert commented on #97
I can work on this if you don't mind assigning it to me. Thanks!

[2020-10-07 03:34] PravunathSingh commented on #97
Hey, @SSKale1 I have created this issue and I would like to work on it. Thanks!

[2020-10-07 03:52] #10 closed

[2020-10-07 03:53] #46 closed

[2020-10-07 03:55] #71 closed

[2020-10-07 03:59] #72 closed

[2020-10-07 04:02] #66 closed

[2020-10-07 04:03] Yashica7 commented on #77
- [x] @yfancc20 Assigned it you

[2020-10-07 04:04] SSKale1 commented on #85
@hjpassion what are you trying to do?? You have to fill in the template with proper details.

[2020-10-07 04:04] #85 closed

[2020-10-07 04:05] SSKale1 commented on #75
@Shrirang97 Just make an issue for 1 Language at a time. You can create a separate issue for another language.
Edit the Issue for now.

[2020-10-07 04:06] SSKale1 commented on #78
- [x] Assigned to @Shrirang97

[2020-10-07 04:06] SSKale1 commented on #79
- [x] Assigned to @aniakubik

[2020-10-07 04:06] Yashica7 commented on #81
- [x] Assigned you for this @IshaanSinghal1

[2020-10-07 04:08] Yashica7 commented on #88
- [x] Assigned @vijay5158

[2020-10-07 04:08] SSKale1 commented on #83
- [x] Assigning to @abhi2694 for issue creation.

[2020-10-07 04:09] SSKale1 commented on #84
- [x] Assigned to @ChakPC

[2020-10-07 04:10] SSKale1 commented on #94
- [x] Assigned to @Ares358 for issue creation.

[2020-10-07 04:12] SSKale1 commented on #94
@AjayArvind2207 you can create any another issue and ask to be assigned to it.

[2020-10-07 04:12] SSKale1 commented on #97
- [x] Assigning to @PravunathSingh for issue creation.

[2020-10-07 04:13] SSKale1 commented on #97
@jessicasalbert you can create another issue and ask to be assigned to it. There are a lot of problems available anyway.

[2020-10-07 04:13] Yashica7 commented on #96
- [x] Assigned @andresq

[2020-10-07 04:14] Rohit-varma commented on #95
I want to work on this issue @ricky1812 can you please assign me?

[2020-10-07 04:14] SSKale1 commented on #89
- [x] Assigned to @DCCollao

[2020-10-07 04:16] SSKale1 commented on #86
@hjpassion You need to mention the Problem Number, Title & Language in the title and make an issue. This is an invalid issue.

[2020-10-07 04:16] #86 closed

[2020-10-07 04:18] SSKale1 commented on #87
- [x] Assigning to @ChakPC

[2020-10-07 04:18] Yashica7 commented on #90
- [x] Assigned @patelviralb

[2020-10-07 04:19] Yashica7 commented on #91
- [x] Assigned @patelviralb

[2020-10-07 04:24] Shrirang97 commented on #75
Ok.

[2020-10-07 04:25] Yashica7 commented on #95
- [x] Assigned @ricky1812

[2020-10-07 04:31] SSKale1 commented on #82
@wpedrak let's cool down for a while let others contribute to some issue.

[2020-10-07 04:32] #94 closed

[2020-10-07 04:37] Vrindagupta6828 opened #101 "14 | Longest Common Prefix | Java"
## **`Title`** -  Write a function to find the longest common prefix string amongst an array of strings.

If there is no common prefix, return an empty string "".

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issu

[2020-10-07 04:38] Vrindagupta6828 commented on #101
I want to work on this.

[2020-10-07 04:59] chiillax commented on #101
I am interested to contribute.

[2020-10-07 05:01] Vrindagupta6828 commented on #101
@chiillax please create your own issue

[2020-10-07 05:10] chiillax opened #102 "994 | Rotting Oranges | Cpp | Python | Java"
## In a given grid, each cell can have one of three values:

the value 0 representing an empty cell;
the value 1 representing a fresh orange;
the value 2 representing a rotten orange.
Every minute, any fresh orange that is adjacent (4-directionally) to a rotten orange becomes rotten.

Return the minimum number of minutes that must elapse until no cell has a fresh orange.  If this is impossible, re

[2020-10-07 05:17] princekalra commented on #101
want to contribute

[2020-10-07 05:25] chiillax commented on #102
I want to work on it.

[2020-10-07 05:25] Kingal1337 opened #103 "12 | Integer to Roman| Java"
## **`Integer to Roman`** -
The program will convert an integer into a roman numeral
**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add y

[2020-10-07 05:25] Rohit-varma opened #105 "142 | Linked List Cycle | C++"
## **`Linked List Cycle`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Documentation
- [ ] Improving Code
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigne

[2020-10-07 05:26] Kingal1337 opened #106 "13 | Roman To Integer | Java"
## **`Roman To Integer`** -
This program will convert a roman numeral into an integer
**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add

[2020-10-07 05:28] Rohit-varma commented on #105
Hi @Yashica7 ,Can you assign this issue to me, I am willing to contribute

[2020-10-07 05:34] #88 closed

[2020-10-07 05:36] chiillax commented on #102
Please checkout #108

[2020-10-07 06:21] SSKale1 commented on #102
Please create a single issue per language and code. Also go through the Contribution guidelines and follow the required formats.

[2020-10-07 06:21] #102 closed

[2020-10-07 06:22] SSKale1 commented on #101
- [x] Assigned to @Vrindagupta6828 for issue creation

[2020-10-07 06:26] #84 closed

[2020-10-07 06:46] JayeshSareen opened #114 "137 | Single Number II | Python"
Single Number II

**What will change** -

### Type of Issue -

-  Adding New Code

### Programming Language

-  Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_a

[2020-10-07 06:52] Nithin005 commented on #114
plz assign it to me

[2020-10-07 06:52] SankethGB commented on #78
Can I write a C++ code for the same problem? Should I raise another issue or can you assign me to the same and I contribute?

[2020-10-07 06:55] JayeshSareen commented on #114
Actually I want to do this. Please let me work on this

[2020-10-07 06:57] SSKale1 commented on #78
@SankethGB you can raise another issue. Just check that it doesn't already exist

[2020-10-07 06:59] guygreenleaf commented on #106
Hi there,

I can do this in C++ , feel free to assign me :)

[2020-10-07 07:06] SSKale1 commented on #106
@guygreenleaf you can create another issue for the same and we'll assign it to you.

[2020-10-07 07:19] akash02ab opened #116 "5 | Longest Palindromic Substring | Python"
## **`Title`** - Longest Palindromic Substring

**What will change** -  LeetCode-Solutions/Python/

### Type of Issue

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `De

[2020-10-07 07:36] hjpassion commented on #116
please assign it to me i want to add some solution to this program

[2020-10-07 08:00] agrawaladitya192 opened #118 "322 | Coin Change | C++"
## **`Title`** - 322 Coin Change

Add Solution to Problem Coin Change

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in t

[2020-10-07 08:02] taneemishere commented on #106
I can do this... Let this assign to me.

[2020-10-07 08:07] Pranit5895 commented on #101
want to contribute

[2020-10-07 08:09] Pranit5895 commented on #32
i would like to work for this issue

[2020-10-07 08:11] agrawaladitya192 commented on #118
Please assign me to this problem.

[2020-10-07 08:12] H4D3N commented on #118
Please assign this issue to me, I am willing to contribute

[2020-10-07 08:13] Pranit5895 commented on #118
please assign me to this problem

[2020-10-07 08:13] H4D3N commented on #73
Please assign this issue to me, I am willing to contribute

[2020-10-07 08:21] JasirZaeem opened #119 "203 | Remove Linked List Elements | C++"
## **`Remove Linked List Elements`** -

**What will change** - Add solution

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `

[2020-10-07 08:21] JasirZaeem commented on #119
I would like to be assigned this.

[2020-10-07 08:22] Aditya489 commented on #101
i want to contribute in it!

[2020-10-07 08:23] Aditya489 commented on #116
i want to contribute in it!

[2020-10-07 08:27] Bhavya-Tripathi commented on #118
I would like to be assigned to this problem

[2020-10-07 08:34] Bhavya-Tripathi commented on #82
I would like to contribute a solution in python. Please assign it to me

[2020-10-07 08:42] hjpassion commented on #82
please assign some tasks with me i want to contribute in this event

[2020-10-07 08:43] H4D3N commented on #119
Can i be assigned for this. i would like to solve this problem in c++ with a proper documentation

[2020-10-07 08:43] hjpassion commented on #83
if there is any part left in this project i would love to contribute please assign if its possible

[2020-10-07 08:45] hjpassion commented on #77
is anything left for me in this task then please assign it to me i am looking for issues where i can contribute

[2020-10-07 08:46] hjpassion commented on #119
if there is any task left here then please give me an opportunity to try

[2020-10-07 09:11] #81 closed

[2020-10-07 09:15] #87 closed

[2020-10-07 09:17] #101 closed

[2020-10-07 09:20] #103 closed

[2020-10-07 09:23] #105 closed

[2020-10-07 09:26] #77 closed

[2020-10-07 09:27] agsanskar15 opened #123 "733 | Flood Fill | C++"
## **`Title`** - Flood Fill

**What will change** - This program will perform the Flood Fill algorithm.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your fi

[2020-10-07 09:27] SSKale1 commented on #73
- [x] Assigned to @gadm21 for issue creation.

[2020-10-07 09:28] SSKale1 commented on #82
- [x] Assigning to @Bhavya-Tripathi

[2020-10-07 09:29] agsanskar15 commented on #123
Hi there! Assign this to me.

[2020-10-07 09:35] SSKale1 commented on #114
- [x] Assigning to @JayeshSareen for issue creation

[2020-10-07 09:36] SSKale1 commented on #116
- [x] Assigned to @akash02ab for issue creation

[2020-10-07 09:38] Yashica7 commented on #118
- [x] @agrawaladitya192 Assigned it to u

[2020-10-07 09:39] SSKale1 commented on #119
@hjpassion there are a about 1600 problems on https://leetcode.com/problemset/all/ you can take up any one and create an issue for it following the proper format according to the contribution guidelines.

[2020-10-07 09:40] SSKale1 commented on #119
- [x] Assigning to @JasirZaeem for issue creation

[2020-10-07 09:40] PrithirajN opened #124 "122| Best Time To Buy And Sell Stock II | Python"
## **`Title`** - Best Time To Buy And Sell Stock II

**What will change** - Implemented using Dynamic Programming

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.

[2020-10-07 09:41] SSKale1 commented on #119
@H4D3N you can select any LC problem and create an issue for the same.

[2020-10-07 09:42] Nithin005 commented on #114
bruh i asked first. orelse he must have mentioned that he is doing this during issue creation.

[2020-10-07 09:48] SSKale1 commented on #114
@Nithin005 The first preference will be given to the issue creator, always.

[2020-10-07 09:51] #124 closed

[2020-10-07 09:52] H4D3N commented on #123
Please assign me this problem i am willing to to contribute in it

[2020-10-07 09:56] SSKale1 commented on #92
- [x] Assigning to @patelviralb for issue creation.

[2020-10-07 09:56] SSKale1 commented on #123
@H4D3N you can create your own issue.

[2020-10-07 10:06] Vicky-Jha opened #125 "477 | Total Hamming Distance | C++"
## **`Title`** - Total Hamming Distance

**What will change** - Add Solution

### Type of Issue - Adding New Code

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get a

[2020-10-07 10:06] OMEGAeNcore commented on #116
please can you assign this to me?

[2020-10-07 10:07] Vicky-Jha commented on #125
Please assign me this issue @SSKale1

[2020-10-07 10:11] OMEGAeNcore commented on #114
Can I be assigned to this?

[2020-10-07 10:22] Hutcheeran commented on #106
Hiya! Can you assign this to me?

[2020-10-07 10:28] #79 closed

[2020-10-07 10:30] Yashica7 commented on #125
@Vicky-Jha Assigning it to u for now, but from next time please wait to get assigned before you make a pull request

[2020-10-07 10:46] OMEGAeNcore commented on #82
I can use java for this. Please assign me this.

[2020-10-07 10:54] DOCTSTR opened #129 "9| Palindrome Number| Python"
## **`9| Palindrome Number| Python`** -

**What will change** -
Added Python solution to the LeetCode problem: 9. Palindrome Number
### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better

[2020-10-07 10:56] DOCTSTR commented on #129
Can you assign this to me?
Thanks

[2020-10-07 11:02] utkarsh48 commented on #129
I want to contribute to this!

[2020-10-07 11:05] shevya06 commented on #96
I would like to work on this

[2020-10-07 11:05] shevya06 commented on #93
I would like to do this

[2020-10-07 11:08] Vicky-Jha commented on #125
Yes, i understood @Yashica7

[2020-10-07 11:10] samjones246 commented on #129
I'd like to be assigned to this please :)

[2020-10-07 11:13] Rohit-varma commented on #105
@SSKale1 , I just a small doubt my PR was not tagged with the "hacktoberfest" tag, is it needed that you do it explicitly? or since the repository is tagged with "hacktoberfest" label, there is no need of it?

[2020-10-07 11:17] OMEGAeNcore commented on #92
Please assign this to me

[2020-10-07 11:26] rsrahul1000 commented on #93
Hi @Yashica7 , would you please assign this to me? I've already started solving this problem..

[2020-10-07 11:30] OMEGAeNcore commented on #129
Please assign me to this

[2020-10-07 11:41] OMEGAeNcore opened #132 "215 | Kth Largest Element in an Array | Python"
## **`Title`** - 215. Kth Largest Element in an Array

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] Java
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your fil

[2020-10-07 11:41] OMEGAeNcore commented on #132
Please assign me this.

[2020-10-07 11:49] H4D3N commented on #123
Thanks @SSKale1 for the info

[2020-10-07 11:59] hjpassion commented on #132
please assign atleast this one with me because i m  not able to get any of the tasks

[2020-10-07 12:00] hjpassion opened #134 "Problem Number | Title | Language"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-07 12:01] #134 closed

[2020-10-07 12:02] adhamale2810 commented on #114
Please assign it to me. I will give my best for the contribution.
Thank You.

[2020-10-07 12:02] hjpassion commented on #129
please assign me some tasks

[2020-10-07 12:03] hjpassion commented on #125
please assign it to me @SSKale1

[2020-10-07 12:06] hjpassion opened #135 "38 | Count and Say | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your

[2020-10-07 12:07] hjpassion commented on #135
please assign me this issue @SSKale1

[2020-10-07 12:55] sunil-17112 commented on #135
please assign me this issue

[2020-10-07 13:09] sark-2110 commented on #135
Can you assign me this issue?  I have solved the problem and have a good solution for it in C++.

[2020-10-07 13:35] Shashank2409 commented on #135
Could you please assign me for this one? I have a C++ recursive code for this problem. My code runs faster than 100% of the cpp solutions and beats the memory usage of 53.79% of cpp solutions on Leetcode.

[2020-10-07 13:42] Shashank2409 opened #140 "1557 | Minimum Number of Vertices to Reach All Nodes | C++"
## **`Minimum Number of Vertices to Reach All Nodes`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to i

[2020-10-07 13:43] Shashank2409 commented on #140
Could I get assigned to solve this problem?

[2020-10-07 14:17] shevya06 opened #141 "22 | Generate Parentheses| Java"
Generate Parentheses

### Type of Issue -

- [x] Adding New Code

**Programming language**

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knife:Fork it

[2020-10-07 14:17] shevya06 commented on #141
I would like to contribute this

[2020-10-07 14:45] PrinceKhatick commented on #141
I would like to contribute to this ...

[2020-10-07 14:48] prikshitsetia commented on #129
Hey I would like to contribute to this

[2020-10-07 14:49] prikshitsetia commented on #116
Hey, I would like to contribute to this

[2020-10-07 15:22] SaimantikaBasu opened #142 "14 | Longest Common Prefix | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` an

[2020-10-07 15:34] tejasbhale commented on #135
Kindly assign me this issue. I have an optimal C++ solution for this and since I'm new to open source, I'd like to start by contributing somewhere. Thank you!

[2020-10-07 15:43] tejasbhale opened #144 "20. Valid Parentheses | C++"
## **`Title`** -

### Type of Issue -

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language -

- [x]  C++

### Self Check

- [x]  Ask for issue assignment and wait to get assigned to it before making Pull Request.

- [x] Add your file in the proper folder

- [x] `Clean Code` and `Documentation` for better readability

- [x] Add `Title` an

[2020-10-07 15:44] tejasbhale commented on #144
please assign me to this issue

[2020-10-07 15:52] SSKale1 commented on #135
- [x] Assigning to @hjpassion for issue creation

[2020-10-07 15:53] SSKale1 commented on #135
@tejasbhale   you can create your own issue there are a lot of problems out there. Just go through the contribution guidelines.

[2020-10-07 15:56] SSKale1 commented on #93
@patelviralb we'll be assigning this to @shevya06 you cool off for a bit.

[2020-10-07 15:58] SSKale1 commented on #129
- [x] Assigned to @DOCTSTR for issue creation.

[2020-10-07 15:59] SSKale1 commented on #132
- [x] Assigned to @OMEGAeNcore for issue creation.

[2020-10-07 16:00] SSKale1 commented on #132
@hjpassion we've assigned you an issue.

[2020-10-07 16:00] SaimantikaBasu opened #146 "42| TrappingRainWater | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` an

[2020-10-07 16:02] SSKale1 commented on #141
- [x] Assigning to @shevya06 for issue creation.

[2020-10-07 16:05] SSKale1 commented on #146
This problem is already in the codebase

[2020-10-07 16:05] #146 closed

[2020-10-07 16:08] #125 closed

[2020-10-07 16:09] SusnatoPrime007 commented on #92
Please assign me to this please.

[2020-10-07 16:09] SusnatoPrime007 commented on #91
Please also assign me to this.

[2020-10-07 16:12] #82 closed

[2020-10-07 16:14] #118 closed

[2020-10-07 16:17] sabrajsab commented on #135
if it is still open issue, please assign it to me. I have an efficient solution in c++

[2020-10-07 16:19] JayeshSareen opened #150 "344 | Reverse String | Python"
Reverse String

### Type of Issue -

-  Adding New Code

### Programming Language

- Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knife:Fork it :handshake

[2020-10-07 16:19] JayeshSareen commented on #150
Please assign me question 344

[2020-10-07 16:22] psymbio commented on #101
I want to contribute solution 905 and 977 in Java.

[2020-10-07 16:27] SaimantikaBasu opened #153 "322 | CoinChange | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` an

[2020-10-07 16:30] SaimantikaBasu opened #156 "5 | LongestPalindromicSubstring |C++"
## **`LongestPalindromicSubstring`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper fo

[2020-10-07 16:33] HariKrishnaShivs commented on #156
Please assign this to me

[2020-10-07 16:37] HariKrishnaShivs commented on #156
Please assign this question No.5 to me

[2020-10-07 16:38] Rituraj-commits opened #158 "124 | Binary Tree Maximum Path Sum | C++"
## **`Title`** - Binary Tree Maximum Path Sum

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language C++

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in th

[2020-10-07 16:39] Rituraj-commits commented on #158
@SSKale1  please Assign me this

[2020-10-07 16:40] HariKrishnaShivs commented on #158
Assign this problem No.124 to me

[2020-10-07 16:49] #73 closed

[2020-10-07 16:50] #119 closed

[2020-10-07 16:52] #97 closed

[2020-10-07 16:54] #90 closed

[2020-10-07 16:55] #96 closed

[2020-10-07 16:56] SSKale1 commented on #114
@adhamale2810 you can create your own issue.

[2020-10-07 17:00] HariKrishnaShivs opened #160 "61 | Rotate List | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++
### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for

[2020-10-07 17:05] #106 closed

[2020-10-07 17:05] EANimesha commented on #150
I like to do it. Assign me

[2020-10-07 17:10] arron-tij commented on #153
I would like to work on this issue.

[2020-10-07 17:14] #140 closed

[2020-10-07 17:20] SSKale1 commented on #150
- [x] Assigning to @JayeshSareen for issue creation.

[2020-10-07 17:22] SSKale1 commented on #153
@SaimantikaBasu this problem already exists in the codebase.

[2020-10-07 17:22] #153 closed

[2020-10-07 17:23] SSKale1 commented on #156
@SaimantikaBasu this code already exists in the codebase.

[2020-10-07 17:23] #156 closed

[2020-10-07 17:25] tzvog opened #162 "162. | Find Peak Element | Python"
## **`Title`** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper f

[2020-10-07 17:25] wpedrak opened #163 "1232 | Check If It Is a Straight Line | Python"
## **`Title`** - 1232. Check If It Is a Straight Line

**What will change** - Add python solution for 1232

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Che

[2020-10-07 17:25] wpedrak commented on #163
PLease, assign to me

[2020-10-07 17:25] tzvog commented on #162
can you please assign me this issue?

[2020-10-07 17:32] #114 closed

[2020-10-07 17:33] #78 closed

[2020-10-07 17:33] daviduster opened #164 "3 | Longest Substring Without Repeating Characters | Python"
## **`Title`** - 3 | Longest Substring Without Repeating Characters | Python

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

-

[2020-10-07 17:34] daviduster commented on #164
Please, can you assign me this issue? Thanks!

[2020-10-07 17:35] #75 closed

[2020-10-07 17:57] wpedrak opened #169 "Typos and grammar"
## **`Title`** - Typos and grammar

**What will change** - Fix `pull_request_template.md` and `CONTRIBUTING.md`

### Type of Issue - documentation/template fix

Please add/delete options that are not relevant.

- [ ] Adding New Code
- [ ] Improving Code
- [x] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
-

[2020-10-07 18:02] wpedrak commented on #169
Once creating PR my [gramarly](https://app.grammarly.com/) reported few issues. Might be nice to fix it.
(I'm not asking to assign me to it)

[2020-10-07 18:10] CormacKrum commented on #144
Please Assign This to me In Java

[2020-10-07 18:34] VIPUL662 commented on #160
I WOULD LOVE TO SOLVE THIS PROBLEM.

[2020-10-07 19:40] Anjalikamath opened #175 "54 | Spiral Matrix | C++"
## **`Solve Problem number 54 : Spiral Matrix using C++`** -

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

[2020-10-07 19:57] MrAman007 opened #176 "48 | Rotate Image | C++"
## **`48 | Rotate Image | 90deg clockwise rotation of matrix in C++`**

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-10-07 19:58] MrAman007 commented on #176
Assign me to this problem.

[2020-10-07 20:03] shivambehl opened #177 "127. Word Ladder | C++"
## **`Solve Problem 127. Word Ladder in C++`** -

**What will change** -

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

[2020-10-07 20:04] shivambehl commented on #177
Please, can you assign me this issue? Thanks!

[2020-10-07 20:10] Mansi2814 opened #178 "728 | Self Dividing Numbers | python"
## **`Given a lower and upper number bound, output a list of every possible self dividing number, including the bounds if possible.`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to

[2020-10-07 20:10] Mansi2814 commented on #178
Please assign it to me.

[2020-10-07 20:17] Anjalikamath commented on #175
Could you please assign me to this problem.

[2020-10-07 20:19] MrAman007 opened #179 "319 | Bulb Switcher | C++"
## **`319 | Bulb Switcher 1 in C++ `** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-10-07 20:20] MrAman007 commented on #179
Assign me, please! Thankyou

[2020-10-07 23:57] jessicasalbert opened #181 "387 | First Unique Character in a String | Python"
## 387 | First Unique Character in a String | Python #181

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper f

[2020-10-07 23:58] jessicasalbert commented on #181
Would like to be assigned this one when you have a chance - thanks!

[2020-10-08 02:51] karan1808 opened #182 "23 | Merge k Sorted | CPP"
## **`Merge k Sorted`** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Sta

[2020-10-08 02:52] karan1808 commented on #182
Please, can you assign me this issue? Thanks!

[2020-10-08 03:08] HanningLin opened #183 "387 | First Unique Character in a String | Java"
## **`387 | First Unique Character in a String | Java`** -

Generate Parentheses

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper fold

[2020-10-08 03:09] HanningLin commented on #183
can you assign this to me?

[2020-10-08 03:12] HanningLin opened #184 "2 | Add Two Numbers | Java"
## **`2 | Add Two Numbers | Java`**

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and

[2020-10-08 03:12] HanningLin commented on #184
can you assign this to me?

[2020-10-08 03:13] nagy3n commented on #183
Please assign this to me

[2020-10-08 03:14] HanningLin opened #185 "1 | Two Sum | Java"
## **`1 | Two Sum | Java`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docu

[2020-10-08 03:14] HanningLin commented on #185
Please can you assign this to me?

[2020-10-08 03:16] HanningLin opened #186 "5 | Longest Palindromic Substring | Java"
## **`5 | Longest Palindromic Substring | Java`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
-

[2020-10-08 03:16] HanningLin commented on #186
Please. Can you assign this issue to me?

[2020-10-08 03:46] gaurav1620 opened #187 "89 | Gray Code | C++"
## **`Title`** -
89. Gray Code
**What will change** -
A single file of the solution will be added in C++ folder.
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Sel

[2020-10-08 04:17] #163 closed

[2020-10-08 04:23] #116 closed

[2020-10-08 04:33] mrprince88 opened #190 "421 | Maximum XOR of Two Numbers In An Array | Java"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-08 04:34] mrprince88 opened #191 "229 | Majority Element II | Java"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-08 04:47] Yashica7 commented on #175
- [x] Assigned @Anjalikamath

[2020-10-08 04:48] Yashica7 commented on #177
- [x] Assigned to u @shivambehl

[2020-10-08 04:51] Yashica7 commented on #181
- [x] @jessicasalbert Assigned it to u

[2020-10-08 04:58] rebelfire888 commented on #187
C++ code

[2020-10-08 05:02] #190 closed

[2020-10-08 05:02] #191 closed

[2020-10-08 05:09] SSKale1 commented on #169
What issues were those @wpedrak

[2020-10-08 05:11] agsanskar15 opened #192 "1029 | Two City Scheduling | C++"
## **`Title`** - Two City Scheduling

**What will change** - Solution for the problem 1029 of LeetCode Two City Scheduling.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull R

[2020-10-08 05:11] agsanskar15 commented on #192
Hi! Please assign this issue to me.

[2020-10-08 05:12] Rohanfizz commented on #185
Please Assign this issue to me.
Peache :)

[2020-10-08 05:14] Rohanfizz commented on #182
Hey can u please assign this to me?
Peace :)

[2020-10-08 05:16] Rohanfizz commented on #186
Hey can u please assign this to me?
Peace :)
pleaseeeeeeeeee

[2020-10-08 05:17] #142 closed

[2020-10-08 05:18] #92 closed

[2020-10-08 05:19] #158 closed

[2020-10-08 05:22] #150 closed

[2020-10-08 05:24] #164 closed

[2020-10-08 05:32] #91 closed

[2020-10-08 05:33] #95 closed

[2020-10-08 05:34] #175 closed

[2020-10-08 05:35] #192 closed

[2020-10-08 05:36] #162 closed

[2020-10-08 05:37] #160 closed

[2020-10-08 05:42] SSKale1 opened #195 "⭐ ⭐ ⭐ Star this Repo"
## Star This Repo  🤩

:star2: Star it :fork_and_knife:Fork it :handshake: Contribute to it!

Discord server ✉️ - https://discord.gg/CXksGdn

Happy Coding,

[2020-10-08 05:43] SSKale1 opened #196 "🍴 🍴 🍴 Fork It"
## Fork This Repo
🍴

:star2: Star it :fork_and_knife:Fork it :handshake: Contribute to it!

Discord server ✉️ - https://discord.gg/CXksGdn

Happy Coding,

[2020-10-08 05:45] meghanagottapu commented on #186
can I work on this? @HanningLin

[2020-10-08 05:45] SSKale1 opened #197 "🤝 🤝 🤝 Contribute to it!!!"
## Contribute to it!!!
:star2: Star it :fork_and_knife:Fork it :handshake: Contribute to it!

Discord server ✉️ - https://discord.gg/CXksGdn

Happy Coding,

[2020-10-08 05:46] tzvog opened #198 "217 | Contains Duplicate | Python"
## **`Title`** - 217 Contains Duplicate

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Cod

[2020-10-08 05:46] tzvog commented on #198
can you please assign me this?

[2020-10-08 05:47] #197 closed

[2020-10-08 05:48] #195 closed

[2020-10-08 05:48] #196 closed

[2020-10-08 05:49] ricky1812 opened #200 "139 | Word Break | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-08 05:49] ricky1812 commented on #200
I want to work on this issue

[2020-10-08 06:07] Aditya489 commented on #181
would like to be assigned this issue?

[2020-10-08 06:13] JayeshSareen opened #203 "169 | Majority Element | Python"
## **`Majority Element`** -

**What will change** -

### Type of Issue -

- Adding New Code

### Programming Language

-  Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star

[2020-10-08 06:14] JayeshSareen commented on #203
Please assign me this issue @SSKale1

[2020-10-08 06:16] JayeshSareen opened #204 "367 | Valid Perfect Square | Python"
## **`Valid  Perfect Square`** -

**What will change** -

### Type of Issue -

-  Adding New Code

### Programming Language

-  Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2:

[2020-10-08 06:17] JayeshSareen commented on #204
Please assign it to me @SSKale1

[2020-10-08 06:17] vrakr19 commented on #200
@ricky1812 done with the problem. Can you assign this to me

[2020-10-08 06:29] vrakr19 commented on #200
@ricky1812 done with the pr. Can u check?

[2020-10-08 06:45] SHIVANATHRIHARIKRISHNA opened #207 "532 | K-diff Pairs in an Array | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for

[2020-10-08 06:45] SHIVANATHRIHARIKRISHNA commented on #207
Assign this problem to me

[2020-10-08 06:49] SHIVANATHRIHARIKRISHNA opened #208 "1288| Remove Covered Intervals | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for

[2020-10-08 06:49] SHIVANATHRIHARIKRISHNA commented on #208
Please assign this to me.

[2020-10-08 07:05] mrprince88 opened #210 "229 | Majority Element II | Java"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [x] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-08 07:13] sabrajsab commented on #144
please assign me this issue in c++

[2020-10-08 07:36] aryaniiit002 commented on #204
Can i work on this please?

[2020-10-08 07:36] SaimantikaBasu opened #212 "124 | Binary_Tree_Maximum | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` an

[2020-10-08 07:39] SaimantikaBasu opened #214 "202 | HappyNumber | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` an

[2020-10-08 07:45] hjpassion opened #216 "49 | Group Anagrams |C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-08 07:46] hjpassion commented on #216
Please Assign this issue to me @SSKale1

[2020-10-08 07:54] SaimantikaBasu opened #217 "215 | KthElementInAnArray | Java"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` a

[2020-10-08 08:02] amolgautam25 opened #218 "771 | Jewels and Stones | C++"
## Jewels and Stones -

Adding new solution -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation

[2020-10-08 08:04] cheshtaaagarrwal opened #219 "142 | Linked List Cycle II | java"
## **`Title`** -
Linked List Cycle II
**What will change** -
Java folder for leetcode
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper

[2020-10-08 08:07] amolgautam25 opened #221 "128 | Longest Consecutive Sequence | C++"
## Longest Consecutive Sequence

Adding new code for Longest Consecutive Sequence in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Cod

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the prope

[2020-10-08 08:19] guptag911 commented on #221
I want to work on this problem.Please assign it to me.

[2020-10-08 08:23] kushaangowda commented on #218
Can you please assign this to me?

[2020-10-08 08:25] VishalAmbavade commented on #212
Hi @SaimantikaBasu, I would like to work on this problem.

[2020-10-08 08:36] amolgautam25 commented on #221
please assign this problem to me . I am the issue creator.

[2020-10-08 08:36] amolgautam25 commented on #218
please assign this problem to me . I am the issue creator.

[2020-10-08 08:41] amolgautam25 opened #223 "780 | Reaching Points | C++"
## please assign this problem to me . I am the issue creator.

Adding new code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder

[2020-10-08 08:41] amolgautam25 commented on #223
please assign this problem to me . I am the issue creator.

[2020-10-08 08:43] amolgautam25 opened #224 "992 | Subarrays with K Different Integers | C++"
## Subarrays with K Different Integers

Adding new code ( a new problem from leetcode )

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the prope

[2020-10-08 08:43] amolgautam25 commented on #224
please assign this problem to me . I am the issue creator.

[2020-10-08 08:44] SaimantikaBasu opened #225 "27 | RemoveElement | Java"
## **`RemoveElement`** -

**What will change** - New and easier code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the pr

[2020-10-08 09:24] richnavska commented on #225
Hello, I´m interesting in this issue and I would like to contribute this. Thank you!

[2020-10-08 09:25] MrAman007 opened #226 "67 | Add Binary | C++"
## **`67 | Add binary problem in C++`** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the f

[2020-10-08 09:25] MrAman007 commented on #226
assign me to this problem, thanks

[2020-10-08 09:27] ridhikapila27 commented on #181
Kindly assign me this issue

[2020-10-08 09:46] ridhikapila27 commented on #177
Kindly assign me to this issue

[2020-10-08 09:59] goodgodth commented on #217
Please assign this issue to me

[2020-10-08 10:13] aryaniiit002 commented on #219
can i work on this issue @Aryaniiit002?

[2020-10-08 10:38] Aditya489 commented on #178
can i also be assigned for this?

[2020-10-08 10:39] Aditya489 commented on #203
hi can i be assigned for this task?

[2020-10-08 10:40] Aditya489 commented on #226
hi can i be assigned for this task? thank you!

[2020-10-08 11:09] krishnmohan19 commented on #217
hey @SaimantikaBasu .
Would you plz assign this to me in java/c++.

[2020-10-08 11:17] krishnmohan19 commented on #214
hey @SaimantikaBasu .
Would you please assign this to me.

[2020-10-08 12:49] #129 closed

[2020-10-08 12:56] #141 closed

[2020-10-08 12:57] taylor-abbas commented on #210
I am interested and would like to contribute to this. Could you please assign this problem to me?

[2020-10-08 13:01] #132 closed

[2020-10-08 14:11] #182 closed

[2020-10-08 14:14] #198 closed

[2020-10-08 14:14] shruti1421 opened #231 "9 | Palindrome Number | CPP"
## **`Title`** -  9. Palindrome Number

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

[2020-10-08 14:15] shruti1421 commented on #231
Please assign this to me.

[2020-10-08 14:17] #176 closed

[2020-10-08 14:20] #179 closed

[2020-10-08 14:22] SSKale1 commented on #204
- [x] Assigning to @JayeshSareen for issue creation.

[2020-10-08 14:24] #203 closed

[2020-10-08 14:27] #177 closed

[2020-10-08 14:28] #178 closed

[2020-10-08 14:29] #181 closed

[2020-10-08 14:37] guptag911 commented on #231
Please assign this issue to me. I can handle it in cpp.

[2020-10-08 14:39] MrAman007 opened #232 "1 | Two Sum | C++"
## **`1 | Two Sum Problem in C++`**

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-10-08 14:46] aryaniiit002 commented on #232
Can you assign this to me @aryaniiit002 ?

[2020-10-08 14:48] MrAman007 commented on #232
assign me to this problem please, thankyou

[2020-10-08 14:55] aryaniiit002 opened #234 "62 | Unique Paths | Java"
## **`62 | Unique Paths | Java`** -

**What will change** -  Java

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file

[2020-10-08 14:56] aryaniiit002 commented on #234
Let me do this @aryaniiit002 .Pls

[2020-10-08 14:57] anm0l555 commented on #214
I would like to work on this

[2020-10-08 15:14] patelviralb opened #235 "477 | Total Hamming Distance | Java"
## **`Title`** - [**`477. Total Hamming Distance`**](https://leetcode.com/problems/total-hamming-distance/)

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title

[2020-10-08 15:14] patelviralb commented on #235
Please assign to me

[2020-10-08 15:20] tzvog opened #237 "118. | Pascal's Triangle | Python"
## **`Title`** - Pascal's Triangle

**What will change** -
i will create a new file to solve this problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add y

[2020-10-08 15:20] tzvog commented on #237
please assign this to me

[2020-10-08 15:52] Aviadonis commented on #237
Can I please work on this? Thanks in advance 🙌

[2020-10-08 15:59] jayaganeshkumar commented on #237
@tzvog  please assign this to me.

[2020-10-08 16:01] shruti1421 opened #239 "189 | Rotate Array | C++"
## **`Title`** - 189.  Rotate Array

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:

[2020-10-08 16:02] shruti1421 commented on #239
Please assign this to me.

[2020-10-08 16:05] tzvog commented on #237
Hey @jayaganeshkumar  and @Aviadonis !
I'm not in charge of the complete repository and cannot assign Issues to people (I'm currently asking to be assigned).
I would suggest finding problems on LeetCode that have not already been done or have issues regarding it create your own issue and ask to be assigned.

[2020-10-08 16:08] shruti1421 opened #240 "50 | Pow(x, n) | C++"
## **`Title`** - 50. Pow(x, n)

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2

[2020-10-08 16:08] shruti1421 commented on #240
Please assign this to me.

[2020-10-08 16:09] jayaganeshkumar commented on #237
@tzvog  thank you sir

[2020-10-08 16:20] siddharthgangwar25 commented on #218
Can i do this problem too, but in Python?

[2020-10-08 16:24] shresth12-jain commented on #232
Hi,

I would like to contribute to this, I solved it very simply in LeetCode. Kindly allow me to solve this issue.

Thanks & Regards
Shresth Jain

[2020-10-08 16:33] SHIVANATHRIHARIKRISHNA commented on #232
@shresth12-jain If you want to solve some problem,create your own issue on the problems of leetcode which are not present in this repository and ask the maintainers to assign it to you.

[2020-10-08 16:48] shresth12-jain opened #245 "75| Sort Colors| C++"
## **`Title`** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

Happy Coding,

[2020-10-08 16:48] shresth12-jain commented on #245
Hi,

I would like to contribute to this, I solved it very simply in LeetCode. Kindly allow me to solve this issue.

Thanks & Regards
Shresth Jain

[2020-10-08 17:07] Yashica7 commented on #208
- [x] @SHIVANATHRIHARIKRISHNA assigned it to you

[2020-10-08 17:08] Yashica7 commented on #210
Assigned it to @mrprince88 since he created the issue

[2020-10-08 17:08] Yashica7 commented on #210
@taylor-abbas You can create an issue and wait to get it assigned to you

[2020-10-08 17:09] Aman23092001 commented on #232
I have solve quite a good amount of questions on leetcode and that too with cpp. So I think this I can do very easily.
So, I will request you to assign this problem to me.

[2020-10-08 17:10] SHIVANATHRIHARIKRISHNA commented on #208
Thanks..

[2020-10-08 17:10] Yashica7 commented on #212
@SaimantikaBasu This code has already been added

[2020-10-08 17:10] #212 closed

[2020-10-08 17:15] SHIVANATHRIHARIKRISHNA commented on #208
This problem solution is already present in the repository.I haven't checked it beforehand..Can I submit it again..?Someone else have submitted this issue and solution into the repository already

[2020-10-08 17:16] Yashica7 commented on #214
@SaimantikaBasu This code has already been added

[2020-10-08 17:16] #214 closed

[2020-10-08 17:17] Yashica7 commented on #216
- [x] @hjpassion Assigned it to u

[2020-10-08 17:18] Yashica7 commented on #218
@amolgautam25 Assigned it to u

[2020-10-08 17:19] Yashica7 commented on #218
@siddharthgangwar25 You can create an issue for that

[2020-10-08 17:21] Yashica7 commented on #226
Assigned @MrAman007

[2020-10-08 17:22] Yashica7 commented on #226
@Aditya489 You can create an Issue to contribute

[2020-10-08 17:22] SHIVANATHRIHARIKRISHNA opened #247 "179 | Largest Number | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for

[2020-10-08 17:23] SHIVANATHRIHARIKRISHNA commented on #247
Assign this to me

[2020-10-08 17:27] Aman23092001 opened #248 "704 | BINARY SEARCH | CPP"
## **`704 | BINARY SEARCH | C++`** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

[2020-10-08 17:28] riyabhatia26 commented on #239
Could you please assign this to me?

[2020-10-08 17:29] Yashica7 commented on #232
@shresth12-jain @Aman23092001 Create an issue to contribute

[2020-10-08 17:29] jatinAgarwala opened #249 "1108 | Defanging an IP Address | C++"
## **`Title`** - Adding solution for problem Defanging an IP Address (https://leetcode.com/problems/defanging-an-ip-address/)

**What will change** - A solution code will be added for the problem

### Type of Issue - Adding new code for a problem

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [

[2020-10-08 17:29] jatinAgarwala commented on #249
Please assign this to me.

[2020-10-08 17:30] Aman23092001 commented on #248
Hi, I have a solve quite a lot problems on LeetCode and that too with C++. This problem is very famous on LeetCode.
Please assign it to me. I can solve it very easily.
Thank You!!!

[2020-10-08 17:32] Yashica7 commented on #245
@shresth12-jain Assigned it to you for now, wait to get it assigned before you make a pull request next time, it'll help us in reviewing

[2020-10-08 17:37] Yashica7 commented on #248
- [x] Assigned it to u @Aman23092001

[2020-10-08 17:38] jatinAgarwala opened #250 "1304 | Find N Unique Integers Sum up to Zero | C++"
## **`Title`** - Find N Unique Integers Sum up to Zero

**What will change** - A C++ solution will be added for the problem

### Type of Issue - There is no solution for the problem currently in C++ in the repository

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask

[2020-10-08 17:38] jatinAgarwala commented on #250
Please assign this to me.

[2020-10-08 17:38] Yashica7 commented on #249
Assigned @jatinAgarwala

[2020-10-08 17:38] jatinAgarwala commented on #250
Problem link- https://leetcode.com/problems/find-n-unique-integers-sum-up-to-zero/

[2020-10-08 17:44] siddharthgangwar25 opened #251 "771 | Jewels and Stones | Python"
## Jewels and Stones -

Adding New Solution

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star i

[2020-10-08 17:44] siddharthgangwar25 commented on #251
Can I be assigned?

[2020-10-08 17:44] SHIVANATHRIHARIKRISHNA commented on #247
Can you please merge my previous pull request 532.K-diffPairsInAnArray.cpp so that I can create a pull request for this problem

[2020-10-08 17:56] #183 closed

[2020-10-08 17:58] #83 closed

[2020-10-08 18:18] SankethGB opened #255 "Problem Number | Title | Language"
## **`JUMP GAME II - CPP solution `** -

**Adding solution to the hard level problem** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

:star2: Star it :fork_and_knife:Fork it :handshake: Contribute to it!

Discord server ✉️ - https://discord.gg/CXksGdn

Happy Codi

[2020-10-08 18:18] SankethGB commented on #255
Please assign this to me

[2020-10-08 18:21] SankethGB opened #256 "25 | Reverse Nodes in k-Group | C++"
## **`Reverse Nodes in k-Group using C++`** -

**Solution to the hard level problem** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the prope

[2020-10-08 18:21] SankethGB commented on #256
Assign this to me Please

[2020-10-08 18:22] #204 closed

[2020-10-08 18:25] HanningLin opened #257 "41 | First Missing Positive | Java"
## **`41 | First Missing Positive | Java`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [x] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wa

[2020-10-08 18:25] HanningLin commented on #257
Can you assign this to me?

[2020-10-08 18:26] #185 closed

[2020-10-08 18:26] #184 closed

[2020-10-08 18:33] #237 closed

[2020-10-08 18:39] ritish1912 commented on #248
I have been practicing a lot of these kind of problems on different programming platforms . Please assign it to me. I am really really  willing to do it

[2020-10-08 19:14] Danotsonof opened #261 "46 | Permutations | C#"
## **`Permutations`**

**What will change**

### Type of Issue

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C#

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for

[2020-10-08 20:18] HanningLin commented on #257
Can you assign this to me?

[2020-10-08 20:38] wpedrak commented on #169
This is what I've spotted:
https://github.com/wpedrak/LeetCode-Solutions/commit/4f59ffbacdf8780fbad847eaf927c894b944d9d0

[2020-10-08 21:14] shresth12-jain commented on #245
@Yashica7 thanks for assigning me this issue, yes I will take it as a note from now onwards. Kindly review my request & let me know if any modification required.

[2020-10-08 23:04] Danotsonof commented on #261
Could you assign this to me? Thanks

[2020-10-09 00:08] aryaniiit002 opened #269 "198 | House Robber | java"
## **`Title`** -

**What will change** - JAVA

### Type of Issue

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [x] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
-

[2020-10-09 00:09] aryaniiit002 commented on #269
Please let me do this @aryaniiit002 .

[2020-10-09 01:07] choubari opened #270 "766 | Toeplitz Matrix | Python"
## **`766 | Toeplitz Matrix`**

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `D

[2020-10-09 01:09] choubari commented on #270
would you please assign it to me in python

[2020-10-09 02:25] akshaykumarrai commented on #257
hey, would like to start first pr with this question .Can u please assign it to me?

[2020-10-09 02:54] HanningLin commented on #257
It's very easy to create a new issue. Feel free to create one and solve it.

[2020-10-09 05:04] Yashica7 commented on #256
Assigned it to u @SankethGB

[2020-10-09 05:10] #248 closed

[2020-10-09 05:12] #207 closed

[2020-10-09 05:13] #249 closed

[2020-10-09 05:15] #226 closed

[2020-10-09 05:21] #232 closed

[2020-10-09 05:24] #234 closed

[2020-10-09 05:29] #231 closed

[2020-10-09 05:30] #239 closed

[2020-10-09 05:32] #187 closed

[2020-10-09 05:34] SSKale1 commented on #169
@wpedrak You can make a PR to make these corrections.

[2020-10-09 05:39] SSKale1 commented on #200
@ricky1812 cool down for a while. We'll let others contribute too.

[2020-10-09 05:41] SSKale1 commented on #200
- [x] Assigning to @vrakr19

[2020-10-09 06:09] Jitesh111 opened #277 "136 | Single Number | Python"
## **`Single Number** -

### Type of Issue -

- Adding New Code

### Programming Language

- Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knife:Fork it :h

[2020-10-09 06:09] Jitesh111 commented on #277
Assign me this issue. Thanks

[2020-10-09 06:13] Jitesh111 opened #279 "287 | Find the Duplicate Number | Python"
## **`Find  the Duplicate Number`** -

### Type of Issue

-  Adding New Code

### Programming Language

-  Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_kn

[2020-10-09 06:13] Jitesh111 commented on #279
Please assign me this. Thanks

[2020-10-09 07:36] JOKUE2002 opened #281 "1395 | Count number of teams | Java"
## **`Challenge no. 1395: Count number of teams (medium)`** -

**What will change**
The solution for challenge 1395 will be added

### Type of Issue

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better read

[2020-10-09 07:36] JOKUE2002 commented on #281
Would love to take this.

[2020-10-09 07:47] hjpassion opened #282 "7 | Reverse Integer | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-09 07:48] hjpassion commented on #282
please assign this topic to me @SSKale1

[2020-10-09 09:09] #8 closed

[2020-10-09 09:09] #89 closed

[2020-10-09 09:13] Rohanfizz commented on #186
Thanks @Yashica7 for assigning this to me, will be making a pull request shortly.
Peace :)

[2020-10-09 09:24] harshitalashkari commented on #279
please assign me this.

[2020-10-09 09:48] shruti1421 opened #285 "169 | Majority Element | C++"
## **`Title`** - Majority Element

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:st

[2020-10-09 09:49] shruti1421 commented on #285
Please assign this problem to me.

[2020-10-09 09:50] TusharSharmaIN commented on #282
please assign this to me.

[2020-10-09 09:51] TusharSharmaIN commented on #281
Can you please assign it to me.

[2020-10-09 09:53] OMEGAeNcore opened #286 "2. | Add Two NumbersProblem Number | Python"
## **`Title`** - 2. Add Two Numbers

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_

[2020-10-09 09:53] OMEGAeNcore commented on #286
Please assign me to this. Thank you.

[2020-10-09 09:54] chehak123 commented on #285
please assign this to me

[2020-10-09 09:55] chehak123 commented on #286
please assign to me

[2020-10-09 09:55] chehak123 commented on #282
please assign to me

[2020-10-09 09:56] chehak123 commented on #279
please assign to me

[2020-10-09 10:53] #219 closed

[2020-10-09 10:53] vrakr19 commented on #200
@SSKale1 ok

[2020-10-09 11:33] Siddhant-K-code opened #289 "Can I Add Multiple Problems"
Can I Add Following Problem's Solution in C++:

* 1311 Get Watched Videos By Your Friends
* 546 Remove Boxes
* 507 Perfect Number
* 12 Integer To Roman
* 11 Container With Most Water
* 10 Regular Expression Matching
* 8 String To Integer
* 7 Reverse Integer
* 6 ZigZag Conversion
* 2 Add Two Numbers

[2020-10-09 12:50] ricky1812 opened #291 "416 | Partition Equal Subset Sum| C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-09 13:08] priyalgupta09 commented on #286
hey! please assign this to me

[2020-10-09 13:16] malleshamshivs opened #292 "297| Serialize and Deserialize Binary Tree | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for

[2020-10-09 13:17] malleshamshivs commented on #292
Assign this problem to me

[2020-10-09 13:39] Largetable commented on #286
I'd like to be assigned to this!

[2020-10-09 13:40] Largetable commented on #279
I'd like to get assigned to this!

[2020-10-09 13:43] Largetable commented on #277
I'd like to be assigned to this one please.

[2020-10-09 13:55] dilsada commented on #291
I'd like to get assigned to this. Thanks

[2020-10-09 13:56] Largetable opened #293 "169 | Majority Element | Python"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` f

[2020-10-09 13:56] Largetable commented on #293
I'd like to be assigned for this, I have a fast solution which also uses less memory.

[2020-10-09 14:04] Largetable opened #294 "1295 | Find Numbers with Even Number of Digits | Python"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation`

[2020-10-09 14:05] Largetable commented on #294
I'd like to get assigned to this please.

[2020-10-09 14:07] Largetable opened #295 "461 | Hamming Distance | Python"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation`

[2020-10-09 14:07] Largetable commented on #295
please assign this to me.

[2020-10-09 14:15] shruti1421 opened #296 "198 | House Robber | C++"
## **`Title`** -  198. House Robber

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:

[2020-10-09 14:16] shruti1421 commented on #296
Please assign this to me.

[2020-10-09 14:20] shruti1421 opened #297 "204 | Count Primes | C++"
## **`Title`** - 204. Count Primes

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:s

[2020-10-09 14:24] ashima0699 commented on #297
please assign this to me

[2020-10-09 14:24] shruti1421 opened #298 "183 | Customers who never order | SQL"
## **`Title`** - 183. Customers who never order

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in

[2020-10-09 14:25] ashima0699 commented on #285
please assign this to me

[2020-10-09 14:25] shruti1421 commented on #298
Please assign this to me.

[2020-10-09 14:25] ashima0699 commented on #224
Please assign this to me.

[2020-10-09 14:43] #250 closed

[2020-10-09 14:44] #269 closed

[2020-10-09 14:49] SaimantikaBasu commented on #217
I have updated the code. Can you check that and let me know.

On Thu, Oct 8, 2020 at 11:48 PM Yashica7 <notifications@github.com> wrote:

[2020-10-09 15:21] Jitesh111 opened #299 "704 | Binary Search | Python"
## **`Binary Search`** -

### Type of Issue -

-  Adding New Code

### Programming Language

-  Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knife:Fork it

[2020-10-09 15:21] Jitesh111 commented on #299
Please assign it to me. Thanks

[2020-10-09 15:25] #186 closed

[2020-10-09 15:25] #240 closed

[2020-10-09 15:27] Jitesh111 opened #300 "485 | Max Consecutive Ones | Python"
## **`Max Consecutive Ones`** -

### Type of Issue -

-  Adding New Code

### Programming Language

-  Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knife:

[2020-10-09 15:31] #270 closed

[2020-10-09 15:33] SSKale1 commented on #289
You'll have to add a single problem per issue for now. Also make sure you check for already existing problems.

[2020-10-09 15:34] Siddhant-K-code commented on #289
OK

[2020-10-09 15:34] #289 closed

[2020-10-09 15:43] choubari opened #301 "941 | Valid Mountain Array | Python"
## **`941 | Valid Mountain Array | Python`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Cl

[2020-10-09 15:43] choubari commented on #301
Would you please assign it to me

[2020-10-09 16:13] jatinAgarwala opened #302 "665 | Non-decreasing Array | C++"
## **`Title`** - Non-decreasing Array

**What will change** - Solution for the problem 665. Non-decreasing Array will be added in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before mak

[2020-10-09 16:13] jatinAgarwala commented on #302
Please assign this to me.

[2020-10-09 16:33] choubari opened #304 "767 | Reorganize String | Python"
## **`767 | Reorganize String | Python`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean

[2020-10-09 16:33] choubari commented on #304
please assign it to me

[2020-10-09 18:43] PODU commented on #282
I would like to work on this.

[2020-10-09 19:58] wpedrak commented on #169
Done in https://github.com/SHY-Corp/LeetCode-Solutions/pull/308

[2020-10-09 20:41] ikjot-2605 commented on #304
Please assign this to me!
I'll love to work on it.

[2020-10-10 01:43] Rohanfizz opened #312 "1310 | XOR Queries of a Subarray | C++"
## **`1310 | XOR Queries of a Subarray | C++`** -

**What will change** - Solution for the problem 1310. XOR Queries of a Subarray  will be added to C++ folder

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and

[2020-10-10 01:45] Rohanfizz commented on #312
Hope you are having a good day, Please Assign this issue to me :)
Peace :)

[2020-10-10 04:25] Jitesh111 commented on #277
Can you please tell me why I was not assigned this issue @Yashica7

[2020-10-10 05:50] ItIsUday opened #315 "172 | Factorial Trailing Zeroes | Python"
## **`Factorial Trailing Zeroes`**

**What will change**

### Type of Issue

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:st

[2020-10-10 05:51] ItIsUday commented on #315
I'd like to get assigned

[2020-10-10 05:56] chehak123 commented on #297
please assign to me

[2020-10-10 05:57] chehak123 commented on #282
I want to work on this issue

[2020-10-10 05:58] chehak123 commented on #296
please assign to me

[2020-10-10 06:28] Jitesh111 opened #319 "441 | Arranging Coins | Python"
## **`Arranging Coins`** -

### Type of Issue -

- Adding New Code

### Programming Language

-  Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knife:Fork i

[2020-10-10 06:29] Jitesh111 commented on #319
Please assign it to me . Thanks

[2020-10-10 07:14] IliasKhan opened #321 "730 | Count Different Palindromic Subsequences | C++"
## **`Title`** - **Count Different Palindromic Subsequences**

**What will change** -
 Solution for the problem 730. Count Different Palindromic Subsequences will be added in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder

[2020-10-10 07:15] IliasKhan commented on #321
Hi, Please assign this to me.

[2020-10-10 07:48] hjpassion opened #323 "13| Roman To Integer | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-10 07:49] hjpassion commented on #323
please assign me this issue @SSKale1 @Yashica7

[2020-10-10 09:04] ritish1912 commented on #285
please assign this to me.
i am willing to do this problem

[2020-10-10 09:12] rohanmahto592 commented on #285
please assign this to me

[2020-10-10 09:13] rohanmahto592 commented on #299
please assign this to me

[2020-10-10 09:26] minks21 commented on #299
Can you please assign this to me

[2020-10-10 09:29] minks21 commented on #282
Will try to provide with the best optimize code. Can you please assign this to me

[2020-10-10 10:52] hjpassion opened #325 "225 | Implement Stack Using Queues | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-10 10:52] hjpassion commented on #325
please assign me this issue @Yashica7  @SSKale1

[2020-10-10 11:16] Prabhno0r commented on #325
@hjpassion hi, please assign this issue to me

[2020-10-10 11:50] SriCoD commented on #323
i can do this very well ,would love to work on it @hjpassion

[2020-10-10 13:00] RitayanDas2 commented on #297
i can do this in python so assign me

[2020-10-10 13:07] #200 closed

[2020-10-10 13:09] #251 closed

[2020-10-10 13:10] #256 closed

[2020-10-10 13:11] #301 closed

[2020-10-10 13:12] #302 closed

[2020-10-10 13:13] #169 closed

[2020-10-10 13:15] #257 closed

[2020-10-10 13:22] #279 closed

[2020-10-10 13:22] SriCoD commented on #321
could i be assigned this

[2020-10-10 13:24] #224 closed

[2020-10-10 13:27] #286 closed

[2020-10-10 13:27] #296 closed

[2020-10-10 13:29] #292 closed

[2020-10-10 13:32] SSKale1 commented on #261
We do not currently have a Codebase for C#. You can try for an issue in c++, java or python currently.

[2020-10-10 13:32] #261 closed

[2020-10-10 13:33] SSKale1 commented on #282
- [x] Assigning to @hjpassion for issue creation.

[2020-10-10 13:36] SSKale1 commented on #297
- [x] Assigned to @shruti1421 for issue creation.

[2020-10-10 14:21] daash1228 opened #327 "85| Maximal Rectangle | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-10 14:22] daash1228 commented on #327
I want to work on this issue

[2020-10-10 14:44] Yashica7 commented on #312
- [x] Assigned it to u @Rohanfizz

[2020-10-10 14:46] Yashica7 commented on #321
- [x]  Assigned it to u @IliasKhan

[2020-10-10 15:10] Rohanfizz commented on #312
@Yashica7 , issue resolved, please check #328 .
Thanks :)

[2020-10-10 15:44] SaimantikaBasu opened #330 "25 | Reverse Nodes in k-group | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` an

[2020-10-10 16:07] SaimantikaBasu opened #333 "198 | HouseRobber | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` an

[2020-10-10 16:12] SaimantikaBasu opened #334 "387 | First Unique Character in a String | C++"
## **`Title`** -

**What will change** -
An improved code with a new approach

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file i

[2020-10-10 16:21] steventango commented on #333
I'll do this! Please assign me.

[2020-10-10 16:26] geekaditi commented on #323
I would like to take this up in CPP. Please assign it to me.

[2020-10-10 19:35] Infinityz commented on #323
I would like to work on this in Java if that's alright!

[2020-10-10 20:24] ZarghamDanial commented on #334
Hey, is this issue open? Can you assign it to me?

[2020-10-10 20:25] ZarghamDanial commented on #330
Hey, is this issue still open? Can you assign it to me?

[2020-10-10 22:20] #312 closed

[2020-10-10 22:22] #217 closed

[2020-10-10 22:25] #293 closed

[2020-10-10 23:16] amolgautam25 commented on #223
created a PR for this issue : https://github.com/SHY-Corp/LeetCode-Solutions/pull/342

[2020-10-10 23:47] amolgautam25 commented on #221
I have created a PR for this : https://github.com/SHY-Corp/LeetCode-Solutions/pull/343

[2020-10-11 00:01] amolgautam25 commented on #218
Created a PR for this : https://github.com/SHY-Corp/LeetCode-Solutions/pull/345

[2020-10-11 00:04] amolgautam25 opened #346 "289 | Game of Life | C++"
## **`Title`** - 289 | Game of Life | C++

**What will change** - Adding new code for 289 - game of life in C++

### Type of Issue - adding new code to this repo

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it bef

[2020-10-11 00:04] amolgautam25 commented on #346
I am the issue creator , please assign this issue to me.

[2020-10-11 00:21] HanningLin opened #347 "224 | Basic Calculator | Java"
## **`224 | Basic Calculator | Java`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code

[2020-10-11 00:22] HanningLin commented on #347
I am trying to complete my Hacktoberfest. Can you assign this issue to me pleaseeeeeee!

[2020-10-11 02:49] NandiniMundra-8 commented on #334
hey,@SaimantikaBasu can you assign this to me,I would love to do this task ?

[2020-10-11 05:10] SharmaRajesh007 opened #349 "1041 | Robot Bounded In Circle| CPP"
## **`1041 | Robot Bounded In Circle| JAVA`** -

**What will change** - Add solution to 1041 Robot Bounded In Circle JAVA
### Type of Issue - Add a file

- [x] Adding New Code

### Programming Language
- [x] JAVA
### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better re

[2020-10-11 05:19] SharmaRajesh007 opened #350 "421 | Maximum XOR of Two Numbers in an Array | Java"
## **`421 | Maximum XOR of Two Numbers in an Array | Java`** -

**What will change** - add solution for 421 Maximum XOR of Two Numbers in an Array Java

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documen

[2020-10-11 06:23] SharmaRajesh007 commented on #350
Please assign this issue to me.
Regards

[2020-10-11 06:23] SharmaRajesh007 commented on #349
Please assign this issue to me.
Regards

[2020-10-11 07:47] #135 closed

[2020-10-11 07:49] #216 closed

[2020-10-11 07:50] #294 closed

[2020-10-11 07:52] #277 closed

[2020-10-11 07:52] #299 closed

[2020-10-11 07:53] #319 closed

[2020-10-11 07:54] #304 closed

[2020-10-11 07:55] #300 closed

[2020-10-11 07:57] #295 closed

[2020-10-11 07:59] #315 closed

[2020-10-11 08:02] #291 closed

[2020-10-11 08:02] #281 closed

[2020-10-11 08:54] rmrn65 commented on #350
Can I work on this. I want to solve this using java.

[2020-10-11 09:09] IliasKhan opened #353 "845 | Longest Mountain in Array | C++"
## **`Title`** - Longest Mountain in Array

**What will change** -
Added solution for problem 845 from Leetcode platform

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
-

[2020-10-11 09:09] IliasKhan commented on #353
Hi, please assign this to me.

[2020-10-11 10:17] dwij2212 opened #355 "36 | Valid Sudoku | C++"
## **`Title`** - Valid Sudoku

**What will change** - Add solution for [Q. 36](https://leetcode.com/problems/valid-sudoku/) from LeetCode

### Type of Issue - Adding solution for [Q. 36](https://leetcode.com/problems/valid-sudoku/)

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x]

[2020-10-11 10:17] dwij2212 commented on #355
Hi! I noticed Q36 has not yet been completed. Please assign this issue to me.

[2020-10-11 10:20] IliasKhan opened #356 "491 | Increasing Subsequences | C++"
## **`Title`** - Increasing Subsequences

**What will change** -
Added solution for problem 491 from Leetcode platform

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Ad

[2020-10-11 10:28] MayankGupta7 opened #357 "1289 | matrix in spiral form| Python"
## **`Title`** - Print an input matrix in a spiral form

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the

[2020-10-11 10:28] MayankGupta7 commented on #357
Can you please assign this issue to me.

Thanks in advance.

[2020-10-11 12:11] ankitsheoran1 commented on #356
@IliasKhan please assign me this I want to work on this.

[2020-10-11 14:22] vsneha2002 commented on #247
assign to me

[2020-10-11 14:59] deepharshsri commented on #347
Hey, can you assign me to this task?

[2020-10-11 19:14] sun-fox commented on #356
I solved it on Leetcode assign this to me.

[2020-10-11 23:08] j3r3mias opened #358 "88 | Merge Sorted Array | Python"
## **`Merge Sorted Array`** -

Solution to the problem 88 (Merge Sorted Array).

### Type of Issue -

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

[2020-10-12 04:46] SSKale1 commented on #333
@SaimantikaBasu let @steventango handle this cooldown for a while.

[2020-10-12 04:47] SSKale1 commented on #333
- [x] Assigning to @steventango

[2020-10-12 04:48] #333 closed

[2020-10-12 04:49] #223 closed

[2020-10-12 04:50] #221 closed

[2020-10-12 04:50] #218 closed

[2020-10-12 04:55] #282 closed

[2020-10-12 04:56] #323 closed

[2020-10-12 04:57] #321 closed

[2020-10-12 05:00] SSKale1 commented on #358
@j3r3mias I'm assigning you this issue now but in the future make sure, you wait to be assigned to any issue, before making a PR.

[2020-10-12 05:01] #358 closed

[2020-10-12 05:02] Yashica7 commented on #330
@SaimantikaBasu This code has already been made

[2020-10-12 05:02] #330 closed

[2020-10-12 05:03] SSKale1 commented on #208
@SHIVANATHRIHARIKRISHNA you can create another issue for some other problem.

[2020-10-12 05:03] #208 closed

[2020-10-12 05:10] #210 closed

[2020-10-12 06:08] SharmaRajesh007 commented on #350
Issue solved, Please review. @Yashica7
Peace :)

[2020-10-12 06:14] Yashica7 opened #364 "905 | Sort Array by Parity | C++"
## **`Title`** - Sort Array by Parity

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for be

[2020-10-12 06:22] dhanika08 commented on #364
I can work on this issue , please assign this to me

[2020-10-12 06:31] amolgautam25 commented on #346
Created a PR for this issue : https://github.com/SHY-Corp/LeetCode-Solutions/pull/365

[2020-10-12 06:47] Yashica7 commented on #364
@dhanika08 This has already been assigned,you can create an Issue and wait for it to be assigned

[2020-10-12 06:49] #364 closed

[2020-10-12 06:51] vsneha2002 commented on #334
can u assign this to me

[2020-10-12 08:14] mo1sharnoby commented on #356
assign me to start contrbuting!
thanks.

[2020-10-12 08:27] hjpassion opened #369 "232 | Implement Queue Using Stacks | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-12 08:28] hjpassion commented on #369
please assign me this issue @SSKale1 @Yashica7

[2020-10-12 08:46] hhmy27 opened #370 "559 | Maximum Depth of N-ary Tree | Python"
## **`Title`** -Maximum Depth of N-ary Tree

**What will change** - Adding new code for `559-Maximum Depth of N-ary Tree` in python

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better

[2020-10-12 08:48] hhmy27 commented on #370
please assign me this issue @Yashica7 @SSKale1

Thx  !!

[2020-10-12 15:13] #350 closed

[2020-10-12 15:28] #357 closed

[2020-10-12 15:31] #346 closed

[2020-10-12 15:35] #353 closed

[2020-10-12 15:38] #355 closed

[2020-10-12 18:06] SharmaRajesh007 opened #373 "Change 134. Single Number II to 137 Single Number II"
## **`Change 134. Single Number II to 137 Single Number II`** -

**What will change** - Rename the code 134. Single Number II to 137 Single Number II in python folder

### Type of Issue - Edit a file

Please add/delete options that are not relevant.

- [x] Improving Code
- [x] Improving Documentation

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Requ

[2020-10-12 18:07] SharmaRajesh007 commented on #373
Please assign this issue to me,
Thanks :)

[2020-10-13 04:07] #347 closed

[2020-10-13 04:19] #349 closed

[2020-10-13 07:11] SharmaRajesh007 opened #377 "134 | Gas Station | CPP"
## **`134 | Gas Station | CPP`** -

**What will change** - Add a file

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in t

[2020-10-13 07:11] SharmaRajesh007 commented on #377
Please Assign this to me.
Thanks :)

[2020-10-13 10:23] rishika-singh49 commented on #369
I would like to do this in c
Can i do it?

[2020-10-13 15:17] sid-1207 commented on #334
I would like to contribute in C/C++
Please assign it to me

[2020-10-13 21:18] Aman23092001 opened #378 "101 | Symmetric Tree| C++"
## **`Symmetric Tree`** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Sta

[2020-10-14 05:22] lashewi commented on #378
Can I work on this?

[2020-10-14 07:23] Aman23092001 commented on #378
Hey, I want to work on this.
Thank you!!!

[2020-10-14 13:02] SSKale1 commented on #32
- [x] Assigning to @VishalAmbavade .

[2020-10-14 13:03] SSKale1 commented on #33
- [x] Assigning to @VishalAmbavade

[2020-10-14 13:04] #325 closed

[2020-10-14 13:07] #373 closed

[2020-10-14 13:08] #370 closed

[2020-10-14 13:10] #369 closed

[2020-10-14 13:37] HansaHalim commented on #378
I want to work on this! Please assign me!

[2020-10-14 13:45] HansaHalim opened #379 "547 | Friend Circles | C++"
## **`Friend Circles`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documenta

[2020-10-14 13:46] HansaHalim commented on #379
Hello! please assign me to this issue

[2020-10-14 13:49] lashewi opened #380 "1588 | Sum of All Odd Length Subarrays | Python"
## **`Sum of All Odd Length Subarrays`** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in t

[2020-10-14 13:49] lashewi commented on #380
Please assign me to this issue.

[2020-10-14 14:00] HansaHalim opened #381 "199 | Binary Tree Right Side View | C++"
## **`Binary Tree Right Side View`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` a

[2020-10-14 14:00] HansaHalim commented on #381
Please assign me to this issue! I want to work on it!

[2020-10-14 14:55] smitgajjar opened #382 "152 | Maximum Product Subarray | C++"
## **`Maximum Product Subarray`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and

[2020-10-14 14:56] smitgajjar commented on #382
I want to work on this.
Can you assign it to me?
Thank you...

[2020-10-14 18:09] Sinha199 opened #383 "151 | Reverse Words in a String | C++"
## **Reverse Words in a String** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get a

[2020-10-14 18:21] Tahreem-Khalil commented on #383
hello, how are you?
I want to be assigned to this issue.
Thank you.

[2020-10-14 18:55] Isha2208 commented on #383
Hey, **@Sinha199** can you assign it to me. Will like to contribute.

[2020-10-14 20:22] ITES7321 commented on #382
#386 Have added the answer :) Thank You!

[2020-10-14 20:38] ITES7321 opened #387 "1431 | Kids With the Greatest Number of Candies| C++"
## **`Kids With the Greatest Number of Candies`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `

[2020-10-14 20:39] ITES7321 commented on #387
Can I work on this problem?Thanks!

[2020-10-14 23:02] jainsarthak216 commented on #383
Please assign this to me.

[2020-10-15 01:04] pawki07 commented on #381
Hey, I would like to contribute to this issue. Please assign it to me.

[2020-10-15 03:16] theroyalraj commented on #225
Hi, I want to work on this issue. Please assign it to me.

[2020-10-15 03:33] theroyalraj opened #389 "Misplaced C++ files"
Two C++ files which are
38. CountAndSay.cpp
49. Group_Anagrams.cpp
These files are in root folder
Move it to C++ folder.

[2020-10-15 03:34] theroyalraj commented on #389
I want to work on this

[2020-10-15 04:07] #378 closed

[2020-10-15 07:12] Melvin-Abraham opened #390 "338 | Counting Bits | Python"
## **`Title`** - Counting Bits

**What will change** - Addition of solution for _338. Counting Bits_ in Python

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self

[2020-10-15 08:06] Melvin-Abraham commented on #390
Please assign me this issue...

[2020-10-15 09:07] Sindhu-321 commented on #387
Can I get this assigned? Thanks

[2020-10-15 10:49] Isha2208 commented on #383
Hey, @Sinha199 can i be assigned for this issue. Will like to contribute.

[2020-10-15 12:06] ary1733 commented on #387
Please assign this to me, thank you.

[2020-10-15 14:57] #377 closed

[2020-10-15 15:03] SSKale1 commented on #383
@Tahreem-Khalil you can create your own issue.

[2020-10-15 16:27] smitgajjar opened #398 "121 | Best Time to Buy and Sell Stock | C++"
## **`Best Time to Buy and Sell Stock`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Cod

[2020-10-15 16:27] smitgajjar commented on #398
Assign me to this issue! Thanks...

[2020-10-15 16:41] smitgajjar opened #399 "1022 | Sum of Root To Leaf Binary Numbers | C++"
## **`Sum of Root To Leaf Binary Numbers`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean

[2020-10-15 16:41] smitgajjar commented on #399
Assign this issue to me! Thanks...

[2020-10-15 16:48] smitgajjar opened #400 "31 | Next Permutation | C++"
## **`Next Permutation`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documen

[2020-10-15 17:44] Ruchi101 commented on #383
Hey, @Sinha199 can you assign it to me. Would like to contribute. Thanks

[2020-10-15 17:53] Ruchi101 commented on #390
Please assign this task to me.

[2020-10-15 18:17] #379 closed

[2020-10-15 18:18] #380 closed

[2020-10-15 18:18] #381 closed

[2020-10-15 18:21] #383 closed

[2020-10-15 18:28] #245 closed

[2020-10-15 18:30] imshahnawazdevil commented on #400
May I work ?

[2020-10-15 19:09] smitgajjar commented on #400
Assign me to this issue! Thanks...

[2020-10-15 20:28] cremento commented on #297
Please assign this to me. This will be my first step to open source.
Thanks in advance.

[2020-10-15 21:41] #382 closed

[2020-10-15 21:43] #399 closed

[2020-10-15 21:44] #398 closed

[2020-10-16 03:55] lashewi opened #408 "1480 | Running Sum of 1d Array | Python"
## **`Title - Running Sum of 1d Array`**

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to

[2020-10-16 04:00] parkerqueen commented on #408
Hey, I would love to work on this issue.

[2020-10-16 04:39] Khushaliketan opened #409 "1029 | Two City Scheduling | Java"
## **`Title`** - Two City Scheduling

**What will change** - New Java code that beats 100% time complexity distribution of all submissions.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
-

[2020-10-16 04:41] Khushaliketan opened #410 "19 | Remove Nth Node From End Of List | Java"
## **`Title`** - Remove Nth Node From End Of List

**What will change** - New Java code will be added

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [x] Java
- [ ] SQL

### Self Check

-

[2020-10-16 04:43] Khushaliketan opened #411 "1208 | Get Equal Substrings Within Budget | Java"
## **`Title`** - Get Equal Substrings Within Budget

**What will change** - New Java code will be added under appropriate folder.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [x] Java

[2020-10-16 04:44] Khushaliketan opened #412 "438 | Find All Anagrams In A String | Java"
## **`Title`** - Find All Anagrams In A String

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [x] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and w

[2020-10-16 04:51] Khushaliketan commented on #411
Hi, I am proposing a Java solution to this question using the **Sliding Window** technique. Would love to commit a PR!

[2020-10-16 05:01] Khushaliketan opened #413 "797 | All Paths From Source To Target | Java"
## **`Title`** - All Paths From Source To Target

**What will change** - New optimised Java code that beats 95.78% Time Distribution of all submissions.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Pytho

[2020-10-16 05:05] Khushaliketan commented on #409
Hi, I am proposing a Java solution that beats 100% time complexity distribution of all submissions on Leetcode. Would love to commit a PR if assigned!

[2020-10-16 05:40] #408 closed

[2020-10-16 05:40] lashewi opened #415 "1480 | Running Sum of 1d Array | Python"
## **`Title`** - Running Sum of 1d Array

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to

[2020-10-16 05:40] lashewi commented on #415
Id like to work on this issue.

[2020-10-16 07:06] devanshkaria88 opened #418 "13 | Roman to Integer | Python"
## Roman to Integer

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it b

[2020-10-16 07:06] devanshkaria88 commented on #418
please assign me this issue @Yashica7 @SSKale1

Thx !!

[2020-10-16 07:12] devanshkaria88 opened #419 "26 | Remove Duplicates from Sorted Array | Python"
## **`Remove Duplicates from Sorted Array`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and w

[2020-10-16 07:12] devanshkaria88 commented on #419
please assign me this issue @Yashica7 @SSKale1

Thx !!

[2020-10-16 07:18] colmanfranco opened #420 "1050 | PrimeFactors | Java"
## **`PrimeFactors `** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [] C++
- [x] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it be

[2020-10-16 07:18] colmanfranco commented on #420
would like to add this problem. Please assign it to me

[2020-10-16 07:21] colmanfranco opened #421 "13 | RomanToInteger | Java"
## **`RomanToInteger`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [ ] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [x] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned t

[2020-10-16 07:21] colmanfranco commented on #421
Want to refactor this issue. Please assign it to me

[2020-10-16 08:00] Kartik1745 commented on #420
I would like to contribute, can I be assigned to work on this issue?

[2020-10-16 08:12] sidrakshe28 opened #423 "151 | Reverse Words in a String| C++"
## **`Title`** - Reverse Words in a String

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait

[2020-10-16 08:12] sidrakshe28 commented on #423
Please assign me this issue.Would like to try this problem.

[2020-10-16 08:22] aveni121 commented on #423
Hello I would like to try this issue if possible!

[2020-10-16 08:35] harshitalashkari commented on #413
Can you please assign this to me? I 'll use java

[2020-10-16 08:38] aveni121 commented on #387
Can I work on this problem please?

[2020-10-16 09:35] nk183 commented on #387
Can I work on this problem please?

[2020-10-16 09:52] ciso112 commented on #411
Can you assign this to me? :)

[2020-10-16 10:09] markzuck24 opened #427 "853. Car Fleet"

[2020-10-16 10:09] markzuck24 commented on #427
`class Solution {
public:

    static bool srt(pair<int,int> &a, pair<int,int> &b)
    {
        if(a.first!=b.first)
            return a.first<b.first;

        return a.second <b.second;
    }

    int carFleet(int target, vector<int>& position, vector<int>& speed) {

       int n=position.size();

        if(n<=1)
            return n;

        vector<pair<int,int>> v(n);

        for(int i=0;

[2020-10-16 11:22] xcyraxx commented on #387
hey can i work on this? thanks

[2020-10-16 11:32] rathovarun commented on #410
@Khushaliketan Can you assign this to me? thank you!

[2020-10-16 12:06] lashewi opened #429 "1470 | Shuffle the Array | Python"
## **`Title`** - Shuffle the Array

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get a

[2020-10-16 12:06] lashewi commented on #429
Id like to work on this issue.

[2020-10-16 12:46] Sindhu-321 commented on #423
May i get this issue assigned? i would like to solve this. Thanks.

[2020-10-16 12:50] Sindhu-321 commented on #400
May i get this issue assigned? Thanks.

[2020-10-16 13:06] gouravmahakud commented on #423
Hi there, would love to solve this issue, please do assign this to me.

[2020-10-16 15:27] rachita19082 commented on #420
I would like to contribute to this issue. Could I please be assigned to it?

[2020-10-16 15:30] princekhj555 commented on #423
hey,please assign this to me, let me do this.

[2020-10-16 16:04] amulya12 commented on #423
Please assign me to this issue. I would like to solve this problem

[2020-10-16 16:06] amulya12 commented on #415
I would like to solve this. please assign it to me

[2020-10-16 16:34] UdeshAthukorala opened #435 "4 | Median of Two Sorted Arrays | Python"
## **`Median of Two Sorted Arrays`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to g

[2020-10-16 16:35] IsuruAriyarathne commented on #410
Can you assign this to me

[2020-10-16 16:36] UdeshAthukorala commented on #435
@Yashica7 @SSKale1 Hey, I'd like to work on this problem. Can you please assign it to me?

[2020-10-16 18:29] ambuj2000 commented on #435
Please assign me this issue

[2020-10-16 18:34] ShubhamNagure commented on #429
Hi @lashewi
Please Assign me this task.

[2020-10-16 18:43] ShubhamNagure commented on #419
Hi @devanshkaria88
I can do it.
Please assign me.

[2020-10-16 19:00] Pratyushraj2121 commented on #423
Can I get this one please. I can do this!

[2020-10-16 19:17] liamm91 commented on #418
Can you assign this issue to me?

[2020-10-16 19:17] liamm91 commented on #419
Can you assign this issue to me?

[2020-10-16 19:18] liamm91 commented on #435
Can you assign me this issue?

[2020-10-16 19:18] liamm91 commented on #429
Can you assign me this issue?

[2020-10-16 19:18] liamm91 commented on #423
Can you assign me this issue?

[2020-10-16 19:22] liamm91 commented on #400
Can you assign me this issue?

[2020-10-16 19:22] liamm91 commented on #390
Can you assign me this issue?

[2020-10-16 19:53] himanshu1603 opened #438 "921 | Minimum Add to Make Parentheses Valid | C++"
## **`Title`** - Minimum Add to Make Parentheses Valid

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignme

[2020-10-16 19:54] himanshu1603 commented on #438
Please assign this issue to me.

[2020-10-16 20:11] Jeewantha95 commented on #423
Can you assign me this issue?

[2020-10-16 20:52] sagnikghoshcr7 commented on #412
import java.util.ArrayList;
import java.util.List;

public class _438 {

    public static class Solution1 {
        /**
         * Sliding Window
         */
        public List<Integer> findAnagrams(String s, String p) {
            List<Integer> result = new ArrayList();
            int[] hash = new int[26];
            for (char c : p.toCharArray()) {
                hash[c - 'a']++;

[2020-10-17 00:19] msmaitran commented on #435
I'd like to work on this issue.

[2020-10-17 00:52] aryanmanchanda commented on #423
can you assign me for solving this issue?

[2020-10-17 00:54] aryanmanchanda commented on #334
can you assign me?

[2020-10-17 00:54] aryanmanchanda commented on #247
can you assign me?

[2020-10-17 00:55] aryanmanchanda commented on #327
can you assign me ?

[2020-10-17 01:11] aryanmanchanda commented on #435
can you assign me?

[2020-10-17 01:13] aryanmanchanda commented on #429
can you assign me this issue?

[2020-10-17 01:14] aryanmanchanda commented on #400
can you assign me this issue?

[2020-10-17 01:58] malaika2820 commented on #419
Can you assign this issue to me? Thanks!

[2020-10-17 03:13] pawki07 commented on #419
Hey, I would like to work on this issue. Please assign it to me.

[2020-10-17 03:28] arpit7714 opened #445 "74 | Search a 2D Matrix | C++"
## **`Title`** - Search a 2D Matrix

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get

[2020-10-17 03:29] arpit7714 commented on #445
Please assign this to me

[2020-10-17 03:32] Chidu2000 commented on #409
I would like to contribute here, please assign me

[2020-10-17 04:08] kumarisurbhi opened #447 "19. | Remove Nth Node From End of List | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-17 04:08] kumarisurbhi commented on #447
Please assign this to me.

[2020-10-17 04:24] patelviralb opened #448 "763 | Partition Labels | Java"
## **`Title`** - [**`763. Partition Labels`**](https://leetcode.com/problems/partition-labels/)

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

[2020-10-17 04:24] patelviralb commented on #448
Please assign to me

[2020-10-17 04:52] pranjalyadav451 commented on #447
Would you please assign this to me?

[2020-10-17 05:54] kakabisht commented on #445
Hi, i could take this issue up let me know if it is up for grabs.

[2020-10-17 06:17] AbdulSameer47 opened #450 "704 | BinarySearch| c++"
## **`BinarySearch`** -

**added the main class, header file and the given vector will be sorted before search because in binary search its important that the given elements are in sorted order ** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

[2020-10-17 06:44] Khushaliketan commented on #410
@rathovarun @IsuruAriyarathne I don't have write access in this repo. Besides, I am waiting for the maintainer to assign myself. Good luck! :)

[2020-10-17 06:57] 19isha98 commented on #411
Hey I am interested in doing it could you please assign it to me. And can I submit in Java?

[2020-10-17 07:38] Pratyushraj2121 commented on #450
Please assign this to me! I can do this!

[2020-10-17 07:58] Darsh4521 opened #455 "220 | Contains Duplicate III | C++"
## **`Contains Duplicate III`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assigned

[2020-10-17 08:00] Darsh4521 commented on #455
Assign this issue to me  please.

[2020-10-17 08:04] gitarthasarma opened #457 "78 | Subsets of a given array | C++"
## **`Subsets of a given array(no duplicates) `** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the progra

[2020-10-17 08:10] muskanvk commented on #457
please assign it to me !

[2020-10-17 08:12] gitarthasarma commented on #457
I have the changes, can assign to me.

[2020-10-17 08:41] rishab1128 opened #460 "559 | Maximum Depth of N-ary Tree | C++"
## **`Maximum Depth of N-ary Tree`** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

[2020-10-17 08:42] rishab1128 commented on #460
I have already added the code , can you please assign it to me!!!

[2020-10-17 08:45] snehaa1989 commented on #447
I have a good understanding of linked lists. Please assign this to me.

[2020-10-17 08:50] isrivastav99 commented on #455
Can you assign this to me for the C++ code?

[2020-10-17 08:54] snehaa1989 commented on #445
please assign this to me..

[2020-10-17 09:38] sau-rav opened #461 "11 | Container With Most Water | C++"
## **`Container With Most Water`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get

[2020-10-17 09:39] sau-rav commented on #461
Please assign it to me

[2020-10-17 10:15] pranav7955 opened #463 "1512 | Number of Good Pairs | C++"
## **`Title`** - 1512 | Number of Good Pairs | C++

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `C

[2020-10-17 10:45] pranav7955 opened #465 "1342 | Number of Steps to Reduce a Number to Zero | C++"
## **`Title`** - 1342 | Number of Steps to Reduce a Number to Zero | C++

Added solution to new problem 1342

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add y

[2020-10-17 10:54] sau-rav opened #466 "36 | Valid Sudoku | C++"
## **`Valid Sudoku`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to

[2020-10-17 10:55] sau-rav commented on #466
Please assign to me

[2020-10-17 11:03] #466 closed

[2020-10-17 11:09] Divyansh833 commented on #408
Hey @lashewi , I am Searching for my very first Hacktoberfest and this looks very perfect for me.
Could you please assign it to me.
Thanks in advance :) !!

[2020-10-17 11:12] pranav7955 commented on #463
Assign it to me @pranav7955

[2020-10-17 11:13] pranav7955 commented on #465
Assign it to me @pranav7955 so i can open a PR

[2020-10-17 11:23] jntushar opened #470 "52 | N-Queens II | Java"
## **`Title`** - 52 | N-Queens II | Java

**What will change** - Adding solution to problem 52

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [x] Java
- [ ] SQL

### Self Check

- Ask fo

[2020-10-17 11:24] jntushar commented on #470
Please assign this issue to me

[2020-10-17 12:19] shubham14596 commented on #448
Please assign this issue to me.

[2020-10-17 12:28] geetanshatrey opened #474 "200 | Number Of Islands | C++"
## **`Title`** - Number Of Islands

**What will change** - Adding a new file that is Q 200. Number Of Islands on LeetCode in C++.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- []

[2020-10-17 12:30] tharani247 opened #475 "230 | Kth smallest element in BST | Python"
## **`kth smallest element in BST`** -

**What will change** -Addding New Code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- []C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and

[2020-10-17 12:31] tharani247 commented on #475
Please assign me this issue

[2020-10-17 12:31] ravjotkaamra opened #476 "LeetCode-Solutions/C++/9. Palindrome Number.cpp"
There are some redundant _else_ statements in the code and boolean value can be used instead of integer c for better readability, and a bit of space optimization.

[2020-10-17 12:34] ravjotkaamra commented on #476
Can you assign this to me, please?

[2020-10-17 12:44] ravjotkaamra opened #477 "9 | Palindrome Number | C++"
## **`Title`** -

**What will change** - Improving Code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docu

[2020-10-17 12:44] ravjotkaamra commented on #477
There are some redundant else statements in the code and boolean value can be used instead of integer c for better readability, and a bit of space optimization.

[2020-10-17 12:45] ravjotkaamra commented on #477
Can you assign this to me, please?

[2020-10-17 12:45] #476 closed

[2020-10-17 13:17] devanshkaria88 opened #478 "14 | Longest Common Prefix | Python"
## **`Longest Common Prefix`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get ass

[2020-10-17 13:26] devanshkaria88 commented on #478
Please Assign this problem to me  @Yashica7 @SSKale1

[2020-10-17 13:28] swaingotnochill opened #479 "Problem Number | Title | Language"
## **`Title`** - Blind Curated 75

**What will change** -
Creating a folder which contains all solutions of problems from blind curated 75 of Leetcode
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x]

[2020-10-17 13:35] pranav7955 opened #480 "1614 | Maximum Nesting Depth of the Parentheses | C++"
## **`Title`** - 1614. Maximum Nesting Depth of the Parentheses

**What will change** -
Adding problem 1614. Maximum Nesting Depth of the Parentheses and solution to it

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wa

[2020-10-17 13:40] Tejas-Gosavi commented on #445
will you plz assign this task to me!!!

[2020-10-17 13:40] pranav7955 opened #481 "1313 | Decompress Run-Length Encoded List | C++"
## **`Title`** - 1313. Decompress Run-Length Encoded List

**What will change** -
Add problem 1313. Decompress Run-Length Encoded List and its solution

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigne

[2020-10-17 13:41] Tejas-Gosavi commented on #447
will you plz assign this task to me!!!

[2020-10-17 14:21] MatheusNtg opened #484 "1 | TwoSum| C++"
## **`Fix indentation of code`** -

**Fix a problem with the indentation of the code** -

### Type of Issue -

Please add/delete options that are not relevant.

- [ ] Adding New Code
- [x] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issu

[2020-10-17 14:21] ambuj2000 commented on #484
please assign me

[2020-10-17 14:32] RachanaKampli commented on #480
Hey @pranav7955 can you assign this to me?

[2020-10-17 14:34] ambuj2000 commented on #412
please assign me

[2020-10-17 14:37] Devplay9847 commented on #412
Example 1:
Input:
s: "cbaebabacd" p: "abc"
Output:
[0, 6]
Explanation:
The substring with start index = 0 is "cba", which is an anagram of "abc".
The substring with start index = 6 is "bac", which is an anagram of "abc".
Example 2:
Input:
s: "abab" p: "ab"
Output:
[0, 1, 2]
Explanation:
The substring with start index = 0 is "ab", which is an anagram of "ab".
The substring with start index = 1 is "

[2020-10-17 14:40] Devplay9847 commented on #412
If comments describe this code to please assign me.

[2020-10-17 14:46] RachanaKampli commented on #474
hey @geetanshatrey can you assign this to me?

[2020-10-17 15:41] SuryankDixit opened #485 "91 | Decode Ways | C++"
## **`Decode Ways`** -

**Addding New Code** -

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it

[2020-10-17 16:01] AniketDGiri commented on #450
Could you please assign this to me?

[2020-10-17 16:23] piyush-kash opened #487 "75 | Sort Colors | Java"
## **`Title`** - Sort Colors

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2:

[2020-10-17 17:01] Bhaswati-Saha commented on #484
please assign it to me.

[2020-10-17 17:03] Bhaswati-Saha commented on #420
Would like to contribute. Can you please assign it to me?

[2020-10-17 17:05] Bhaswati-Saha commented on #409
would like to contribute. Please assign it to me.

[2020-10-17 17:08] sidoknowia commented on #487
Hi @piyush-kash  - Can you please assign this to me?

[2020-10-17 17:16] dougnobrega commented on #409
Hello, I would like to contribute too. Please assign it to me (:
I solve in C++, now I will write the code in java
Runtime: 0 ms, faster than 100.00% of C++ online submissions for Two City Scheduling.

[2020-10-17 17:25] dougnobrega commented on #409
I got it (:
Runtime: 0 ms, faster than 100.00% of Java online submissions for Two City Scheduling.

[2020-10-17 17:27] #390 closed

[2020-10-17 17:46] SSKale1 commented on #225
PR Merged.

[2020-10-17 17:46] #225 closed

[2020-10-17 17:47] #387 closed

[2020-10-17 18:12] #235 closed

[2020-10-17 18:19] #461 closed

[2020-10-17 18:21] sidoknowia opened #488 "1342 | Number of Steps to Reduce a Number to Zero| Python"
## **`1342. Number of Steps to Reduce a Number to Zero`** -

**What will change** -
New Issue(solution)
### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Doc

[2020-10-17 18:22] sidoknowia commented on #488
@SSKale1  @Yashica7 Please assign this issue to me

[2020-10-17 18:23] madhavmalik16 commented on #474
Hey @geetanshatrey can you assign this issue to me?

[2020-10-17 18:31] sidoknowia opened #490 "226 | Invert Binary Tree| Python"
## **` Invert Binary Tree`** -

**What will change** -
New Problem
### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
-

[2020-10-17 18:32] sidoknowia commented on #490
@SSKale1 @Yashica7 Please assign this issue to me

[2020-10-17 18:37] Mannan2812 commented on #485
Please assign this issue to me. @SuryankDixit

[2020-10-17 18:37] aarush-ittan commented on #484
please assign it to me . I am new to hacktoberfest and want to learn  and do more in it.

[2020-10-17 18:55] SSKale1 commented on #297
@cremento you can make another issue.

[2020-10-17 18:58] sidoknowia opened #495 "647 | Palindromic Substrings| Python"
## **`Palindromic Substrings`** -

**New Issue(solution)** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code`

[2020-10-17 18:58] sidoknowia commented on #495
@SSKale1 @Yashica7 Please assign this issue to me

[2020-10-17 19:02] sidoknowia opened #496 "64 | Minimum Path Sum | Python"
## **`Minimum Path Sum`**

**New Issue(solution)** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Doc

[2020-10-17 19:02] sidoknowia commented on #496
@SSKale1 @Yashica7 Please assign this issue to me

[2020-10-17 19:03] SSKale1 commented on #421
What changes would you make?

[2020-10-17 19:04] SSKale1 commented on #423
This already exists in our codebase.

[2020-10-17 19:04] #423 closed

[2020-10-17 19:04] #427 closed

[2020-10-17 19:14] AaronF3PS commented on #409
I would like to contribute feel free to assign me this task

[2020-10-17 19:18] Mannan2812 commented on #485
@SSKale1 @Yashica7

[2020-10-17 19:19] Mannan2812 commented on #481
Please assign this to me @Yashica7 and @SSKale1

[2020-10-17 19:26] adhi-2311 commented on #487
Can you please assign this to me @piyush-kash .

[2020-10-17 19:30] ankitvd6 opened #497 "201 | Bitwise AND of Numbers Range| Java"
## **`Title`** - Bitwise AND of Numbers Range

**What will change** -  A Java solution will be added for this problem. Solution which faster than 100.00% of Java Submissions.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `

[2020-10-17 19:31] piyush-kash commented on #487
please assign this issue to me @Yashica7 @SSKale1

[2020-10-17 19:31] ankitvd6 commented on #497
Can you assign this to me @SSKale1.

[2020-10-17 19:31] piyush-kash commented on #487
i can't .the owner can

[2020-10-17 19:34] adhi-2311 commented on #487
Can you please assign this to me @Yashica7 @SSKale1

[2020-10-17 19:45] piyush-kash opened #498 "Problem Number | Title | Language"
## **`Title`** - Jump Game

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: S

[2020-10-17 19:47] adhi-2311 opened #500 "724 | Find Pivot Index | Java"
## **`Title`** - 724.  Find Pivot Index

**What will change** - Adding solution to problem  Find Pivot Index

### Type of Issue -
Please add/delete options that are not relevant.
- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add you

[2020-10-17 19:48] adhi-2311 commented on #500
Please assign this to me @Yashica7 @SSKale1

[2020-10-17 19:51] piyush-kash opened #501 "73 | Set Matrix Zeroes | Python"
## **`Title`** - Set Matrix Zeroes

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

[2020-10-17 19:51] piyush-kash commented on #501
please assign me this @Yashica7 @SSKale1

[2020-10-17 20:02] #498 closed

[2020-10-17 20:03] Rajeet10 commented on #477
can you assign this one plz?

[2020-10-17 20:05] Rajeet10 commented on #474
plz assign me it will be a good help

[2020-10-17 20:06] gunjan1831 commented on #411
hey, can i offer a C++ solution?

[2020-10-17 20:08] aniruddhav25 opened #505 "1019 | Next Greater Node In Linked List | Java"
## **`Title:-Next Greater Node In Linked List`** -

**Java Implementation** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
-

[2020-10-17 20:08] aniruddhav25 commented on #505
@Kingal1337 please assign me this issue

[2020-10-17 20:10] Sanatan-Shrivastava opened #506 "187 | Repeated DNA Sequence | JAVA"
## **`Repeated DNA Sequence`** -

**What will change** -
Adding problem 187 Repeated DNA Sequence and JAVA solution to it

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [] C++
- [x] Java
- [] SQL

[2020-10-17 20:11] Sanatan-Shrivastava commented on #506
@SHY-Corp Please Assign it to me.

[2020-10-17 21:09] shivanshuman021 opened #507 "20 | Valid Parenthesis | C++"
## **`Title`** - 20 | Valid Parenthesis | C++

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean

[2020-10-17 21:10] shivanshuman021 commented on #507
Hi !
Please assign this issue to me !
Thanks!

[2020-10-17 21:41] Yashica7 commented on #480
@pranav7955 Do u want to get assigned to this?

[2020-10-17 21:50] Yashica7 commented on #484
@MatheusNtg I don't think Indentation is such a major issue unless its python

[2020-10-17 21:50] #484 closed

[2020-10-17 21:51] Yashica7 commented on #485
@Mannan2812 You can create an issue and get assigned to it

[2020-10-17 21:55] pranav7955 commented on #480
Yes please assign it to me, i will open new issues for other to contribute soon :)

[2020-10-17 21:55] Yashica7 commented on #487
@adhi-2311 You can create an issue and get assigned to it

[2020-10-17 21:59] Curiouspaul1 opened #508 "43 | Multiply Strings | Python"
## **`Multiply Strings`** -

**New Code (Solution)** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `D

[2020-10-17 22:01] Curiouspaul1 commented on #508
@SSKale1 @Yashica7 Could you please assign this issue to me.

[2020-10-17 22:06] #457 closed

[2020-10-17 22:21] pranav7955 opened #511 "1221 | Split a String in Balanced Strings | C++"
## **`Title`** - 1221. Split a String in Balanced Strings

**What will change** -

Add new problem set and a solution to it

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull R

[2020-10-17 22:21] pranav7955 commented on #511
Assign this to me @pranav7955

[2020-10-17 22:26] pranav7955 opened #512 "1365 | How Many Numbers Are Smaller Than the Current Number | C++"
## **`Title`** - 1365. How Many Numbers Are Smaller Than the Current Number

**What will change** -

Add a new problem set and solution to it

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it be

[2020-10-17 22:30] pranav7955 commented on #480
Hi @RachanaKampli , I have opened a new issue #512 for you and i hope that's fine with you :)
Also, can you comment once again at #512 & don't forget you have to wait for this issue to be assigned to you, then only you can open a valid PR.

[2020-10-17 22:33] pranav7955 commented on #512
Please assign this to @RachanaKampli :)

[2020-10-18 01:32] jatin831 opened #513 "85. | Maximal Rectangle | C++"
## **Maximal Rectangle** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: St

[2020-10-18 01:56] jntushar opened #518 "51 | N-Queens | Java"
## **`Title`** - N-Queens

**What will change** - Adding new problem (hard)

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment

[2020-10-18 01:58] nausherofficial commented on #477
would you please assign this to me

[2020-10-18 02:01] jntushar opened #519 "48 | Rotate Image | Java"
## **`Title`** - Rotate Image

**What will change** - Adding new problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [x] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and

[2020-10-18 02:02] jntushar commented on #519
Please assign this issue to me

[2020-10-18 02:03] jntushar commented on #518
Please assign this issue to me

[2020-10-18 02:57] Sanatan-Shrivastava commented on #506
Please check the PR. Thanks!

[2020-10-18 03:26] ChetanaL09 commented on #474
Please assign this to me for Python

[2020-10-18 03:27] ChetanaL09 commented on #470
Please assign this to me for Python.

[2020-10-18 03:36] jntushar commented on #470
Hi @ChetanaL09
It's good to see that you want to contribute but read the contributing.md file first
you should open your own issues and then ask for assign
This issue is already assigned to me and i have already opened pull request.

[2020-10-18 03:39] SuryankDixit commented on #485
Thank You @Yashica7

[2020-10-18 04:15] swaingotnochill commented on #512
We can't do that unless she volunteers herself.

[2020-10-18 04:19] swaingotnochill commented on #513
Unless the issue is assigned to you, you should not make a PR. This is treated as spam.

[2020-10-18 04:26] sau-rav opened #522 "48 | Rotate Image | C++"
## **`Rotate Image`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentati

[2020-10-18 04:26] sau-rav commented on #522
Please assign the issue to me

[2020-10-18 04:35] RachanaKampli commented on #512
Can you assign this to me?

[2020-10-18 04:44] swaingotnochill commented on #522
There's already a solution for this. Unless you mention how you will modify and improve the code,  I can't assign this to you .

[2020-10-18 05:00] #522 closed

[2020-10-18 05:13] sau-rav opened #527 "146 | LRU Cache | C++"
## **`LRU Cache`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation`

[2020-10-18 05:14] sau-rav commented on #527
The solution to LRU Cache is not available, please assign I will add the solution

[2020-10-18 05:17] sau-rav opened #528 "239 | Sliding Window Maximum | C++"
## **`Sliding Window Maximum`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `D

[2020-10-18 05:18] sau-rav commented on #528
The solution to sliding window maximum is not available, please assign it to me I will add the solution

[2020-10-18 05:23] sau-rav opened #530 "312 | Burst Balloons | C++"
## **`Burst Balloons`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documenta

[2020-10-18 05:23] sau-rav commented on #530
The solution for burst balloons is not present I will add the solution, please assign to me

[2020-10-18 05:24] DEBADRIBASAK commented on #412
@SSKale1 I have done a pull request for this issue. Please check it.

[2020-10-18 05:32] DEBADRIBASAK commented on #412
Please assign me to this pull request

[2020-10-18 05:33] shivanshuman021 opened #531 "58 | Length of Last Word | C++"
## **Length of Last Word** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2:

[2020-10-18 05:33] DEBADRIBASAK commented on #513
Please assign this issue to me

[2020-10-18 05:37] RishavHimmatramka commented on #531
Can you please assign this issue to me?

[2020-10-18 05:45] RishavHimmatramka commented on #530
Pls assign the issue to me.

[2020-10-18 06:06] nikhil05-code commented on #531
Please assign it to me.

[2020-10-18 06:27] piyush-kash commented on #487
Can i just add a new file in the Java folder of your repo and then make a PR linking my issue?? @Yashica7 @SSKale1

[2020-10-18 06:28] piyush-kash commented on #487
Can i just add a new file in the Java folder of your repo and then make a PR linking my issue?? because its my first time and i dont know any other method @Yashica7 @SSKale1

[2020-10-18 06:29] dhyanid13 commented on #530
I would like to work on it kindly assign it to me

[2020-10-18 06:30] dhyanid13 commented on #531
Could you please assign this to me?

[2020-10-18 06:31] dhyanid13 commented on #528
I would like to provide an efficient solution to this can you please assign it to me?

[2020-10-18 06:36] anuj840 commented on #531
Please assign it to me.

[2020-10-18 06:52] arpit7714 opened #542 "21 | Merge Two Sorted Lists | C++"
## **`Title`** - Merge Two Sorted Lists

**What will change** - Add Merge Two Sorted Solution in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

-

[2020-10-18 06:52] arpit7714 commented on #542
Please, assign this to me

[2020-10-18 06:52] Khushaliketan commented on #410
@SSKale1 request to merge the pull request and add hacktoberfest-accepted tag, thanks!

[2020-10-18 06:53] Khushaliketan commented on #413
@SSKale1  request to merge the pull request and add hacktoberfest-accepted tag, thanks!

[2020-10-18 06:55] Khushaliketan commented on #412
@SSKale1  request to merge the **assigned pull request** and add hacktoberfest-accepted tag, thanks!

[2020-10-18 06:57] Khushaliketan commented on #411
@SSKale1 request to merge the **assigned pull request** and add hacktoberfest-accepted tag, thanks!

[2020-10-18 06:58] jaisaikuntala1 commented on #542
Can you please assign it to me?

[2020-10-18 07:06] anuj840 commented on #415
please assign it to me

[2020-10-18 07:17] KILLERKILLAM opened #546 "442 | Find All Duplicates in an Array | java"
## **`Title`** -Find All Duplicates in an Array in java

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [] C++
- [x] Java
- [] SQL

### Self Check

- Ask for issue assignment an

[2020-10-18 07:21] Shreya-art commented on #542
Hey can you assign it to me??? I can do this using recursion in C++

[2020-10-18 07:36] jaisaikuntala1 commented on #546
Can you assign this to me?

[2020-10-18 07:40] Mannan2812 opened #553 "1608 | Special Array With X Elements Greater Than or Equal X | C++"
## **`Special Array With X Elements Greater Than or Equal X`** -

**New File in C++ directory** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in

[2020-10-18 07:42] Mannan2812 commented on #553
Please assign this to me @Yashica7 and @SSKale1

[2020-10-18 07:44] ankitvd6 opened #554 "1310 | XOR Queries of a Subarray | Java"
## **`Title`** - XOR Queries of a Subarray

**What will change** - New Java solution will be added faster than 100.00% of Java online submissions.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentati

[2020-10-18 07:45] ankitvd6 commented on #554
@SSKale1 @Yashica7 I would like to work on this. Can you please assign this to me.

[2020-10-18 07:47] sethivansh6 commented on #554
@Yashica7 I would like to work on this and any other issue you want me to. Assign me!

[2020-10-18 07:50] ankitvd6 opened #555 "371 | Sum of Two Integers | Java"
## **`Title`** -  Sum of Two Integers

**What will change** - New Java code to find Sum of Two Integers with using `+` and `-`. Runtime: 0 ms, faster than 100.00% of Java online submissions.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the p

[2020-10-18 07:51] ankitvd6 commented on #555
Hi @SSKale1 @Yashica7 i would like to work on this. can you assign this to me.

[2020-10-18 07:57] keshavga1209 opened #559 "300 | Longest Increasing Subsequence | C++"
## **`Title`** - Longest Increasing Subsequence

**What will change** -
Adding Code for a new problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

-

[2020-10-18 07:58] keshavga1209 commented on #559
I am interested in doing this problem. Can you please assign it to me?

[2020-10-18 08:02] RishavHimmatramka opened #560 "805 | Split Array With Same Average | C++"
## **Split Array With Same Average** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` a

[2020-10-18 08:04] RishavHimmatramka commented on #560
i am interested in doing this problem. please assign it to me.

[2020-10-18 08:07] LaxmiNyamagoud commented on #490
can you please assign this issue to me?

[2020-10-18 08:12] edge555 commented on #559
Assign to me, please.

[2020-10-18 08:13] edge555 commented on #531
Please assign it to me. I can do this.

[2020-10-18 08:15] AaronF3PS opened #562 "51 | N-Queens | C++"
## **N-Queens** -

**Included printing all solutions for the problem** -

### Algorithm Based-Backtracking -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

[2020-10-18 08:16] AaronF3PS commented on #562
Feel free to assign me this task

[2020-10-18 08:16] ankitvd6 opened #563 "78 | Subsets | Java"
## **`Title`** - Subsets

**What will change** - Java Solution added for the Problem. Runtime: 0 ms, faster than 100.00% of Java online submissions for Subsets.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

[2020-10-18 08:16] ankitvd6 commented on #563
@SSKale1 @Yashica7 Can you please assign this to me.

[2020-10-18 08:20] ankitvd6 opened #564 "560 | Subarray Sum Equals K | Java"
## **`Title`** - Subarray Sum Equals K

**What will change** - Java solution will be added for the problem.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title

[2020-10-18 08:20] LaxmiNyamagoud commented on #418
please assign this issue to me

[2020-10-18 08:26] abhay27chauhan commented on #528
would love ans this. Can you pls assign it to me?

[2020-10-18 08:45] abhay27chauhan opened #565 "121 | Best Time to Buy and Sell Stock | Java"
## **`Title`** - Best Time to Buy and Sell Stock

**What will change** - Java solution will be added for the problem

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add

[2020-10-18 08:53] abhay27chauhan commented on #563
@SSKale1 @Yashica7 can you pls assign me this one

[2020-10-18 08:53] abhay27chauhan commented on #562
@SSKale1 @Yashica7 can you pls assign me this task

[2020-10-18 08:54] abhay27chauhan commented on #559
@SSKale1 @Yashica7 can you pls assign me this task

[2020-10-18 08:57] abhay27chauhan commented on #564
@SSKale1 @Yashica7 can you pls assign me this issue