[2020-10-25 10:13] rematchka commented on #1121
Please assign this issue to me.

[2020-10-25 10:29] YashasviBhatt opened #1135 "21 | Merge Two Sorted Lists | Python"
## **`Merge Two Sorted Lists`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and

[2020-10-25 10:31] rematchka commented on #1135
Please assign this issue to me.

[2020-10-25 10:31] YashasviBhatt commented on #1135
Please Assign this issue to me @SSKale1 @swaingotnochill

[2020-10-25 10:35] hardikchoudhary12 opened #1136 "334 | Increasing Triplet Subsequence | C++"
## **`Title`** -

Solution for increasing triplet subsequence

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to ge

[2020-10-25 10:36] hardikchoudhary12 commented on #1136
Can this issue be assigned to me?

[2020-10-25 10:43] saurabh786iit commented on #1107
Please assign this to me

[2020-10-25 10:44] rematchka opened #1137 "341 | Flatten Nested List Iterator| C++"
## **`Title`** - Flatten Nested List Iterator

**What will change** -
Add a solution for the problem Flatten Nested List Iterator in C++.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [

[2020-10-25 10:44] rematchka commented on #1137
Please assign this to me

[2020-10-25 10:52] rematchka opened #1138 "456 | 132 Pattern| C++"
## **`Title`** - 132 Pattern

**What will change** -
Add C++ code to 456 . 132 Pattern

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper

[2020-10-25 10:52] rematchka commented on #1138
Please assign this issue to me

[2020-10-25 10:54] rematchka opened #1139 "187 | Repeated DNA Sequences| C++"
## **`Title`** - Repeated DNA Sequences

**What will change** -
Add C++ code to 187 . Repeated DNA Sequences

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add y

[2020-10-25 10:54] rematchka commented on #1139
please assign this to me

[2020-10-25 10:57] rematchka opened #1140 "859 | Buddy Strings| C++"
## **`Title`** - Buddy Strings

**What will change** -
Add C++ code to 859 . Buddy Strings

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the pr

[2020-10-25 10:57] rematchka commented on #1140
Please assign this issue to me

[2020-10-25 11:40] 0ChanAk commented on #1111
I want to work on this. Please assign this to me.

[2020-10-25 11:49] 0ChanAk commented on #1093
please assign this issue to me, I want to work on this.

[2020-10-25 13:35] AbhJ commented on #956
236.LowestCommonAncestorofBinaryTree.py
please accept my pull request

[2020-10-25 13:36] NancyAgrawal opened #1144 "1525 | Number of Good Ways to Split a String | C++"
## **`Title`** - Number of Good Ways to Split a String

**What will change** - Add solution for the problem 1525. Number of Good Ways to Split a String  in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add

[2020-10-25 13:36] NancyAgrawal commented on #1144
Can I be assigned this issue?

[2020-10-25 13:38] AbhJ opened #1145 "641 | Design Circular Deque | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your

[2020-10-25 13:39] AbhJ commented on #1145
Please assign me I am a third year undergraduate of Electrical Engineering in IIT Kharagpur

[2020-10-25 13:39] NancyAgrawal opened #1146 "1544 | Make The String Great | C++"
## **`Title`** - 1544. Make The String Great

**What will change** - Add solution for the problem `1544. Make The String Great` in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper f

[2020-10-25 13:40] NancyAgrawal commented on #1146
Can I be assigned this issue, please?

[2020-10-25 13:41] AbhJ commented on #1145
@SSKale1  @Yashica7 @swaingotnochill @JOKUE2002

[2020-10-25 13:43] AbhJ opened #1147 "441 | Arranging Coins | C++"
## **`Arranging Coins`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned

[2020-10-25 13:44] NancyAgrawal opened #1148 "922 | Sort Array By Parity II | C++"
## **`Title`** -  Sort Array By Parity II

**What will change** - Add solution for the problem `922. Sort Array By Parity II` in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better

[2020-10-25 13:44] AbhJ commented on #1147
Please assign it to me

[2020-10-25 13:44] NancyAgrawal commented on #1148
Can you assign me to work on this issue, please?

[2020-10-25 13:44] AbhJ commented on #1147
@SSKale1 @swaingotnochill

[2020-10-25 13:48] NancyAgrawal opened #1149 "852 | Peak Index in a Mountain Array | C++"
## **`Title`** - Peak Index in a Mountain Array

**What will change** - Add solution for the problem `852. Peak Index in a Mountain Array` in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation

[2020-10-25 13:49] NancyAgrawal commented on #1149
Can you assign it to me, please?

[2020-10-25 13:51] AbhJ opened #1150 "123 | Best Time to Buy and Sell Stock III | C++"
## **`Title`** - Best Time to Buy and Sell Stock III

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [X] Adding New Code
- [X] Improving Code
- [X] Improving Documentation
- [X] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [X] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it be

[2020-10-25 13:51] NancyAgrawal opened #1151 "1329 | Sort the Matrix Diagonally | C++"
## **`Title`** - Sort the Matrix Diagonally

**What will change** - Add solution for the problem `1329. Sort the Matrix Diagonally` in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for b

[2020-10-25 13:52] NancyAgrawal commented on #1151
Can I be assigned this, please?

[2020-10-25 13:52] AbhJ commented on #1150
Please assign me I am a third year undergraduate of Electrical Engineering in IIT Kharagpur
@SSKale1 @Yashica7 @swaingotnochill @JOKUE2002

[2020-10-25 13:55] AbhJ opened #1152 "234 | Palindrome Linked List | C++"
## **`Title`** - Palindrome Linked List

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before makin

[2020-10-25 13:55] AbhJ commented on #1152
Please assign me I am a third year undergraduate of Electrical Engineering in IIT Kharagpur
@SSKale1 @Yashica7 @swaingotnochill @JOKUE2002

[2020-10-25 13:59] AbhJ opened #1153 "456 | 132 Pattern | C++"
## **`Title`** - 132 Pattern

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docume

[2020-10-25 13:59] AbhJ commented on #1153
Please assign me I am a third year undergraduate of Electrical Engineering in IIT Kharagpur
@SSKale1 @Yashica7 @swaingotnochill @JOKUE2002

[2020-10-25 14:09] heidar55 commented on #1145
May i start working in this?

[2020-10-25 14:30] 0ChanAk commented on #1081
please assign this issue to me. thanks.

[2020-10-25 14:44] heidar55 commented on #1153
Would you please assign me on this project to work on.

[2020-10-25 14:52] heidar55 commented on #939
Would you please assign me this project to work on it?

[2020-10-25 14:55] himanshu81023 opened #1155 "287 | Python / FindTheDuplicateNumber.py | Python"
## **`FindTheDuplicateNumber`** -

**What will change** -
     Will make code more efficient.
     Currently time complexity of soln. is (n^2), after changes it will of 0(n*log(n))

### Type of Issue -

- [x] Adding New Code
- [x] Improving Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your

[2020-10-25 14:55] AbhJ commented on #1145
I opened this issue for myself

[2020-10-25 14:56] himanshu81023 commented on #1155
**_Consider me  for this_**

[2020-10-25 14:57] AbhJ commented on #1153
i opened this issue for myself

[2020-10-25 15:39] nazuk27 opened #1156 "628 | Dept Num with Female Avg Sal Greater Than Male Avg Sal | SQL"
## **`Title`** - Dept Num with Female Avg Sal Greater Than Male Avg Sal

**What will change** -  Add new code to retrieve the department numbers which have female average salary greater than male average salary of the same department.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relev

[2020-10-25 15:39] nazuk27 commented on #1156
Please assign this issue to me.

[2020-10-25 16:06] naveen81 opened #1157 "925 | Long Pressed Name | c++"
## **`Title`** - Long Pressed Name

**What will change** - Add solution for this problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language
c++
Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the p

[2020-10-25 16:12] amaanmohd047 opened #1158 "1158 | Insertion In Circular Linked List | Python"
## **`Title`** - Insertion In Circular Singly Linked List

**What will change** - Add a solution that can insert an element in 1) An Empty Circular Singly Linked List  2) At the beginning of the Circular Singly Linked List  3) At the end of the Circular Singly Linked List  4) In between the Circular Singly Linked List

### Type of Issue -

- [x] Adding New Code
- [x] Improving Code
- [x] Bug Fix

[2020-10-25 16:13] naveen81 opened #1159 "890 | Find and Replace Pattern | c++"
## **`Title`** - Find and Replace Pattern

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code\

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Cod

[2020-10-25 16:20] adrputra commented on #1155
I'll do it, assign me

[2020-10-25 16:24] pallavi267 opened #1160 "Number of Distinct Islands"
Given a non-empty 2D arraygridof 0's and 1's, an island is a group of1's (representing land) connected 4-directionally (horizontal or vertical.) You may assume all four edges of the grid are surrounded by water.
Count the number of distinct islands. An island is considered to be the same as another if and only if one island can be translated (and not rotated or reflected) to equal the other.

[2020-10-25 17:04] Priyanshu1012 commented on #1061
Could you please assign this issue to me ?

[2020-10-25 17:05] amaanmohd047 commented on #1158
please assign this issue to me

[2020-10-25 17:07] vishalghosh7 opened #1162 "18. | 4Sum | C++"
## **`Title`** - 4Sum

**What will change** - Adding a solution code in C++ for the mentioned problem.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your fi

[2020-10-25 17:08] vishalghosh7 commented on #1162
Would you please assign this issue to me?

[2020-10-25 17:11] pallavi-bits commented on #1160
Please assign the issue to me.

[2020-10-25 17:23] LL-creator opened #1164 "735 | Asteroid Collision | Python"
## **`Asteroid Collision`** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:sta

[2020-10-25 17:23] LL-creator commented on #1164
please assign this to me

[2020-10-25 17:56] sowmya8900 commented on #1061
Could you please assign this issue to me?
- Sowmya

[2020-10-25 17:58] sowmya8900 commented on #1135
Could you please assign this issue to me?

[2020-10-25 17:58] sowmya8900 commented on #1155
Could you please assign this issue to me?

[2020-10-25 18:24] alpha-k911 opened #1167 "1510 | Stone Game IV | C++"
## **`Title`** - Stone Game IV

**What will change** -   Adding 1510. Stone Game IV
 (https://leetcode.com/problems/stone-game-iv/)

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before makin

[2020-10-25 18:24] alpha-k911 commented on #1167
@swaingotnochill @SSKale1 @JOKUE2002 Please assign this to me

[2020-10-25 19:12] prajwalrai5432 opened #1169 "20 | Valid Parentheses | Java"
## **`Title`** - Valid Parentheses

**What will change** - Adding 20. Valid Parentheses
(https://leetcode.com/problems/valid-parentheses/)

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-25 19:13] prajwalrai5432 commented on #1169
@swaingotnochill @SSKale1 @JOKUE2002 Please assign this to me

[2020-10-25 19:34] javmarina opened #1170 "636 | Exclusive Time of Functions | Python"
## **`Exclusive Time of Functions`**

https://leetcode.com/problems/exclusive-time-of-functions/

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull R

[2020-10-25 19:34] javmarina commented on #1170
I'm ready, please assign it to me

[2020-10-25 19:40] javmarina opened #1171 "347 | Top K Frequent Elements | Python"
## **`Top K Frequent Elements`**

https://leetcode.com/problems/top-k-frequent-elements/

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.

[2020-10-25 19:40] javmarina commented on #1171
I'm ready, pleasi assign this to me

[2020-10-25 19:52] vincentsuryakim commented on #1155
Please assign this issue to ne

[2020-10-25 20:08] shvms opened #1172 "983 | Minimum Cost For Tickets | Java"
## **`Title`** - Minimum Cost For Tickets

**What will change** - Add solution for `983. Minimum Cost For Tickets`

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.

[2020-10-25 20:09] shvms commented on #1172
Please assign this issue to me @SSKale1 @swaingotnochill @Yashica7

[2020-10-25 20:12] shvms opened #1173 "621 | Task Scheduler | Java"
## **`Title`** - Task Scheduler

**What will change** - Adding solution for `621.  Task Scheduler`

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file

[2020-10-25 20:14] shvms commented on #1173
Please assign this issue to me @SSKale1 @Yashica7 @swaingotnochill

[2020-10-25 20:16] prajwalrai5432 opened #1174 "53 | Maximum Subarray | Java"
## **`Title`** - Maximum Subarray

**What will change** - Adding 53. Maximum Subarray
(https://leetcode.com/problems/maximum-subarray/)

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before

[2020-10-25 20:16] prajwalrai5432 commented on #1174
@swaingotnochill @SSKale1 @JOKUE2002 Please assign this to me

[2020-10-25 20:21] prajwalrai5432 opened #1175 "70 | Climbing Stairs | Java"
## **`Title`** - Climbing Stairs

**What will change** - Adding 70. Climbing Stairs
(https://leetcode.com/problems/climbing-stairs/)

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before mak

[2020-10-25 20:21] prajwalrai5432 commented on #1175
@swaingotnochill @SSKale1 @JOKUE2002 Please assign this to me

[2020-10-25 20:31] prajwalrai5432 opened #1176 "101 | Symmetric Tree | Java"
## **`Title`** - Symmetric Tree

**What will change** - Adding 101. Symmetric Tree

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper fo

[2020-10-25 20:31] prajwalrai5432 commented on #1176
@swaingotnochill @SSKale1 @JOKUE2002 Please assign this to me

[2020-10-25 21:44] omarahmed1111 commented on #1159
could you assign me this ?

[2020-10-25 22:47] jaisai6 commented on #1157
Please assign this to me.

[2020-10-25 23:10] charles-vj commented on #1122
Interested in contributing . Kindly assign this issue to me

[2020-10-25 23:31] AhmadShaaban commented on #1042
@SSKale1 please check the PR

[2020-10-25 23:41] Aarav545 commented on #1174
@swaingotnochill @JOKUE2002 @SSKale1 Can you please assign this to me?

[2020-10-25 23:44] Aarav545 commented on #1175
@swaingotnochill @JOKUE2002 @SSKale1 Can you please assign this to me?

[2020-10-25 23:45] Aarav545 commented on #1171
@swaingotnochill @JOKUE2002 @SSKale1 Can you please assign this to me?

[2020-10-25 23:58] gustavomv commented on #1127
can I have this one? plss

[2020-10-26 01:21] pbharathreddy opened #1177 "785 | Is graph bipartite | Python"
## **`Is graph Bipartite** -

**What will change** -

Will add a new file called '785. IsGraphBipartite'.

### Type of Issue -

Code commit.

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Re

[2020-10-26 02:37] Aarav545 opened #1178 "Zig Zag Conversion"
Zig Zag Conversion problem for leetcode

[2020-10-26 02:37] #1178 closed

[2020-10-26 02:39] Aarav545 opened #1179 "6 | ZigZag Conversion leet code problem"
What will change - Adding 6. ZigZag Conversion

Type of Issue -
Please add/delete options that are not relevant.

 Adding New Code
Programming Language
Please add/delete options that are not relevant.

 Java
Self Check
Ask for issue assignment and wait to get assigned to it before making Pull Request.
Add your file in the proper folder
Clean Code and Documentation for better readability
Add Title

[2020-10-26 02:39] Aarav545 commented on #1179
Please assign this to me

[2020-10-26 04:15] rajeev1975 commented on #1174
Can you please assign this to me?

[2020-10-26 04:19] Azanul commented on #1177
Asking for assignment.

[2020-10-26 04:57] Azanul opened #1182 "25 | Reverse Nodes in k-Group | Python"
## **`Reverse Nodes in k-Group`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` a

[2020-10-26 04:57] Azanul commented on #1182
Asking for assignment

[2020-10-26 05:07] pbharathreddy commented on #1177
Created this issue because I would like to work on it.

[2020-10-26 05:35] #819 closed

[2020-10-26 05:42] #977 closed

[2020-10-26 05:44] #939 closed

[2020-10-26 07:22] Aaryan2104 opened #1186 "33 | Search in Rotated Sorted Array | C++"
## **33. Search in Rotated Sorted Array** -

**What will change** - Adding code (problem unsolved in repo)

### Type of Issue --  Adding New Code

### Programming Language -  C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Desc

[2020-10-26 07:34] mr-abhi-k commented on #1107
can u pls assign me this issue ...

[2020-10-26 07:40] pallavi-bits commented on #1182
hey do u have any idea how long it takes for major contributors to reply or assign the task?

[2020-10-26 07:48] JOKUE2002 commented on #518
@shuai-yang have fun.

[2020-10-26 07:51] JOKUE2002 commented on #1172
@shvms please select only one language

[2020-10-26 07:55] JOKUE2002 commented on #1153
@heidar55 the issue creator has priority in issue assignment.
You may create more issues for problems that you find interesting.
@AbhJ I'll assign you the issue. have fun.

[2020-10-26 08:06] JOKUE2002 commented on #1125
@himanshu81023 the code for solution 1313 is already submitted in C++

I'll close this for now. You may create more issues.

[2020-10-26 08:06] #1125 closed

[2020-10-26 08:07] JOKUE2002 commented on #1124
@pstreemaze I assigned you a different issue. I'll hand this to @SudhiMohan for now.

[2020-10-26 08:10] JOKUE2002 commented on #1175
@prajwalrai5432 I assigned you #1176 - I'll hand this to @Aarav545 for now

[2020-10-26 08:11] JOKUE2002 commented on #1174
@prajwalrai5432 @Aarav545 I assigned you other issues. I'll hand this to @rajeev1975 .

[2020-10-26 08:14] prajwalrai5432 commented on #1175
@JOKUE2002 in all fairness the people who are generating the issues should be the ones getting assigned the tasks.

[2020-10-26 08:15] JOKUE2002 commented on #1107
@Gyan843 I assigned you to #1106 .
I'll hand this to @codeit-dotcom

@shinchancode @learnisearning @saurabh786iit @mr-abhi-k you may look for other issues, which aren't assigned yet.

[2020-10-26 08:17] JOKUE2002 commented on #1111
@Gyan843 I assigned you to #1106
I'll assign this to @Nitish-web-nik

@sbindal057 @0ChanAk you may look for other issues.

[2020-10-26 08:18] JOKUE2002 commented on #1121
The solution for challenge no. 1025 does already exist.

[2020-10-26 08:18] #1121 closed

[2020-10-26 08:19] JOKUE2002 commented on #1122
@pstreemaze I assigned you to #1120

I'll assign this to @rematchka for now.

@charles-vj you may select other issues you want to work on.

[2020-10-26 08:23] sbindal057 commented on #1159
please assign this to me

[2020-10-26 08:24] sbindal057 commented on #1152
Please assign this to me, I already wrote the code

[2020-10-26 08:27] prajwalrai5432 opened #1190 "283 | Move Zeroes | Java"
## **`Title`** - Move Zeroes

**What will change** - Adding solution for 283. Move Zeroes

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for

[2020-10-26 08:29] Ansh8236 commented on #1149
Hey! I would like to work on this problem.

[2020-10-26 08:29] prajwalrai5432 commented on #1190
@JOKUE2002 @swaingotnochill @SSKale1 please assign this to me

[2020-10-26 08:29] prajwalrai5432 commented on #1190
@JOKUE2002 @swaingotnochill @SSKale1 I have generated this issue for myself

[2020-10-26 08:36] prajwalrai5432 opened #1191 "11 | Container With Most Water | Java"
## **`Title`** -  Container With Most Water

**What will change** - Adding 11. Container With Most Water

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your

[2020-10-26 08:37] prajwalrai5432 commented on #1191
@JOKUE2002 @swaingotnochill @SSKale1 please assign this to me

[2020-10-26 08:37] prajwalrai5432 commented on #1191
@JOKUE2002 @swaingotnochill @SSKale1 I have generated this issue for myself

[2020-10-26 08:46] heidar55 commented on #1153
Thank you very much.

[2020-10-26 09:00] pstreemaze commented on #1122
I wanted all three issues for hacktoberfest, but nevermind

[2020-10-26 09:06] 0ChanAk opened #1196 "601 | Human Traffic of Stadium | C++"
## **`Title: 601. Human Traffic of Stadium`**

**What will change: add a solution to this problem in SQL**

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add you

[2020-10-26 09:17] himanshu81023 opened #1197 "448 | FindAllNumbersDisappearedinanArray.py | Python"
## **`FindAllNumbersDisappearedinanArray`** -

**What will change** -
 Proper comments will be added to the code that what it is for and what is it doing as per instruction.

### Type of Issue -

Please add/delete options that are not relevant.
- [x] Improving Documentation

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue as

[2020-10-26 09:18] himanshu81023 commented on #1197
Please assign this to me.

[2020-10-26 09:44] prajwalrai5432 commented on #1169
@JOKUE2002 @swaingotnochill @SSKale1 I have generated this issue for myself

[2020-10-26 09:46] saintpopo opened #1201 "180 | Consecutive Numbers | SQL"
## **`Title`** - Consecutive Numbers

**What will change** - Adding 108.Consecutive Numbers
(https://leetcode.com/problems/consecutive-numbers/)

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it

[2020-10-26 09:47] saintpopo commented on #1201
@JOKUE2002  please assign it to me.

[2020-10-26 10:41] #1158 closed

[2020-10-26 10:51] Azanul commented on #1182
No, I don't but if you are trying to complete hacktoberfest then you can create PRs in various repos, that way you can get atleast 4 of them merged.

[2020-10-26 11:01] shvms commented on #1172
@JOKUE2002 I've edited the issue.

[2020-10-26 11:31] jvishad commented on #1111
Please assign this to me.

[2020-10-26 11:42] jvishad commented on #1201
please assign it to me.

[2020-10-26 11:43] jvishad commented on #1197
Please assign this to me.

[2020-10-26 11:44] jvishad commented on #1196
please assign this issue to me. thanks in advance.:)

[2020-10-26 11:52] Nitish-web-nik commented on #1111
Please review my PR 1622. Fancy_sequence.cpp

[2020-10-26 12:02] jvishad commented on #1152
please assign this issue to me. thanks in advance.:)

[2020-10-26 12:20] kajal-puri opened #1208 "12. | Integer to Roman | Python"
## **`12. Integer to Roman in Python`** -

**What will change** - Adding code for the Problem 12. Integer to Roman in Python.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making P

[2020-10-26 12:20] kajal-puri commented on #1208
@SSKale1 Hi, Can you please assign this to me?

[2020-10-26 12:24] kajal-puri opened #1209 "19 | Remove Nth Node From End of List | Python"
## **`19. Remove Nth Node From End of List in Python`**

**What will change** - Adding new code of Problem 19 in Python

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Re

[2020-10-26 12:24] kajal-puri commented on #1209
Hi, can this be please assigned to me?

[2020-10-26 12:27] kajal-puri opened #1210 "21 | Merge Two Sorted Lists | Python"
## **`Title`** - 21. Merge Two Sorted Lists in Python

**What will change** - Adding New code in Python

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add you

[2020-10-26 12:28] kajal-puri commented on #1210
Can you assign this to me? Thanks.

[2020-10-26 12:50] Hrithik1211 commented on #1210
Can you please assign this to me ? Thanks

[2020-10-26 12:51] Hrithik1211 commented on #1208
Can you please assign this to me ? Thanks in advance

[2020-10-26 13:37] naresh2002 commented on #1210
I am new to github but decent enough to do this task. So can you please assign it to me?

[2020-10-26 14:47] syn2k commented on #1186
Please assign to me

[2020-10-26 15:12] vishalghosh7 opened #1217 "182. | Duplicate Emails | SQL"
## **`Title`** - Duplicate Emails

**What will change** - Adding a related SQL code for the mentioned LeetCode problem.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Reque

[2020-10-26 15:15] charles-vj opened #1218 "1518 | Water Bottles | C++"
## **`Title`** - Water Bottles

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2

[2020-10-26 15:16] charles-vj commented on #1218
Please assign this issue to me

[2020-10-26 15:16] vishalghosh7 commented on #1217
Would you please assign this SQL issue to me?

[2020-10-26 15:17] aang13 commented on #1218
please assign it to me.

[2020-10-26 15:21] Shreya-art commented on #1210
can you assign it to me?

[2020-10-26 16:29] jvishad commented on #1107
please assign it to me;).

[2020-10-26 18:21] jvishad opened #1222 "6 ZigZag Conversion Cpp"
ZigZag Conversion

**What will change** - I am adding code for this problem.

### Type of Issue - Adding code which i had written on leetcode and submitted.

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ]

[2020-10-26 18:25] jvishad commented on #1222
Please assign this task.:)

[2020-10-26 18:48] Vasvisood opened #1223 "12| Buddy Strings | Java"
## Buddy String

### Adding a solution

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Java

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Document

[2020-10-26 18:56] yourdad285 commented on #1223
how to solve it ?? Assign to me.

[2020-10-26 19:01] yourdad285 opened #1224 "1 | Two Sum | Java"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-26 19:02] Vasvisood commented on #1224
class Solution {
    public int[] twoSum(int[] nums, int target) {
      Hashtable<Integer, Integer> hashTable = new Hashtable<Integer, Integer>();
      int i = 0;
      while ((i < nums.length) && (hashTable.get(nums[i]) == null)) {
        hashTable.put(target - nums[i], i);
        i++;
      }
      if (i < nums.length) {
        return new int[]{hashTable.get(nums[i]),i};
      }
      retur

[2020-10-26 19:06] verma-shivani commented on #1224
please assign to me.

[2020-10-26 19:07] verma-shivani commented on #1223
please assign this to me

[2020-10-26 19:18] #1224 closed

[2020-10-26 19:18] #1223 closed

[2020-10-26 19:33] prakharpande opened #1226 "714 | Best Time to Buy and Sell Stock with Transaction Fee | c++"
## **`Title`** - Best Time to Buy and Sell Stock with Transaction Fee

**What will change** - Adding Code for problem no 714

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull

[2020-10-26 19:33] prakharpande commented on #1226
please assign this issue to me.

[2020-10-26 22:41] Shreyas-Gupta-21 commented on #1218
Interested to work on this.

[2020-10-26 22:47] Shreyas-Gupta-21 commented on #1210
Hello I'm Interested to work on this. Pls assign this to me

[2020-10-26 22:48] Shreyas-Gupta-21 commented on #1209
Hello I'm Interested to work on this. Pls assign this to me

[2020-10-26 22:50] Shreyas-Gupta-21 commented on #1186
Hello I'm Interested to work on this. Pls assign this to me

[2020-10-26 23:09] Shreyas-Gupta-21 commented on #1162
Hello I'm Interested to work on this. Pls assign this to me

[2020-10-26 23:09] Shreyas-Gupta-21 commented on #1159
Hello I'm Interested to work on this. Pls assign this to me

[2020-10-26 23:10] Shreyas-Gupta-21 commented on #1155
Hello I'm Interested to work on this. Pls assign this to me

[2020-10-26 23:13] Shreyas-Gupta-21 commented on #1127
Hello I'm Interested to work on this. Pls assign this to me

[2020-10-26 23:14] Shreyas-Gupta-21 commented on #1093
Hello I'm Interested to work on this. Pls assign this to me

[2020-10-26 23:16] Shreyas-Gupta-21 commented on #1049
Hello I'm Interested to work on this. Pls assign this to me

[2020-10-27 03:44] pbennyjoseph commented on #1218
I'm a good competitive programmer, and have already solved it. I very keen on working on this.

[2020-10-27 04:20] ishikalohia commented on #1186
Please assign this issue to me.

[2020-10-27 04:25] namrata18s commented on #1210
Can you assign me?

[2020-10-27 04:27] namrata18s commented on #1209
Please assign it to me

[2020-10-27 05:11] Alifbhanvadiya14 commented on #1177
I want to work in python
Plz Assign to me

[2020-10-27 05:12] Alifbhanvadiya14 commented on #1174
want to work in python

[2020-10-27 05:15] Alifbhanvadiya14 commented on #1209
please assign to me

[2020-10-27 05:16] ghanender-chauhan commented on #1208
assign this to me

[2020-10-27 05:17] ghanender-chauhan commented on #1208
i will do in python

[2020-10-27 05:19] drishtipeshwani opened #1228 "207 | Course Schedule | C++"
## **`Title`** - Course Schedule

**What will change** -Add a solution for the problem Course Schedule in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add

[2020-10-27 05:20] drishtipeshwani commented on #1228
Please assign this issue to me

[2020-10-27 07:54] muskan-sudo opened #1231 "Problem N23umber | Title | Language"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-27 07:57] muskan-sudo opened #1232 "23| Merge k Sorted Lists | java"
## **`Title`** - Merge k Sorted Lists

**What will change** - I will add code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder

[2020-10-27 08:10] joel1794 commented on #1232
I would like to work on this issue

[2020-10-27 08:14] jaisai6 opened #1233 "92 | Reverse Linked List II | C++"
## **`Title`** - Reverse Linked List II

**What will change** - Solution will be added to the repo

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Des

[2020-10-27 08:14] jaisai6 commented on #1233
Please assign this issue to me....

[2020-10-27 08:17] jaisai6 opened #1234 "1019 | Next Greater Node In Linked List | C++"
## **`Title`** - Next Greater Node In Linked List

**What will change** - Solution will be added to the repo

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `

[2020-10-27 08:17] jaisai6 commented on #1234
Please assign this issue and I have already solved this....

[2020-10-27 08:37] pragat-pandya commented on #1210
I would like to work on this task .

[2020-10-27 08:42] vibhutikathuria opened #1235 "450 | Delete Node in Binary Tree | C++"
Delete a node from binary tree

Type of issue:

Add new cod-

Please add/delete options that are not relevant.

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the

[2020-10-27 08:44] chiillax commented on #1235
Could you please assign me for this task ?

[2020-10-27 08:49] vivaswat19 commented on #1046
@JOKUE2002 please review my PR. Thank you.

[2020-10-27 08:55] vibhutikathuria opened #1237 "Problem Number 16 |3 Sum Closest| C++"
Add solution to problem number 16 where in you have to find the closest sum of 3 numbers out of an array given a target input

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [

[2020-10-27 09:06] rematchka commented on #1237
Please assign this issue to me @SSKale1 @swaingotnochill @JOKUE2002 @Yashica7

[2020-10-27 09:35] Himalay12 opened #1238 "143 | Reorder List | C++"
## 143. Reorder List.cpp

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentat

[2020-10-27 09:44] Himalay12 opened #1239 "763 | Partition Labels | C++"
## 763.Partition Labels.cpp

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documen

[2020-10-27 09:45] chiillax commented on #1239
Could you please assign me for this task ?

[2020-10-27 09:47] chiillax commented on #1238
Could you please assign me for this task ?

[2020-10-27 09:48] Himalay12 commented on #1239
yes you can.

i didn't get it

[2020-10-27 09:50] Himalay12 opened #1240 "1305 | All Elements in Two Binary Search Trees | C++"
## 1305. All Elements in Two Binary Search Trees.cpp

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
-

[2020-10-27 09:53] Himalay12 commented on #1238
How do to assign?

On Tue, Oct 27, 2020, 15:18 Mohammad Amir <notifications@github.com> wrote:

[2020-10-27 09:55] Himalay12 commented on #1238
how will i assign? i want to merge my code.

[2020-10-27 09:57] Himalay12 commented on #1239
Hello, Are you there?

[2020-10-27 10:04] Oratoccio commented on #1240
Hello, I would like to contribute to this.

[2020-10-27 10:06] Himalay12 commented on #1240
I have already done pull request for
this.

On Tue, Oct 27, 2020, 15:34 Oratoccio <notifications@github.com> wrote:

[2020-10-27 10:52] chiillax commented on #1239
Please review & merge #1243

[2020-10-27 11:03] Himalay12 commented on #1239
I had open issue for my own contribution. I am here to contribute also.

On Tue, Oct 27, 2020, 16:22 Mohammad Amir <notifications@github.com> wrote:

[2020-10-27 11:16] anshul3pathi commented on #1233
Please assign the issue to me. I can resolve it.

[2020-10-27 13:56] sourabhjain9887 commented on #1218
please assign this issue to me.

[2020-10-27 13:57] sourabhjain9887 commented on #1186
please assign this issue to me.

[2020-10-27 14:21] sourabhjain9887 commented on #1226
please assign this issue to me .

[2020-10-27 14:40] SOURAVPRASAD49 commented on #1235
Can you assign this issue to me?

[2020-10-27 14:41] YashasviBhatt opened #1246 "58 | Length of Last Word | Python"
## **`Length of Last Word`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `D

[2020-10-27 14:42] YashasviBhatt opened #1247 "58 | Length of Last Word | Python"
## **`Length of Last Word`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `D

[2020-10-27 14:43] YashasviBhatt commented on #1247
Please assign this issue to me @SSKale1

[2020-10-27 14:44] SOURAVPRASAD49 commented on #1246
Can you assign this issue to me?

[2020-10-27 14:47] GoodGuyGregory opened #1248 "151 | Reverse Words in a String | Java"
## **Reverse Words in a String** -

I would like to add a solution to this problem [Reverse Words in a String](https://leetcode.com/problems/reverse-words-in-a-string/)

**Adding Solution to Problem 151** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add

[2020-10-27 14:48] GoodGuyGregory commented on #1248
@SSKale1 please assign me to this task. I am ready to take on the challenge

[2020-10-27 16:22] muskan-sudo opened #1252 "48 | Rotate Image | java"
## **`Title`** - Rotate Image

**What will change** - I will add to the code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
-

[2020-10-27 16:25] muskan-sudo opened #1253 "1254 | Number of Closed Islands | Java"
## **`Title`** - Number of Closed Islands

**What will change** - I will add the new code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the pr

[2020-10-27 16:30] Code-hunter-star commented on #1111
Please assign this to me.

[2020-10-27 16:32] SOURAVPRASAD49 commented on #1252
Can you assign this to me?

[2020-10-27 16:32] SOURAVPRASAD49 commented on #1253
Can you assign this to me? Please

[2020-10-27 16:42] varian97 opened #1254 "1221 | Split a String in Balanced Strings | Python"
## **`Title`** - Split a String in Balanced Strings

**What will change** - I will add new code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file i

[2020-10-27 16:46] Sameer-Mann commented on #1254
@varian97  could i work on this?

[2020-10-27 16:50] varian97 commented on #1254
@SSKale1 I didn't see anyone solved this problem yet, so I want to solved it. Can you please assign me to this issue? thanks

[2020-10-27 16:52] varian97 commented on #1254
I don't think so, you need to create a new issue for yourself, specifying the problem you want to solve and make sure no one has solved it

[2020-10-27 17:21] vkc8181 opened #1255 "1266 | Minimum Time Visiting All Points | C++"
## Minimum Time Visiting All Points

**What will change** -
Add new leetcode problem with optimized C++ solution
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Ad

[2020-10-27 17:23] vkc8181 commented on #1255
Please assign this problem to me :)

[2020-10-27 17:32] vkc8181 opened #1256 "1572 | Matrix Diagonal Sum | C++"
## Matrix Diagonal Sum

**What will change** -
Adding new leetcode problem with solution in C++
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in th

[2020-10-27 17:33] gitrahulgit commented on #1256
I want to work!!

[2020-10-27 17:36] vkc8181 commented on #1256
Please assign this to me :)

[2020-10-27 17:43] vkc8181 opened #1257 "1290 | Convert Binary Number in a Linked List to Integer | C++"
## Convert Binary Number in a Linked List to Integer

**What will change** -
Adding a new leetcode problem with optimized c++ solution
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before mak

[2020-10-27 17:44] vkc8181 commented on #1257
Please assign this to me

[2020-10-27 17:46] vkc8181 opened #1259 "595 | Big Countries | SQL"
## Big Countries

**What will change** -
Adding a new Leetcode problem with SQL optimized solution
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

-[x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in

[2020-10-27 17:47] vkc8181 commented on #1259
Please assign this to me :) :)

[2020-10-27 18:08] Piyush228 commented on #1259
@vkc8181 please assign this me :)

[2020-10-27 18:39] Anish0203 commented on #1228
Please assign this issue to me.

[2020-10-27 18:43] Nusart commented on #1259
@vkc8181 I am interested to work on this project, please assign this to me.

[2020-10-27 18:45] Nusart commented on #1256
@vkc8181 I am interested to work on this, please assign this to me.

[2020-10-27 18:46] Nusart commented on #1247
@SSKale1 @YashasviBhatt Please assign me this issue.

[2020-10-27 18:57] Anish0203 opened #1260 "392 | Is Subsequence | C++"
## **`Is Subsequence`** -

**What will change** -
Adding a new leetcode problem with optimized C++ solution
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add you

[2020-10-27 18:57] Anish0203 commented on #1260
Please assign this to me.

[2020-10-27 19:00] Anish0203 opened #1261 "860 | Lemonade Change | C++"
## **`Lemonade Change`** -

**What will change** -
Adding a new leetcode problem with optimized C++ solution
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add yo

[2020-10-27 19:01] Anish0203 commented on #1261
Please assign this issue to me.

[2020-10-27 19:03] Anish0203 opened #1262 "1403 | Minimum Subsequence in Non-Increasing Order | C++"
## **`Minimum Subsequence in Non-Increasing Order`** -

**What will change** -
Adding a new leetcode problem with optimized C++ solution
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before m

[2020-10-27 19:04] Anish0203 commented on #1262
Please assign this issue to me.

[2020-10-27 19:06] Anish0203 opened #1263 "561 | Array Partition 1 | C++"
## **`Array Partition 1`** -

**What will change** -
Adding a new leetcode problem with optimized C++ solution
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add

[2020-10-27 19:07] Anish0203 commented on #1263
Please assign this issue to me.

[2020-10-27 19:09] Anish0203 opened #1264 "1539 | Kth Missing Positive Number | C++"
## **`Kth Missing Positive Number`** -

**What will change** -
Adding a new leetcode problem with optimized C++ solution
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Reque

[2020-10-27 19:16] Anish0203 commented on #1264
Please assign this issue to me.

[2020-10-27 19:45] vaibhav1865 commented on #1257
Hello there,
Please assign this to me

[2020-10-28 02:04] TakuHazard opened #1271 "33 | Search in Rotated Sorted Array | Java"
## **`Search in Rotated Sorted Array`** -

**Adding a new leetcode problem with optimized Java solution that utilizes binary search** -

### Type of Issue -

Please add/delete options that are not relevant.
- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before ma

[2020-10-28 02:04] TakuHazard commented on #1271
Could you please assign this issue to me ?

[2020-10-28 02:06] TakuHazard opened #1272 "36 | Valid Sudoku | Java"
## **`Valid Sudoku`** -

**Adding a new leetcode problem with optimized Java solution ** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the pr

[2020-10-28 02:06] TakuHazard commented on #1272
Could you please assign this issue to me ?

[2020-10-28 02:09] TakuHazard opened #1273 "39 | Combination Sum | Java"
## **`Title`** -

**Adding a new leetcode problem with optimized Java solution ** -

### Type of Issue -

Please add/delete options that are not relevant.
- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper fol

[2020-10-28 02:09] TakuHazard commented on #1273
Could you please assign this issue to me ?

[2020-10-28 02:11] TakuHazard opened #1274 "71 | Simplify Path | Java"
## **`Simplify Path`** -

**Will provide optimized Java solution that uses a stack data structure** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your fil

[2020-10-28 02:11] TakuHazard commented on #1274
Could you please assign this issue to me ?

[2020-10-28 02:29] adarshraghav commented on #1237
I could add a python solution for this problem, if it is still required. if so, can you also assign it to me

[2020-10-28 02:31] adarshraghav commented on #1231
Can you assign this to me. And could you also clarify the problem.

[2020-10-28 05:33] sawyer1997 commented on #1247
I can work on Python, Golang, and C++ for this one

[2020-10-28 05:59] Francode007 commented on #1164
please assign this to me...

[2020-10-28 06:05] Francode007 commented on #144
Please assign this to me in c++
(concise stack solution+improved documentation)

[2020-10-28 06:14] Francode007 opened #1275 "973 | K Closest Points to Origin | C++"
## **`K Closest`** -

**Will provide optimised solution in c++** -

### Type of Issue -

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Co

[2020-10-28 06:15] Francode007 commented on #1275
Please assign it to me...

[2020-10-28 07:36] prasoon054 commented on #1264
Please allow me to do it.

[2020-10-28 07:47] prasoon054 commented on #1264
Please allow me to do it. Should I make a pull request just after solving the issue or wait for your reply ??

[2020-10-28 08:36] champ96k opened #1278 "201.| Bitwise AND of Numbers Range | c++"
## **`Bitwise AND of Numbers Range`** -

**What will change** - written a c++ code

### Type of Issue - Solve question

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- [x]

[2020-10-28 08:36] gitrahulgit commented on #1278
I would like to work on it!!

[2020-10-28 08:39] champ96k commented on #1278
I already solve this question :
 https://github.com/SHY-Corp/LeetCode-Solutions/pull/1277/commits/792e8d2093229ddd4a0dfddba6c6221f993f870f

[2020-10-28 08:51] h20190907 commented on #876
@swaingotnochill Could you please look into my pull request, and merge it into the respository, if everything looks fine

[2020-10-28 09:00] champ96k opened #1279 "268.| Missing Number | c++ #1278"
## **`Missing Number`** -

**What will change** - written a c++ code

### Type of Issue - Solve question

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- [x] Ask for an is

[2020-10-28 09:01] champ96k commented on #1279
answer please assign me
https://github.com/SHY-Corp/LeetCode-Solutions/pull/1277/commits/792e8d2093229ddd4a0dfddba6c6221f993f870f

[2020-10-28 09:02] Horki commented on #1264
#1280 my solution PR

[2020-10-28 09:05] champ96k opened #1281 "389. | Find the Difference | c++"
## **`389. | Find the Difference | c++`** -

**What will change** -

### Type of Issue - question

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- [x] Ask for an issue ass

[2020-10-28 10:01] champ96k opened #1282 "461. | Hamming Distance | c++"
## **`461. | Hamming Distance | c++`** -

### Type of Issue - question

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- [x] Ask for an issue assignment and wait to get ass

[2020-10-28 10:02] jag-singh-96 opened #1283 "749 | Contain Virus | Java"
## **` Contain Virus`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for an issue assignment and wait to get assigned to it before making Pull Request.
- Add your file to the proper folder
- `Clean Code` and `Docum

[2020-10-28 10:03] jag-singh-96 commented on #1283
Please assign this issue to me.

[2020-10-28 10:03] champ96k opened #1284 "476 | Number Complement | C++"
## **`476 | Number Complement | C++`** -

### Type of Issue - question

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- [x] Ask for an issue assignment and wait to get ass

[2020-10-28 10:05] champ96k opened #1285 "693 | Binary Number with Alternating Bits | C++"
## **`693 | Binary Number with Alternating Bits | C++`** -

### Type of Issue - question

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- [x] Ask for an issue assignment a

[2020-10-28 10:05] #1151 closed

[2020-10-28 10:07] #1160 closed

[2020-10-28 10:11] #1179 closed

[2020-10-28 10:13] #1197 closed

[2020-10-28 10:23] javmarina commented on #1171
Thanks!

[2020-10-28 10:42] Darsh4521 commented on #1049
@SSKale1 check the pull request I have mentioned here the issue was raised 5 days ago still the pull request is not merged

[2020-10-28 10:44] sanchitbhasin commented on #1233
Please assign this to me, I have a solution memory usage less than 93.50%.

[2020-10-28 10:51] chiillax commented on #1282
Could you please assign me for this task ?

[2020-10-28 10:51] chiillax commented on #1281
Could you please assign me for this task ?

[2020-10-28 11:16] iMPERIAL18 commented on #1155
Please assign me to this.

[2020-10-28 11:25] vivaswat19 opened #1294 "506 | Relative Ranks | C++"
## 506. Relative Ranks

### Type of Issue - Question

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better r

[2020-10-28 11:25] vivaswat19 commented on #1294
Please assign this issue to me.

[2020-10-28 11:27] vivaswat19 opened #1295 "1379 | Find a Corresponding Node of a Binary Tree in a Clone of That Tree | C++"
## 1379. Find a Corresponding Node of a Binary Tree in a Clone of That Tree

### Type of Issue - Question

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper f

[2020-10-28 11:27] vivaswat19 commented on #1295
Please assign this to me.

[2020-10-28 11:28] #1046 closed

[2020-10-28 12:28] PraneshUlleri opened #1296 "1436 | Destination City| Python"
## **`Destination City`** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knif

[2020-10-28 12:29] PraneshUlleri commented on #1296
I would like to work on this code

[2020-10-28 13:15] SudhiMohan commented on #1124
Hi  @JOKUE2002  , Thanks for assigning the issue to me. I have created a pull request #1198  with the solution. Please check it out when you get time.

Also thanks @pstreemaze for creating the issue.

[2020-10-28 13:21] drewmich opened #1299 "73 | Set Matrix Zeroes | C++"
## **`73. Set Matrix Zeroes`** -

**What will change** -

Will add code for optimal solution

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the

[2020-10-28 13:21] drewmich commented on #1299
Could I be assigned this?

[2020-10-28 13:30] PraneshUlleri opened #1303 "1351 | Count Negative Numbers in a Sorted Matrix | Python"
## **`Count Negative Numbers in a Sorted Matrix`** -

**What will change** -

Adding Solution to above problem

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the

[2020-10-28 13:30] PraneshUlleri commented on #1303
I would like to work on this issue

[2020-10-28 13:44] Manojsingh929 commented on #1281
i want to work upon it
plz assign it to me

[2020-10-28 14:04] sourabhjain9887 commented on #1299
please assign me this issue

[2020-10-28 14:39] sourabhjain9887 commented on #1303
I would like to contribute , please assign me this issue.

[2020-10-28 14:43] sourabhjain9887 commented on #1294
please assign me this issue.

[2020-10-28 14:47] sourabhjain9887 commented on #1285
please assign me this issue.

[2020-10-28 14:51] sourabhjain9887 commented on #1284
please assign me this issue.

[2020-10-28 14:53] sourabhjain9887 commented on #1279
please assign me this issue.

[2020-10-28 15:27] kajal-puri opened #1310 "24 | Swap Nodes in Pairs | Python"
## **`Title`** - 24. Swap Nodes in Pairs

**What will change** - Adding code in Python of the Problem 24

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add yo

[2020-10-28 15:27] kajal-puri commented on #1310
@SSKale1 Please assign this issue to me.

[2020-10-28 15:50] shouvikch97 opened #1311 "Problem Number | Title | Language"
## **`Title`** -15 | 3 Sum | JAVA

**What will change** -Adding a Solution for 3Sum in JAVA

### Type of Issue -Adding new Code

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Che

[2020-10-28 15:50] shouvikch97 commented on #1311
Can I be assigned this issue please?

[2020-10-28 16:19] AlexandreOkita commented on #1296
I would like to contribute! Please assign me this issue.

[2020-10-28 16:28] 0ChanAk opened #1315 "927 |Three Equal Parts | C++"
## **`Title`** - 927. Three Equal Parts. C++

**What will change** - new code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add y

[2020-10-28 16:29] gitrahulgit commented on #1315
I want to work on it

[2020-10-28 16:32] Azanul opened #1316 "27 | Remove Element | Python"
## **`Title`** -

**Single optimum solution** -

### Type of Issue -

Please add/delete options that are not relevant.

- [ ] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to

[2020-10-28 16:57] NikhilTaneja98 commented on #1271
Could you assign me this issue?

[2020-10-28 16:58] NikhilTaneja98 commented on #1248
Could you please assign me this issue?

[2020-10-28 16:59] NikhilTaneja98 commented on #1174
Please assign me this issue?

[2020-10-28 17:00] NikhilTaneja98 commented on #1124
Please assign me this issue?

[2020-10-28 17:01] NikhilTaneja98 commented on #1103
Please assign me this issue

[2020-10-28 17:05] amandou commented on #1316
Can I do this issue in C++?

[2020-10-28 17:10] Azanul commented on #1316
You do realise that this is a bug fix i.e., there are multiple solutions to the same question.

[2020-10-28 19:42] Shobhit-aryan opened #1323 "129 | Sum Root to Leaf Numbers| C++"
## **`Title`** -
Sum Root to Leaf Numbers
**What will change** -
Adding code in c++
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language
C++
Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper

[2020-10-28 19:46] Shobhit-aryan opened #1324 "221 | Maximal Square| C++"
## **`Maximal Square`** -

**What will change** -
Adding solution
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language
C++
Please add/delete options that are not relevant.

- [x] C++

:star2: Star it :fork_and_knife:Fork it :handshake: Contribute to it!

Discord server ✉️ - https://discord.gg/CXksGdn

Happy Coding,

[2020-10-28 19:53] Shobhit-aryan commented on #1324
Please assign this to me

[2020-10-28 19:53] Shobhit-aryan commented on #1323
Please assign this to me

[2020-10-28 20:46] saritip opened #1325 "1090 | Largest Values From Labels | Java"
## **`Problem name: Largest Values From Labels`** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the progr

[2020-10-28 20:46] saritip opened #1326 "950 | Reveal Cards In Increasing Order | Java"
## **`Reveal Cards In Increasing Order`** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in th

[2020-10-28 20:47] saritip commented on #1325
Please assign me the issue

[2020-10-28 20:47] saritip commented on #1326
Please assign me the issue

[2020-10-28 21:01] vivekshah1801 commented on #1316
@Azanul can i work on this?

[2020-10-28 21:07] AnirbanBall commented on #1311
can i assigned this issue please?

[2020-10-28 21:09] AnirbanBall commented on #1272
can i be assigned this issue?

[2020-10-28 21:19] PoonChristian opened #1327 "784 | Letter Case Permutation | Java"
## **`Letter Case Permutation`** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:

[2020-10-28 21:20] PoonChristian commented on #1327
Please assign this issue to me.

[2020-10-28 21:44] noobcoder1211 commented on #1327
please assign this to be i can explain better

[2020-10-29 03:07] 420-Madhav commented on #1272
Can I resolve this issue for you?

[2020-10-29 07:04] varian97 commented on #1254
Waiting someone from the contributors team to assign me to this issue, so my PR counted as valid

[2020-10-29 07:09] prantoran commented on #1271
Could you assign this issue to me ?

[2020-10-29 07:10] prantoran commented on #1324
Could you please assign this issue to me?

[2020-10-29 07:10] prantoran commented on #1315
Could you please assign this issue to me?

[2020-10-29 07:11] prantoran commented on #1299
Could you please assign this issue to me?

[2020-10-29 11:58] srk224 commented on #1281
Assign me this issue.

[2020-10-29 12:00] lin826 opened #1341 "001 to 239 | Support C Language | C"
## **`Support C Language`** -

Add [another leetcode solution repo in C](https://github.com/begeekmyfriend/leetcode) with [git submodule](https://github.blog/2016-02-01-working-with-submodules/)

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Documentation

### Programming Language

Please add/delete options that are not relevant.

- [x

[2020-10-29 14:34] ViswanadhamVamsi opened #1345 "593 Valid Square.py"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-29 14:35] ViswanadhamVamsi commented on #1345
i want to add the  solution for the leetcode problem 593. Valid Square.py

[2020-10-29 15:48] ghanender-chauhan commented on #1316
i want to dothis assign me

[2020-10-29 15:50] ghanender-chauhan commented on #1208
@swaingotnochill  accept my PR i did in python !!

[2020-10-29 16:03] #1053 closed

[2020-10-29 16:16] #1041 closed

[2020-10-29 16:20] #1089 closed

[2020-10-29 16:25] Yashica7 commented on #1238
Make sure you wait for it to be assigned by the Maintainers of this Repository from now

[2020-10-29 16:38] #976 closed

[2020-10-29 16:41] #876 closed

[2020-10-29 16:43] #1100 closed

[2020-10-29 16:44] #1101 closed

[2020-10-29 16:45] #1102 closed

[2020-10-29 16:50] #1093 closed

[2020-10-29 18:13] parvezaalam786 opened #1349 "116 | Populating Next Right Pointers in Each Node | C++"
## **`Populating Next Right Pointers in Each Node`** -

**What will change** -

### Type of Issue

- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the progra

[2020-10-29 18:16] parvezaalam786 commented on #1349
Please assign this to me.
I will explain this problem by two methods with proper documentation and code in C++.

[2020-10-29 18:28] subhadeep-123 commented on #1315
i would like to solve this issue..can you please assign me this issue

[2020-10-29 18:56] subhadeep-123 commented on #1282
can i solve this issue using python..then kindly assign me this issue

[2020-10-29 20:38] dipanshu1002 commented on #1232
Please assign this issue to me. Well documented code.

[2020-10-29 21:03] GoodGuyGregory commented on #1248
@SSKale1 could I be assigned this?

[2020-10-29 21:55] manilal-1084 commented on #1271
Could you please assign this issue to me?

[2020-10-29 22:09] manilal-1084 commented on #1285
could you assign this issue to me?
I want to add new code.

[2020-10-29 22:11] manilal-1084 commented on #1284
Could you assign this issue to me?

[2020-10-29 23:00] kakashi215 opened #1353 "1007 | Minimum Domino Rotations For Equal Row | Python"
## **`Minimum Domino Rotations For Equal Row`** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the progr

[2020-10-29 23:01] kakashi215 opened #1354 "224 | Basic Calculator | Python"
## **`Basic Calculator`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docu

[2020-10-29 23:01] kakashi215 opened #1355 "227 | Basic Calculator II | Python"
## **`Basic Calculator II`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `D

[2020-10-29 23:09] kakashi215 commented on #1353
Requesting to be assigned to the issue to contribute to the repo.

Cheers!

[2020-10-29 23:10] kakashi215 commented on #1354
Requesting to be assigned to the issue to contribute to the repo.

Cheers!

[2020-10-29 23:10] kakashi215 commented on #1355
Requesting to be assigned to the issue to contribute to the repo.

Cheers!

[2020-10-30 02:35] Mrinal-Choudhary07 opened #1356 "7331| Most-Consecutive 1's in an Array| Language"
## **`Most-Consecutive 1's`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Do

[2020-10-30 02:36] Mrinal-Choudhary07 commented on #1356
Please assign me this issue, I'm ready

[2020-10-30 04:23] ViKrAm-Bais opened #1358 "1629 | Slowest Key | C++"
## **`Slowest Key`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to i

[2020-10-30 05:04] ViKrAm-Bais commented on #1358
Could you assign it to me, I had already created a pull request regarding this issue

[2020-10-30 07:24] h20190907 commented on #878
@swaingotnochill I have created the PR for this issue, Could you please look into it and close it if everything looks fine?

[2020-10-30 09:10] 420-Madhav opened #1365 "130 | Surrounded Regions | C++"
Please provide optimized solution for this problem.

[2020-10-30 09:11] #1365 closed

[2020-10-30 09:11] 420-Madhav opened #1366 "130 | Title | Language"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-30 09:12] #1366 closed

[2020-10-30 09:13] 420-Madhav opened #1367 "130 | Surrounding Regions | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-30 09:14] 420-Madhav commented on #1367
Please assign this issue to me.

[2020-10-30 09:21] ViKrAm-Bais opened #1368 "1572 | Matrix Diagonal Sum | C++"
## **`Matrix Diagonal Sum`** -

**What will change** -
Adding code for calculating sum of all the elements on the primary diagonal and all the elements on the secondary diagonal that are not part of the primary diagonal.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Lan

[2020-10-30 09:25] ViKrAm-Bais commented on #1368
could you assign it to me, I have solution for this

[2020-10-30 10:31] ViKrAm-Bais opened #1369 "88 | Merge Sorted Array | C++"
## **`Merge Sorted Array`** -

**What will change** -
 Adding code for merging two sorted arrays

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask

[2020-10-30 10:33] ViKrAm-Bais commented on #1369
Could you assign it to me, I have to do this ?

[2020-10-30 11:02] jag-singh-96 opened #1370 "930|Binary Subarrays With Sum|JAVA"
## **`Binary Subarrays With Sum`** -

**Adding new code for Binary Subarrays With Sum* -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for an issue assignment and wait to get assigned to it before making Pull Request.
- Add your file to the

[2020-10-30 11:03] jag-singh-96 commented on #1370
Please assign the issue to me

[2020-10-30 11:15] Deveshgsk opened #1371 "17. |Letter Combinations of a Phone Number | Python"
## **`Title`** -17. Letter Combinations of a Phone Number

**What will change** - Will add the solution to 17. Letter Combinations of a Phone Number in python

### Type of Issue -

Please add/delete options that are not relevant.

- [1] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [1]

[2020-10-30 11:16] Deveshgsk commented on #1371
Can you assign this to me

[2020-10-30 11:57] #604 closed

[2020-10-30 11:57] #609 closed

[2020-10-30 12:05] SSKale1 commented on #555
- [x] Assigned to @shuai-yang

[2020-10-30 12:07] #847 closed

[2020-10-30 12:07] #927 closed

[2020-10-30 12:08] #1063 closed

[2020-10-30 12:14] #1080 closed

[2020-10-30 12:24] #1075 closed

[2020-10-30 12:34] #1074 closed

[2020-10-30 13:05] kakashi215 commented on #1355
@SSKale1
@Yashica7
@swaingotnochill
@JOKUE2002

[2020-10-30 13:05] kakashi215 commented on #1354
@SSKale1
@Yashica7
@swaingotnochill
@JOKUE2002

[2020-10-30 13:05] kakashi215 commented on #1353
@SSKale1
@Yashica7
@swaingotnochill
@JOKUE2002

[2020-10-30 14:06] SSKale1 commented on #1222
This problem already exists in the codebase.

[2020-10-30 14:06] #1222 closed

[2020-10-30 14:08] SSKale1 commented on #1231
@muskan-sudo Please go through the [Contribution Guidelines](https://github.com/SHY-Corp/LeetCode-Solutions/blob/master/CONTRIBUTING.md)

[2020-10-30 14:08] #1231 closed

[2020-10-30 14:09] SSKale1 commented on #1232
This problem already exists in the codebase.

[2020-10-30 14:09] #1232 closed

[2020-10-30 14:11] SSKale1 commented on #1234
This problem already exists in the codebase.

[2020-10-30 14:11] #1234 closed

[2020-10-30 14:15] SSKale1 commented on #1237
Issue already exists #1078

[2020-10-30 14:15] #1237 closed

[2020-10-30 14:16] SSKale1 commented on #1240
This problem already exists in the codebase.

[2020-10-30 14:16] #1240 closed

[2020-10-30 14:16] SSKale1 commented on #1246
This problem already exists in the codebase.

[2020-10-30 14:16] #1246 closed

[2020-10-30 14:17] SSKale1 commented on #1247
This problem already exists in the codebase.

[2020-10-30 14:17] #1247 closed

[2020-10-30 14:18] SSKale1 commented on #1252
This problem already exists in the codebase.

[2020-10-30 14:18] #1252 closed

[2020-10-30 14:20] SSKale1 commented on #1368
Duplicate Issue #1256

[2020-10-30 14:20] #1368 closed

[2020-10-30 14:21] Himalay12 commented on #1240
when i made it was not there.

[2020-10-30 14:23] SSKale1 commented on #1240
It must've been an existing issue that was merged afterwards. Also check the existing issues while making new issues.

[2020-10-30 14:25] Himalay12 commented on #1240
ok. From next tme i will take care of it.

[2020-10-30 14:25] SSKale1 commented on #1240
No worries.

[2020-10-30 14:31] SSKale1 commented on #1186
Duplicate of Issue #700

[2020-10-30 14:31] #1186 closed

[2020-10-30 14:31] SSKale1 commented on #1271
Duplicate of issue #700

[2020-10-30 14:31] #1271 closed

[2020-10-30 14:37] #1275 closed

[2020-10-30 14:49] #1278 closed

[2020-10-30 14:49] #1279 closed

[2020-10-30 14:49] #1281 closed

[2020-10-30 14:49] #1282 closed

[2020-10-30 14:49] #1284 closed

[2020-10-30 14:49] #1285 closed

[2020-10-30 14:50] Himalay12 commented on #1369
I want to contribute for this issue. Could you assign it to me.

[2020-10-30 14:51] SSKale1 commented on #1283
@jag-singh-96 why are you creating duplicate issue of the problem you've been assigned to. #1034

[2020-10-30 14:51] #1283 closed

[2020-10-30 14:54] #1034 closed

[2020-10-30 14:54] #1370 closed

[2020-10-30 15:10] #1296 closed

[2020-10-30 15:10] #1303 closed

[2020-10-30 15:17] SSKale1 commented on #1341
@lin826 Thats a good Idea to add C to the mix but we'll do it after some time, currently overflowing with hacktoberfest creations. And secondly I don't think that this project is sufficiently complex to need git submodules. we can just work with another directory for C as we have for C++, Java, Python and SQL.

[2020-10-30 15:17] #1341 closed

[2020-10-30 15:18] SSKale1 commented on #1349
Duplicate of issue #818

[2020-10-30 15:18] #1349 closed

[2020-10-30 15:20] #818 closed

[2020-10-30 15:22] SSKale1 commented on #1356
Please go through the [Contribution Guidelines](https://github.com/SHY-Corp/LeetCode-Solutions/blob/master/CONTRIBUTING.md)

[2020-10-30 15:22] #1356 closed

[2020-10-30 15:24] PraneshUlleri opened #1375 "1290 | Convert Binary Number in a Linked List to Integer | Python"
## **`Convert Binary Number in a Linked List to Integer`** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code`

[2020-10-30 15:24] PraneshUlleri commented on #1375
Can I work on this issue?

[2020-10-30 15:27] SSKale1 commented on #1375
Duplicate #1257

[2020-10-30 15:27] #1375 closed

[2020-10-30 15:31] #1238 closed

[2020-10-30 15:32] #1239 closed

[2020-10-30 15:34] PraneshUlleri commented on #1375
this is solution in python

[2020-10-30 15:35] #1087 closed

[2020-10-30 15:42] #1061 closed

[2020-10-30 15:44] #1049 closed

[2020-10-30 15:46] #1134 closed

[2020-10-30 15:50] Mahima7120 commented on #1273
I would like to solve this

[2020-10-30 15:53] #1092 closed

[2020-10-30 16:01] Himalay12 opened #1378 "19 | Remove Nth Node From End of List| C++"
## 19. Remove Nth Node From End of List.cpp

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Co

[2020-10-30 16:02] Himalay12 commented on #1378
Assign me i want to contribute for this problem.

[2020-10-30 16:11] Saumya-Mishra9129 opened #1382 "33 | Search in Rotated Sorted Array | Python"
## **`Title`** - Search in Rotated Sorted Array

**What will change** - Will add the solution to 33. Search in Rotated Sorted Array in python

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it

[2020-10-30 16:12] Saumya-Mishra9129 commented on #1382
Please assign it to me.

[2020-10-30 16:16] Saumya-Mishra9129 opened #1384 "114 | Flatten Binary Tree to Linked List | Python"
## **`Title`** -

**What will change** - Add solution to 114. Flatten Binary Tree to Linked List in Python.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add

[2020-10-30 16:17] chiillax commented on #1384
Could you please assign me for this task ?

[2020-10-30 16:20] Saumya-Mishra9129 opened #1386 "200 | Number of Islands | Python"
## **`Title`** - Number of Islands

**What will change** - Add solution to 200. Number of Islands in Python

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add

[2020-10-30 16:20] Saumya-Mishra9129 commented on #1386
Please assign this to me.

[2020-10-30 16:32] pikachu28 opened #1388 "438| Find All Anagrams in a String| C++"
## **Find All Anagrams in a String** -

**What will change** -
Adding a solution to the problem : Find All Anagrams in a String

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pu

[2020-10-30 16:44] Ani1000 commented on #1356
@SSKale1 but then this was not assigned to any body I guess . may I take this work as we are running out of time

[2020-10-30 16:50] ShehzadAhm commented on #1388
Hi, can you assign me this issue?

[2020-10-30 16:54] Mrinal-Choudhary07 opened #1389 "1234 | Intersection of two Linked-Lists | Java"
## **`Intersection of two Linked-Lists`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean C

[2020-10-30 16:54] Mrinal-Choudhary07 commented on #1389
As we have 2 more days in hacktoberfest, please assign this issue to me.

[2020-10-30 17:09] Ani1000 opened #1392 "633| Sum of Square Numbers| C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-30 17:14] Anirgb00 opened #1393 "785|Is Graph Bipartite|C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-30 17:16] Ani1000 opened #1394 "765|Couples Holding Hands|C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-30 17:32] juhikushwah opened #1396 "66 | Plus One | C++"
## **`Title`** - Solution for 66. Plus One in C++

**What will change** -  New Code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper fo

[2020-10-30 17:57] Saumya-Mishra9129 opened #1399 "51 | N-Queens | Python"
## **`Title`** - N-Queens

**What will change** - Add solution for 51. N-Queens in Python.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the

[2020-10-30 18:33] Janhavi-Gautam commented on #1392
Hey , I want to work on this issue. Can you assign it to me?

[2020-10-30 18:42] juhikushwah opened #1401 "206. | Reverse Linked List | C++"
## **`Title`** - Solution for Reverse Linked List in C++

**What will change** -

### Type of Issue - Adding solution for 66. Reverse Linked List in C++

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Jav

[2020-10-30 18:42] juhikushwah commented on #1401
Please assign this issue to me.

[2020-10-30 19:19] subhadeep-123 commented on #1355
can i solve this issue

[2020-10-30 19:29] subhadeep-123 commented on #1399
can i solve this issue

[2020-10-30 19:30] juhikushwah opened #1403 "896. | Monotonic Array | C++"
## **`Title`** - Solution for Monotonic Array in C++

**What will change** -  Adding solution for 896. Monotonic Array in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull

[2020-10-30 19:31] juhikushwah commented on #1403
Please assign this to me!

[2020-10-30 20:01] kakashi215 commented on #1355
@subhadeep-123
I'd recommend you to open up your own issue and request to be assigned to it.
I mean that's the official way to contribute.

Cheers!

[2020-10-30 20:04] subhadeep-123 opened #1404 "57 | Bitonicsort | Python"
## **Bitonicsort`** -

**Adding code for bitonic Sorted arrays** -

### Type of Issue -

Please add/delete options that are not relevant.

- [] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to

[2020-10-30 20:06] subhadeep-123 commented on #1404
assign me this issue..

[2020-10-30 20:12] vivaswat19 commented on #1295
@SSKale1 please review my PR.
Thank you.

[2020-10-30 20:12] vivaswat19 commented on #1294
@SSKale1 please review my PR.
Thank you.

[2020-10-30 20:16] subhadeep-123 commented on #1355
OKAY COOL !!!

[2020-10-30 20:24] purva-saxena commented on #1401
please assign this task to me! i have already solved it

[2020-10-30 20:49] jDerp opened #1405 "69 | Sqrt(x) | C++"
## **`Title`** - Solution for Problem 69 in C++

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clea

[2020-10-30 20:50] jDerp commented on #1405
Assign to me please?

[2020-10-30 20:50] Debadri3 commented on #1405
Please assign to me.

[2020-10-30 20:53] Debadri3 commented on #1405
@jDerp

[2020-10-30 20:58] jDerp opened #1406 "674 | Longest Continuous Increasing Subsequence | C++"
## **`Title`** - C++ Solution for 674

**What will change** - Add new code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `C

[2020-10-30 20:58] jDerp commented on #1406
Can you assign to me please

[2020-10-30 21:00] #1405 closed

[2020-10-30 21:01] jDerp commented on #1405
Duplicate

[2020-10-31 01:21] TakuHazard opened #1412 "56 | Merge Intervals | Java"
## **`Merge Intervals`** -

**What will change** -
An optimized solution using Java will be provided.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your fil

[2020-10-31 01:21] TakuHazard commented on #1412
Could you please assign this issue to me ?

[2020-10-31 03:58] ViKrAm-Bais opened #1415 "206 | Reverse Linked List | C++"
## **`Reverse Linked List`** -

**What will change** -
Adding code for reversing linked list with O(n) in C++
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self C

[2020-10-31 03:59] #1415 closed

[2020-10-31 04:00] ViKrAm-Bais commented on #1415
Repeated issue

[2020-10-31 04:03] ViKrAm-Bais commented on #1401
Can I solve this issue, I can have an solution with O(n) time complexity

[2020-10-31 04:23] juhikushwah opened #1416 "876. | Middle of the Linked List | C++"
## **`Title`** - Solution for Middle of the Linked List

**What will change** - Adding solution for 876 Middle of the Linked List in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before

[2020-10-31 04:27] PraneshUlleri opened #1417 "1502 | Can Make Arithmetic Progression From Sequence | Python"
## **`Can Make Arithmetic Progression From Sequence`** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better

[2020-10-31 04:28] PraneshUlleri commented on #1417
can I work on this issue?

[2020-10-31 04:34] juhikushwah commented on #1416
Please assign this to me!

[2020-10-31 05:03] Ani1000 commented on #1392
Sorry mam actually I prepared for the solutions and raised the issuse hence do the same

[2020-10-31 05:28] vkc8181 opened #1422 "709 | To Lower Case | C++"
## To Lower Case

**What will change** -
Will add a C++ optimized solution for this LeetCode problem.
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file

[2020-10-31 05:29] vkc8181 commented on #1422
Kindly assign this to me. Thanks :)

[2020-10-31 05:44] ViKrAm-Bais commented on #1358
@SSKale1  please could you check this pull request, I had verified this code, also got accepted in LeetCode.

[2020-10-31 05:52] Debadri3 commented on #1422
Can you assign this to me?

[2020-10-31 06:00] SSKale1 commented on #1378
Duplicate issue #447

[2020-10-31 06:00] #1378 closed

[2020-10-31 06:01] Himalay12 commented on #1378
How do we check if the issue is present or not.

On Sat, Oct 31, 2020, 11:30 Shantanu Kale <notifications@github.com> wrote:

[2020-10-31 06:02] Himalay12 commented on #1378
i found that solution is not there

[2020-10-31 06:03] SSKale1 commented on #1378
In the issues tab you can search for the problem number. It will show up all the other issues created for the search query.

[2020-10-31 06:03] #1386 closed

[2020-10-31 06:06] SSKale1 commented on #1389
Problem [1234](https://leetcode.com/problems/replace-the-substring-for-balanced-string/) is a different problem.

[2020-10-31 06:06] #1389 closed

[2020-10-31 06:08] SSKale1 commented on #1392
This problem already exists in the codebase.

[2020-10-31 06:08] #1392 closed

[2020-10-31 06:09] SSKale1 commented on #1396
This problem already exists in the codebase.

[2020-10-31 06:09] #1396 closed

[2020-10-31 06:10] #1399 closed

[2020-10-31 06:12] adish-dev opened #1424 "1520 | Maximum Number of Non-Overlapping Substrings | C++"
## **`Maximum Number of Non-Overlapping Substrings`** -

**What will change** -

Coding file is uploaded

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your

[2020-10-31 06:12] Himalay12 opened #1425 "39 | Combination Sum | C++"
## 39. Combination Sum

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentatio

[2020-10-31 06:13] adish-dev commented on #1424
I'd like to contribute!
Please merge after checking

[2020-10-31 06:13] Himalay12 commented on #1425
Assign me to contribute the solution.

[2020-10-31 06:16] Himalay12 commented on #1378
Assign me for issue for problem 39. It is not there in cpp. I want to
contribute it.

On Sat, Oct 31, 2020, 11:33 Shantanu Kale <notifications@github.com> wrote:

[2020-10-31 06:16] #1170 closed

[2020-10-31 06:19] #1176 closed

[2020-10-31 06:20] #1124 closed

[2020-10-31 06:25] #1122 closed

[2020-10-31 06:27] adish-dev opened #1429 "1499 | Max Value of Equation | C++"
## **`Max Value of Equation`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code (Hard)

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code`

[2020-10-31 06:28] adish-dev commented on #1429
I'd like to contribute (hacktoberfest)

[2020-10-31 06:36] #1173 closed

[2020-10-31 06:38] #1106 closed

[2020-10-31 06:40] #1162 closed

[2020-10-31 06:43] #673 closed

[2020-10-31 06:45] #1072 closed

[2020-10-31 06:47] sumo1998 opened #1431 "Problem Number | Title | Language"
## **`Title`** - Solution for Subtree of Another Tree

**What will change** - Adding solution for 572

### Type of Issue -

Please add/delete options that are not relevant.

- Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the

[2020-10-31 06:49] Debadri3 opened #1432 "1021 | Remove Outer Parantheses | C++"
## **`Title`** -

**Stack problem added** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code`

[2020-10-31 06:50] Debadri3 commented on #1432
Please assign this to me.

[2020-10-31 06:51] sumo1998 commented on #1431
Please Issue this to me

[2020-10-31 06:52] Himalay12 commented on #1425
I made the pull request.

[2020-10-31 06:53] sumo1998 opened #1436 "572 | Subtree of Another Tree| C++"
## **`Title`** -   Solution to Subtree of Another Tree

**What will change** - Add solution to problem 572

### Type of Issue -

Please add/delete options that are not relevant.

-  Adding New Code

### Programming Language

Please add/delete options that are not relevant.

-  C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file

[2020-10-31 06:53] sumo1998 commented on #1436
Please assign this to me

[2020-10-31 06:54] sumo1998 commented on #1416
Please assign this to me

[2020-10-31 06:57] adish-dev opened #1437 "1496 | Path Crossing | C++"
## **`Path Crossing`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentat

[2020-10-31 06:57] #1159 closed

[2020-10-31 06:57] adish-dev commented on #1437
I'd like to contribute (Hactoberfest)

[2020-10-31 07:01] #1382 closed

[2020-10-31 07:01] #496 closed

[2020-10-31 07:03] #495 closed

[2020-10-31 07:04] #490 closed

[2020-10-31 07:06] #488 closed

[2020-10-31 07:07] adish-dev opened #1439 "1366 | Rank Teams by Votes | C++"
## **`1366. Rank Teams by Votes`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

## Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and

[2020-10-31 07:07] #1171 closed

[2020-10-31 07:07] adish-dev commented on #1439
I would like to contribute (Hacktoberfest)

[2020-10-31 07:09] #1196 closed

[2020-10-31 07:09] #1315 closed

[2020-10-31 07:10] #1149 closed

[2020-10-31 07:11] #1148 closed

[2020-10-31 07:11] #1146 closed

[2020-10-31 07:12] #1144 closed

[2020-10-31 07:12] #1135 closed

[2020-10-31 07:14] #1264 closed

[2020-10-31 07:19] adish-dev opened #1442 "1515 | Best Position for a Service Centre | C++"
## **`1515. Best Position for a Service Centre`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `

[2020-10-31 07:20] adish-dev commented on #1442
I'd like to contribute to this issue (Hacktoberfest)

[2020-10-31 07:31] #1155 closed

[2020-10-31 07:33] Debadri3 opened #1444 "442 | Find all duplicates in Array | Java"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` fo

[2020-10-31 07:34] juhikushwah commented on #1416
@SSKale1 Please assign me this!

[2020-10-31 07:34] rahul1995 commented on #1444
Assign this to me please

[2020-10-31 07:36] juhikushwah commented on #1401
@SSKale1 Hi, could you please assign this one to me. Thank you.

[2020-10-31 07:36] PraneshUlleri opened #1445 "1487 | Making File Names Unique| Python"
## **`Title`** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :

[2020-10-31 07:37] PraneshUlleri commented on #1445
I m interested to add code for this problem

[2020-10-31 07:38] #1116 closed

[2020-10-31 07:39] Debadri3 commented on #1444
Please assign this to me.

[2020-10-31 07:39] #1177 closed

[2020-10-31 07:40] #1182 closed

[2020-10-31 07:40] #1137 closed

[2020-10-31 07:41] #1139 closed

[2020-10-31 07:41] #1172 closed

[2020-10-31 07:44] #1140 closed

[2020-10-31 07:44] juhikushwah opened #1447 "287 | Find the Duplicate Number | C++"
## **`Title`** - Solution for Find the Duplicate Number

**What will change** - Adding code for 287. Find the Duplicate Number in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before mak

[2020-10-31 07:45] #1136 closed

[2020-10-31 07:45] juhikushwah commented on #1447
@SSKale1  Please assign me this task.

[2020-10-31 07:45] #1127 closed

[2020-10-31 07:45] #1254 closed

[2020-10-31 07:53] #1201 closed

[2020-10-31 07:56] #878 closed

[2020-10-31 07:58] #1209 closed

[2020-10-31 07:58] #1210 closed

[2020-10-31 07:59] naveen81 opened #1451 "500 | Keyboard Row | C++"
## **`Title`** - Keyboard Row

**What will change** - Will add the solution to this problem

### Type of Issue - Solution implementation

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code

[2020-10-31 08:00] #1156 closed

[2020-10-31 08:01] #1260 closed

[2020-10-31 08:02] #1261 closed

[2020-10-31 09:50] Debadri3 opened #1456 "328 | Odd Even Linked List | Java"
## **`Title`** -Group odd and even nodes together

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `C

[2020-10-31 09:50] Debadri3 commented on #1456
Please assign this to me. @SSKale1

[2020-10-31 10:52] h20190907 commented on #877
@swaingotnochill @SSKale1 I have solved the problem, and added the solution following proper contributing guidelines. Could you please have a look and close the PR if everything looks fine. This is for the Hacktoberfest. Thanks in advance!

[2020-10-31 10:53] h20190907 commented on #877
i closed the issue by mistake, reopening it.

[2020-10-31 11:35] NikhilTaneja98 commented on #1456
Please assign me this issue

[2020-10-31 11:39] Ani1000 opened #1465 "875| Koko Eating Bananas| C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-31 11:44] Ani1000 commented on #1465
@SSKale1  Sir please assign me this issue

[2020-10-31 11:46] Ani1000 opened #1466 "275 | H-Index II |C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-31 11:48] Ani1000 opened #1467 "525. Contiguous Array |C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-31 11:51] Ani1000 opened #1469 "1376. Time Needed to Inform All Employees | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-31 11:52] Ani1000 opened #1470 "162. Find Peak Element | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-31 11:53] Ani1000 commented on #1466
@SSKale1 Sir please assign me this issue

[2020-10-31 11:53] Ani1000 commented on #1469
@SSKale1 Sir please assign me this issue

[2020-10-31 11:53] Ani1000 commented on #1470
@SSKale1 Sir please assign me this issue

[2020-10-31 11:53] Ani1000 commented on #1467
@SSKale1 Sir please assign me this issue

[2020-10-31 12:59] commitedlearner commented on #1456
please assign me this issue;)

[2020-10-31 13:13] commitedlearner commented on #1447
please assign me this task ;)

[2020-10-31 13:19] vikashumain opened #1474 "1590 | Check whether tree is full binary tree or not | Java"
class Node
{
	int data;
	Node left, right;

	Node(int item)
	{
		data = item;
		left = right = null;
	}
}

class BinaryTree
{
	Node root;

	/* this function checks if a binary tree is full or not */
	boolean isFullTree(Node node)
	{
		// if empty tree
		if(node == null)
		return true;

		// if leaf node
		if(node.left == null && node.right == null )
			return true;

		// if both left and right sub

[2020-10-31 13:27] khavinshankar commented on #1470
please assign me this issue, I have a solution with 98% better runtime and 100% better space.

[2020-10-31 13:38] commitedlearner commented on #1416
please assign me this:)

[2020-10-31 13:51] commitedlearner commented on #1422
please assign me this issue:)

[2020-10-31 14:02] khavinshankar opened #1475 "164. Maximum Gap in C++"
## **`Title`** - 164. Maximum Gap

**What will change** - adding a solution

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wa

[2020-10-31 14:03] khavinshankar commented on #1475
Please assign this issue to me @khavinshankar, I have a solution with 81.36% better runtime

[2020-10-31 14:15] Ani1000 commented on #1470
Please refer to the community guide lines before commiting. also please try to raise a new issues hope that helps

[2020-10-31 14:23] MohanedAshraf opened #1477 "64 | Minimum Path Sum | C++"
## **`Minimum Path Sum`** -

**New Issue(solution)** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docu

[2020-10-31 14:52] 11000100111000 commented on #1477
I'd like to work on this problem

[2020-10-31 15:38] MohanedAshraf commented on #1477
I want to work on this

[2020-10-31 16:05] Janhavi-Gautam commented on #1474
Hey , I would like to work on this . Can you assign me the issue?

[2020-10-31 16:14] Janhavi-Gautam commented on #1233
Hey. I would like to work on this issue. Can you assign this to me?

[2020-10-31 16:19] Janhavi-Gautam commented on #1447
Hey , Can you assign me this work?

[2020-10-31 16:21] Janhavi-Gautam commented on #1403
Hey, I would like to work on this issue . Can you assign it to me?

[2020-10-31 17:16] nitish166 opened #1482 "1590 | Check whether tree is full binary tree or not | Java"
## **`Title`** -

**What will change** -

### Type of Issue - comment written on the code

Please add/delete options that are not relevant.

- [x] Improving Documentation

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
-

[2020-10-31 18:03] r-tron18 commented on #1477
I want this

[2020-10-31 18:04] r-tron18 opened #1485 "1639| Number of Ways to Form a Target String Given a Dictionary | c++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-31 18:04] r-tron18 commented on #1485
I want this

[2020-10-31 18:11] r-tron18 opened #1487 "1637 | Widest Vertical Area Between Two Points Containing No Points | Python"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-31 19:24] harshit2000 opened #1489 "164 | Maximum Gap | Python"
## **`Maximum Gap - Problem 164`** -

*Solution** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

Solution to Maximum Gap
class Solution(object):
    def maximumGap(self, nums):
        """
        :type nums: List[int]
        :rtype: int
        """
        i

[2020-10-31 22:24] GoodGuyGregory commented on #1248
@SSKale1 Thanks for the assignment. Will knock it out

[2020-10-31 23:09] #1294 closed

[2020-10-31 23:10] #1295 closed

[2020-10-31 23:11] #1369 closed

[2020-10-31 23:13] #1353 closed

[2020-10-31 23:15] #1354 closed

[2020-10-31 23:16] #1355 closed

[2020-10-31 23:26] Yashica7 commented on #1417
Assigned it to you for now, next time onward you first need to wait to get assigned before making any pull requests else it could be marked invalid

[2020-10-31 23:27] #1417 closed

[2020-10-31 23:28] #1259 closed

[2020-10-31 23:30] Yashica7 commented on #1424
Assigned it to you for now, next time onward you first need to wait to get assigned before making any pull requests else it could be marked invalid

[2020-10-31 23:31] #1424 closed

[2020-10-31 23:33] #1257 closed

[2020-10-31 23:35] #1316 closed

[2020-10-31 23:37] #1256 closed

[2020-10-31 23:38] #1425 closed

[2020-10-31 23:42] Yashica7 commented on #1429
Assigned it to you for now, next time onward you first need to wait to get assigned before making any pull requests else it could be marked invalid

[2020-10-31 23:46] #1255 closed

[2020-10-31 23:50] Yashica7 commented on #1439
Assigned it to you for now, next time onward you first need to wait to get assigned before making any pull requests else it could be marked invalid

[2020-10-31 23:52] Yashica7 commented on #1437
Assigned it to you for now, next time onward you first need to wait to get assigned before making any pull requests else it could be marked invalid

[2020-10-31 23:56] Yashica7 commented on #1442
Assigned it to you for now, next time onward you first need to wait to get assigned before making any pull requests else it could be marked invalid

[2020-10-31 23:57] #1157 closed

[2020-10-31 23:59] Yashica7 commented on #1445
Assigned it to you for now, next time onward you first need to wait to get assigned before making any pull requests else it could be marked invalid

[2020-11-01 00:04] #1226 closed

[2020-11-01 00:13] #1169 closed

[2020-11-01 00:15] #1191 closed

[2020-11-01 03:14] ZeroniaFX opened #1496 "1408 | String Matching in an Array | Python"
## **`Title`** - 1408 | String Matching in an Array | Python

**What will change** -
I'll add a solution to problem [1408](https://leetcode.com/problems/string-matching-in-an-array/)

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that

[2020-11-01 03:14] ZeroniaFX commented on #1496
Hi can you please assign this to me? Thanks!

[2020-11-01 06:59] AmeyaPhadnis-2019H1030012G commented on #1496
Please assign this issue to me, I am new to open source and would like to contribute

[2020-11-01 12:34] AmeyaPhadnis-2019H1030012G commented on #1487
Please assign this issue to me, I am new to open source and would like to contribute

[2020-11-01 12:35] AmeyaPhadnis-2019H1030012G commented on #1482
Please assign this issue to me, I am new to open source and would like to contribute

[2020-11-01 15:58] kaushalendra-pandey opened #1498 "84 | Maximum Area Histogram | Python"
## **`Title`** - maximumAreaHistogram

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code`

[2020-11-02 03:06] #1422 closed

[2020-11-02 10:27] RaymondWaterlooLi commented on #1498
May I work on this issue?  Could you please assign it to me?

[2020-11-02 12:52] kaushalendra-pandey commented on #1498
Yeah sure!!!

[2020-11-03 05:40] SSKale1 commented on #672
This issue is now open for assignment.

[2020-11-03 05:45] #896 closed

[2020-11-03 05:57] #1167 closed

[2020-11-03 05:58] #1310 closed

[2020-11-03 05:59] #1208 closed

[2020-11-03 06:01] #1190 closed

[2020-11-03 06:04] #877 closed

[2020-11-03 06:09] SSKale1 commented on #875
@vijaykumarsunkari This repo is only for the Solutions of Leetcode Problems.

[2020-11-03 06:09] #875 closed

[2020-11-03 06:12] #1388 closed

[2020-11-03 06:17] #1323 closed

[2020-11-03 06:17] #1324 closed

[2020-11-03 06:21] SSKale1 commented on #1431
@sumo1998 you have to create a PR only after you've been assigned to the issue. We'll be closing this now. Please go through the [contribution guidelines.](https://github.com/SHY-Corp/LeetCode-Solutions/blob/master/CONTRIBUTING.md)

[2020-11-03 06:22] SSKale1 commented on #1431
@sumo1998 change the title according to the [contribution guidelines.](https://github.com/SHY-Corp/LeetCode-Solutions/blob/master/CONTRIBUTING.md)

[2020-11-03 06:24] #1431 closed

[2020-11-03 06:28] SSKale1 commented on #1465
This problem already exists in the codebase.

[2020-11-03 06:28] #1465 closed

[2020-11-03 06:33] SSKale1 commented on #1470
Duplicate issue #1077

[2020-11-03 06:33] #1470 closed

[2020-11-03 06:34] SSKale1 commented on #1474
@vikashumain You don't have to put the code here. Please go through the [contribution guidelines.](https://github.com/SHY-Corp/LeetCode-Solutions/blob/master/CONTRIBUTING.md) And make a PR following the guidelines.

[2020-11-03 06:35] SSKale1 commented on #1482
Duplicate #1474

[2020-11-03 06:35] #1482 closed

[2020-11-03 06:40] SSKale1 commented on #1498
@kaushalendra-pandey Please go through the [contribution guidelines.](https://github.com/SHY-Corp/LeetCode-Solutions/blob/master/CONTRIBUTING.md) And edit the title accordingly.

[2020-11-03 06:40] SSKale1 commented on #1498
- [x] Assigning to @RaymondWaterlooLi

[2020-11-03 06:44] SSKale1 commented on #1248
👍

[2020-11-03 06:45] SSKale1 commented on #32
@VishalAmbavade Do you plan on adding the solution?

[2020-11-03 06:46] SSKale1 commented on #33
@VishalAmbavade Do you plan to implement this?

[2020-11-03 06:47] SSKale1 commented on #93
@shevya06 you plan on implementing it?

[2020-11-03 06:48] SSKale1 commented on #285
@shruti1421 you plan on implementing this?

[2020-11-03 06:49] #1451 closed

[2020-11-03 07:05] shevya06 commented on #93
I'm sorry was facing some issue with this one , you can assign it to someone else if that's possible

[2020-11-03 07:06] SSKale1 commented on #93
Okay no Problem.

[2020-11-03 07:06] SSKale1 commented on #93
@shuai-yang You still wanna do this?

[2020-11-03 07:29] RaymondWaterlooLi commented on #1498
Thank you.

[2020-11-03 07:31] kaushalendra-pandey opened #1501 "1277| Count Square Submatrices with All Ones | Python"
## **`Title`** -countSquareSubMatricesWithAllOnes

**What will change** - I will add a solution to this problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
-

[2020-11-03 08:50] AmeyaPhadnis-2019H1030012G commented on #1501
Please assign this issue to me, I am new to open source and looking for opportunities to contribute

[2020-11-03 15:20] #1475 closed

[2020-11-03 15:34] Yashica7 commented on #32
We'll be closing this issue now as it has been 20 days and there is no response, you create an issue again if you wish to work on it

[2020-11-03 15:34] #32 closed

[2020-11-03 15:35] Yashica7 commented on #33
We'll be closing this issue now as it has been 20 days and there is no response, you can create an issue again if you wish to work on it @VishalAmbavade

[2020-11-03 15:35] #33 closed

[2020-11-03 18:07] shruti1421 commented on #285
Sorry for doing it late.

[2020-11-03 19:29] AmeyaPhadnis-2019H1030012G opened #1504 "1277| Count Square Submatrices with All Ones | C++"
## **`Title`** -

**What will change** - I will add solution to the problem

### Type of Issue -

Please add/delete options that are not relevant.
- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Cl

[2020-11-03 19:30] AmeyaPhadnis-2019H1030012G commented on #1504
Please assign this issue to me , I have already implemented the solution

[2020-11-03 20:57] juhikushwah opened #1505 "217 | Contains Duplicate | C++"
## **`Title`** - Adding code for 217. Contains Duplicate

**What will change** -  Solution for 217 Contains Duplicate in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readabil

[2020-11-03 23:56] juhikushwah commented on #1505
Please assign this to me.

[2020-11-05 04:25] AmeyaPhadnis-2019H1030012G opened #1508 "1408 | String Matching in an Array | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for

[2020-11-05 04:26] AmeyaPhadnis-2019H1030012G commented on #1508
Please assign this to me

[2020-11-05 04:30] AmeyaPhadnis-2019H1030012G opened #1509 "1450 | Number of Students Doing Homework at a Given Time | Python"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation`

[2020-11-05 04:31] AmeyaPhadnis-2019H1030012G commented on #1509
Could you please assign it to me?

[2020-11-05 10:14] #1120 closed

[2020-11-05 13:05] kritikashah20 commented on #1508
Hey! Can you assign this to me

[2020-11-05 17:45] AmeyaPhadnis-2019H1030012G commented on #1504
@SSKale1 could you please respond and assign this issue to me

[2020-11-06 07:41] #1394 closed

[2020-11-06 07:49] #285 closed

[2020-11-06 07:52] #1498 closed

[2020-11-06 07:53] #1403 closed

[2020-11-06 18:49] #1501 closed

[2020-11-07 05:07] #1401 closed

[2020-11-07 07:12] AmeyaPhadnis-2019H1030012G opened #1516 "1447 | Simplified Fractions | Python"
## **`Title`** - Adding Code for 1447. Simplified Fractions in python

**What will change** - Solution for 1447. Simplified Fractions in python will be added

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to ge

[2020-11-07 07:12] AmeyaPhadnis-2019H1030012G commented on #1516
Please assign this to me

[2020-11-07 07:20] AmeyaPhadnis-2019H1030012G opened #1517 "219 | Contains Duplicate II | Python"
## **`Title`** -Adding code for 219. Contains Duplicate II in python

**What will change** - Solution for 219 Contains Duplicate II in Python

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation`

[2020-11-07 07:21] AmeyaPhadnis-2019H1030012G commented on #1517
Please assign this to me

[2020-11-07 14:18] khavinshankar opened #1519 "445 | Add Two Numbers II | C++"
## **`Title`** - 445. Add Two Numbers II

**What will change** - adding a new file with a solution for 445. Add Two Numbers II

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

[2020-11-07 14:18] khavinshankar commented on #1519
Please assign this to me

[2020-11-07 21:38] nisthajnn commented on #1519
Please assign this to me

[2020-11-08 02:41] khavinshankar opened #1521 "1217 | Minimum Cost to Move Chips to The Same Position | C++"
## **`Title`** - 1217. Minimum Cost to Move Chips to The Same Position

**What will change** - adding a new file in the C++ directory (1217. Minimum Cost to Move Chips to The Same Position.cpp)

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the p

[2020-11-08 02:42] khavinshankar commented on #1521
please assgin me this issue

[2020-11-08 04:00] punit1108 opened #1522 "1155 | NumberofDiceRollsWithTargetSum | C++"
## **`Title`** - NumberofDiceRollsWithTargetSum

**What will change** - Adding new file to C++ folder

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask f

[2020-11-08 04:01] punit1108 commented on #1522
Request to assign this issue to me

[2020-11-08 04:08] khavinshankar opened #1523 "1646 | Get Maximum in Generated Array | C++"
## **`Title`** - 1646. Get Maximum in Generated Array

**What will change** - adding new file with solution for 1646. Get Maximum in Generated Array in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Doc

[2020-11-08 04:08] khavinshankar commented on #1523
please assign me this issue

[2020-11-08 04:10] khavinshankar opened #1524 "1647 | Minimum Deletions to Make Character Frequencies Unique | C++"
## **`Title`** - 1647. Minimum Deletions to Make Character Frequencies Unique

**What will change** - adding a new file with a solution for 1647. Minimum Deletions to Make Character Frequencies Unique in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add yo

[2020-11-08 04:10] khavinshankar commented on #1524
please assign me this issue

[2020-11-08 17:54] #1519 closed

[2020-11-08 17:55] #868 closed

[2020-11-08 17:56] #1086 closed

[2020-11-08 17:57] #1078 closed

[2020-11-08 17:58] #1508 closed

[2020-11-08 17:59] #1505 closed

[2020-11-08 17:59] #1504 closed

[2020-11-08 18:00] #1509 closed

[2020-11-08 18:03] SSKale1 commented on #1406
@jDerp You wanna work on this?

[2020-11-08 18:03] SSKale1 commented on #1406
- [x] Assigning to @jDerp for now.

[2020-11-08 18:04] #672 closed

[2020-11-08 18:05] #93 closed

[2020-11-09 04:31] kaushalendra-pandey opened #1526 "1414 | Find the Minimum Number of Fibonacci Numbers Whose Sum Is K | Python"
1414. Find the Minimum Number of Fibonacci Numbers Whose Sum Is K

**What will change** - I wiil add a new code in the PYTHON folder

### Type of Issue - Solving a new problem

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get a

[2020-11-09 07:46] khavinshankar opened #1530 "563 | Binary Tree Tilt | C++"
## **`Title`** - 563. Binary Tree Tilt

**What will change** - add a new file with a solution for 563. Binary Tree Tilt in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readab

[2020-11-09 07:46] khavinshankar commented on #1530
please assign me this issue

[2020-11-09 13:06] khavinshankar opened #1531 "1026 | Maximum Difference Between Node and Ancestor | C++"
## **`Title`** -  1026. Maximum Difference Between Node and Ancestor

**What will change** - adding a solution for 1026. Maximum Difference Between Node and Ancestor in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Cle

[2020-11-09 13:07] khavinshankar commented on #1531
please assign me this issue

[2020-11-09 13:57] #448 closed

[2020-11-09 13:58] #1521 closed

[2020-11-09 13:59] #1524 closed

[2020-11-09 14:00] #1523 closed

[2020-11-09 14:03] Yashica7 commented on #1526
- [x] Assigned to @kaushalendra-pandey

[2020-11-09 14:04] Yashica7 commented on #1530
- [x] Assigned to @khavinshankar

[2020-11-10 12:12] khavinshankar opened #1535 "832 | Flipping an Image | C++"
## **`Title`** - 832. Flipping an Image

**What will change** - adding a new file with a solution for 832. Flipping an Image in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better r

[2020-11-10 12:13] khavinshankar commented on #1535
please assign me this issue

[2020-11-10 14:24] khavinshankar opened #1536 "867 | Transpose Matrix | C++"
## **`Title`** - 867. Transpose Matrix

**What will change** - adding a new file with a solution for 867. Transpose Matrix in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better rea

[2020-11-10 14:24] khavinshankar commented on #1536
please assign me this issue

[2020-11-11 12:32] richnavska commented on #225
Hello,
I have subject in university and we should create some units tests. So I want to ask you if I can create some units test for this project.  Thank you. @SSKale1 @Yashica7

[2020-11-11 13:44] khavinshankar opened #1537 "593 | Valid Square | C++"
## **`Title`** - 593. Valid Square

**What will change** - adding a new file with a solution for 593. Valid Square in c++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability

[2020-11-11 13:44] khavinshankar commented on #1537
please assign me this issue

[2020-11-11 14:06] SSKale1 commented on #225
Exactly what unit tests are you thinking? @richnavska

[2020-11-11 14:15] khavinshankar opened #1538 "709 | To Lower Case | C++"
## **`Title`** - 709. To Lower Case

**What will change** - adding a new file with a solution for 709. To Lower Case in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readabili

[2020-11-11 14:15] khavinshankar commented on #1538
please assign me this issue

[2020-11-11 15:55] Sauravsingh-Rana commented on #1536
please assign me this issue

[2020-11-11 16:24] richnavska commented on #225
Input and output tests. @SSKale1

[2020-11-11 17:47] anands97 commented on #1538
Can you please assign me this issue?

[2020-11-12 01:42] khavinshankar commented on #1538
@anands97 **to contribute,**

1. Choose a leetcode problem that is not already present.
2. Create an issue and wait for it to be assigned to you.
3. Create a pull request.
for more info [check this out](https://github.com/SHY-Corp/LeetCode-Solutions/blob/master/CONTRIBUTING.md).

[2020-11-12 01:43] khavinshankar commented on #1536
@Sauravsingh-Rana **to contribute,**

1. Choose a leetcode problem that is not already present.
2. Create an issue and wait for it to be assigned to you.
3. Create a pull request.
for more info [check this out](https://github.com/SHY-Corp/LeetCode-Solutions/blob/master/CONTRIBUTING.md).

[2020-11-12 14:16] khavinshankar opened #1539 "46 | Permutations | C++"
## **`Title`** - 46. Permutations

**What will change** - adding a new file with a solution for 46. Permutations in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
-

[2020-11-12 14:16] khavinshankar commented on #1539
please assign me this issue

[2020-11-12 14:18] khavinshankar opened #1540 "47 | Permutations II | C++"
## **`Title`** - 47. Permutations II

**What will change** - adding a new file with a solution for 47. Permutations II in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readabi

[2020-11-12 14:18] khavinshankar commented on #1540
please assign me this issue

[2020-11-12 15:51] Sauravsingh-Rana commented on #1536
I can give it a shot, to your transpose matrix issue.
Wave green signal so that I can move forward. **@khavinshankar**

[2020-11-12 16:11] khavinshankar commented on #1536
@Sauravsingh-Rana ya sure 👍🏻

[2020-11-13 06:50] Sauravsingh-Rana commented on #1536
Sure...**@khavinshankar**

[2020-11-13 15:03] khavinshankar opened #1542 "621 | Task Scheduler | C++"
## **`Title`** - 621. Task Scheduler

**What will change** - adding a new file with a solution for 621. Task Scheduler in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readabi

[2020-11-13 15:04] khavinshankar commented on #1542
please assign me this issue

[2020-11-14 00:03] #1526 closed

[2020-11-14 00:04] #1531 closed

[2020-11-14 00:05] #1530 closed

[2020-11-14 00:07] #1248 closed

[2020-11-14 07:45] khavinshankar opened #1543 "1137 | N-th Tribonacci Number | C++"
## **`Title`** - 1137. N-th Tribonacci Number

**What will change** - adding a new file with a solution for 1137. N-th Tribonacci Number in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation`

[2020-11-14 07:46] khavinshankar commented on #1543
please assign me this issue

[2020-11-15 02:18] khavinshankar opened #1544 "458 | Poor Pigs | C++"
## **`Title`** - 458. Poor Pigs

**What will change** - adding a new file with a solution for 458. Poor Pigs in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add

[2020-11-15 02:18] khavinshankar commented on #1544
please assign me this issue

[2020-11-16 12:51] khavinshankar opened #1545 "1046 | Last Stone Weight | C++"
## **`Title`** - 1046. Last Stone Weight

**What will change** - adding a new file with a solution for 1046. Last Stone Weight in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better

[2020-11-16 12:52] khavinshankar commented on #1545
please assign me this issue

[2020-11-16 13:24] khavinshankar opened #1546 "766 | Toeplitz Matrix | C++"
## **`Title`** - 766. Toeplitz Matrix

**What will change** - adding a new file with a solution for 766. Toeplitz Matrix in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better reada

[2020-11-16 13:24] khavinshankar commented on #1546
please assign me this issue

[2020-11-17 12:15] khavinshankar opened #1547 "858 | Mirror Reflection | C++"
## **`Title`** - 858. Mirror Reflection

**What will change** - adding a new file with a solution for 858. Mirror Reflection in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better r

[2020-11-17 12:15] khavinshankar commented on #1547
please assign me this issue

[2020-11-18 20:26] juhikushwah opened #1552 "136 | Single Number | C++"
## **`Title`** - C++ code for 136. Single Number

**What will change** - Adding code in C++ for leetcode question 136

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- A

[2020-11-18 20:27] juhikushwah commented on #1552
@SSKale1
@Yashica7
@JOKUE2002
@swaingotnochill

Please assign this to me.

[2020-11-18 20:54] juhikushwah opened #1553 "303 | Range Sum Query - Immutable | C++"
## **`Title`** - C++ code for 303. Range Sum Query - Immutable

**What will change** - Adding code in C++ for leetcode problem 303

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-11-18 20:55] juhikushwah commented on #1553
@SSKale1
@Yashica7
@JOKUE2002
@swaingotnochill

Please assign this to me.

[2020-11-18 21:05] juhikushwah opened #1554 "744 | Find Smallest Letter Greater Than Target | C++"
## **`Title`** - C++ code for 744. Find Smallest Letter Greater Than Target

**What will change** - Adding C++ code for leetcode problem 744

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-11-18 21:06] juhikushwah commented on #1554
@SSKale1 @Yashica7 @JOKUE2002 @swaingotnochill

Please assign this to me.

[2020-11-18 21:10] juhikushwah opened #1555 "637 | Average of Levels in Binary Tree | C++"
## **`Title`** - C++ code for 637. Average of Levels in Binary Tree

**What will change** - Adding C++ code for leetcode problem 637

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-11-18 21:11] juhikushwah commented on #1555
@SSKale1 @Yashica7 @JOKUE2002 @swaingotnochill

Please assign this to me.

[2020-11-18 21:14] juhikushwah opened #1556 "111 | Minimum Depth of Binary Tree | C++"
## **`Title`** - C++ code for 111. Minimum Depth of Binary Tree

**What will change** - Adding C++ solution for leetcode problem 111

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-11-18 21:15] juhikushwah commented on #1556
Please assign this issue to me.

[2020-11-19 08:42] Arjun-Zaraki commented on #1552
@JOKUE2002
@Yashica7
@SSKale1
@swaingotnochill

Can u please assign this issue to me.

[2020-11-20 02:43] khavinshankar opened #1559 "394 | Decode String | C++"
## **`Title`** - 394. Decode String

**What will change** - adding a new file with a solution for 394. Decode String in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readabili

[2020-11-20 02:44] khavinshankar commented on #1559
please assign me this issue

[2020-11-20 03:25] CodingBlood commented on #1559
I am new to open source looking to make my first contribution , can you please guide me, or assign this issue to me

[2020-11-20 05:06] kaushalendra-pandey opened #1560 "845. | Longest Mountain in Array | Python"
Longest Mountain in Array

I want to add new code.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docum

[2020-11-20 13:33] khavinshankar opened #1562 "81 | Search in Rotated Sorted Array II | C++"
## **`Title`** - 81. Search in Rotated Sorted Array II

**What will change** - adding a new file with a solution for 81. Search in Rotated Sorted Array II in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` an

[2020-11-20 13:33] khavinshankar commented on #1562
please assign me this issue

[2020-11-21 03:51] #1537 closed

[2020-11-21 03:51] #1538 closed

[2020-11-21 03:52] #1535 closed

[2020-11-21 03:52] #1416 closed

[2020-11-21 03:53] #1539 closed

[2020-11-21 03:54] #1540 closed

[2020-11-21 03:54] #1542 closed

[2020-11-21 03:55] #1543 closed

[2020-11-21 03:55] #1447 closed

[2020-11-21 16:49] khavinshankar opened #1568 "902 | Numbers At Most N Given Digit Set | C++"
## **`Title`** - 902. Numbers At Most N Given Digit Set

**What will change** - adding a new file with a solution for 902. Numbers At Most N Given Digit Set in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code`

[2020-11-21 16:49] khavinshankar commented on #1568
please assign this issue to me

[2020-11-22 12:49] Ankur6702 commented on #1568
Hello
I am new to open source and wanted to get started with this issue. I know C / C++. Please guide me how can I contribute to in issue.

[2020-11-22 13:10] Ankur6702 commented on #1554
Hello
I wanted to contribute in this issue. Can you please guide how can I contribute to it.

[2020-11-22 22:12] #1560 closed

[2020-11-22 22:15] #1552 closed

[2020-11-22 22:37] juhikushwah commented on #1554
@Ankur6702 Hi. So, you create your own issue and ask the admin to assign you that task.  Look for leetcode problems that haven't already been solved and check if they are there in the issues column. If not present, you can pick that problem.

[2020-11-23 04:33] Ankur6702 commented on #1554
Please guide what kind of issue I can create on my own. I am new in Github so need a bit support.

[2020-11-23 15:16] khavinshankar opened #1570 "337 | House Robber III | C++"
## **`Title`** - 337. House Robber III

**What will change** - adding a new file with a solution for 337. House Robber III in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better rea

[2020-11-23 15:16] khavinshankar commented on #1570
please assign me this issue

[2020-11-23 18:17] #1536 closed

[2020-11-23 22:16] juhikushwah commented on #1554
You could checkout the readme file. It has all the details!

[2020-11-24 02:51] khavinshankar commented on #1568
@Ankur6702 **to contribute**
1. Choose a leetcode problem for which the answer is not already present.
2. Create an issue and wait for it to be assigned to you.
3. Create a pull request.

[2020-11-24 19:15] juhikushwah opened #1575 "720 | Longest Word in Dictionary | C++"
## **`Title`** - C++ code for 720. Longest Word in Dictionary

**What will change** - Adding C++ code for leetcode problem 720

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

[2020-11-24 19:16] juhikushwah commented on #1575
@SSKale1 Please assign this issue to me.

[2020-11-24 19:20] juhikushwah opened #1576 "216 | Combination Sum III | C++"
## **`Title`** - C++ code for 216 Combination Sum III

**What will change** - Adding C++ code for leetcode problem 216

### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

[2020-11-24 19:20] juhikushwah commented on #1576
@SSKale1 Please assign this to me.

[2020-11-24 19:22] juhikushwah opened #1577 "40 | Combination Sum II | C++"
## **`Title`** - C++ code for 40. Combination Sum II

**What will change** - Adding code for leetcode problem 40

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-11-24 19:23] juhikushwah commented on #1577
@SSKale1 Please assign this issue to me.

[2020-11-24 19:28] juhikushwah opened #1578 "62 | Unique Paths | C++"
## **`Title`** - C++ code for 62. Unique Paths

**What will change** - Adding C++ code for leetcode problem 62

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-11-24 19:28] juhikushwah commented on #1578
@SSKale1 Please assign this issue to me.

[2020-11-24 19:31] juhikushwah opened #1579 "904 | Fruit into Baskets | C++"
## **`Title`** - C++ code for 904. Fruit into Baskets

**What will change** -Adding C++ code for leetcode problem 904

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-11-24 19:31] juhikushwah commented on #1579
@SSKale1 Please assign this issue to me!

[2020-11-24 19:34] juhikushwah opened #1580 "113 | Path Sum II | C++"
## **`Title`** - C++ code for 113. Path Sum II

**What will change** - Adding C++ code for leetcode problem 113

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-11-24 19:35] juhikushwah commented on #1580
@SSKale1 Please assign this to me.

[2020-11-24 19:37] juhikushwah opened #1581 "437 | Path Sum III | C++"
## **`Title`** - C++ code for 437. Path Sum III

**What will change** - Adding C++ code for leetcode problem 437

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-11-24 19:37] juhikushwah commented on #1581
@SSKale1 Please assign this to me.

[2020-11-26 02:48] khavinshankar opened #1582 "1015 | Smallest Integer Divisible by K | C++"
## **`Title`** - 1015. Smallest Integer Divisible by K

**What will change** - adding a new file with a solution for 1015. Smallest Integer Divisible by K in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` an

[2020-11-26 02:48] khavinshankar commented on #1582
please assign me this issue.

[2020-11-27 04:22] khavinshankar opened #1583 "395 | Longest Substring with At Least K Repeating Characters | C++"
## **`Title`** - 395. Longest Substring with At Least K Repeating Characters

**What will change** - adding a new file with a solution for 395. Longest Substring with At Least K Repeating Characters in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your

[2020-11-27 04:23] khavinshankar commented on #1583
please assign me this issue.

[2020-11-29 12:45] khavinshankar opened #1584 "1306 | Jump Game III | C++"
## **`Title`** - 1306. Jump Game III

**What will change** - adding a new file with a solution for 1306. Jump Game III in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readabi

[2020-11-30 18:29] Tarun200999 commented on #1584
Can I contribute to it ? I have solved this problem using recursion or queue both approach.

[2020-12-03 16:39] khavinshankar opened #1587 "897 | Increasing Order Search Tree | C++"
## **`Title`** - 897. Increasing Order Search Tree

**What will change** - adding a new file with a solution for 897. Increasing Order Search Tree in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docum

[2020-12-04 10:16] khavinshankar opened #1588 "1492 | The kth Factor of n | C++"
## **`Title`** - 1492. The kth Factor of n

**What will change** - adding a new file with a solution for 1492. The kth Factor of n in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for be

[2020-12-04 10:16] khavinshankar commented on #1588
please assign me this issue

[2020-12-04 10:17] khavinshankar commented on #1587
please assign me this issue

[2020-12-09 00:01] juhikushwah opened #1595 "230 | Kth Smallest Element in a BST | C++"
## **`Title`** - Code for Kth Smallest Element in a BST

**What will change** - Adding C++ code for leetcode problem 230

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-12-09 00:04] juhikushwah opened #1596 "336 | Palindrome Pairs | C++"
## **`Title`** - Adding code for 336. Palindrome Pairs

**What will change** - Adding C++ code for leetcode problem 336

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-12-09 00:12] juhikushwah opened #1597 "133 | Clone Graph | C++"
## **`Title`** - Solution for 133. Clone Graph

**What will change** - Adding C++ code for leetcode problem 133

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-12-09 00:17] juhikushwah opened #1598 "79 | Word Search | C++"
## **`Title`** - Adding code for 79. Word Search

**What will change** - Adding C++ code for leetcode problem 79

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-12-09 00:21] juhikushwah opened #1599 "767 | Reorganize String | C++"
## **`Title`** - Adding code for 767. Reorganize String

**What will change** - Adding C++ code for leetcode problem 767

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-12-09 00:26] juhikushwah opened #1600 "863 | All Nodes Distance K in Binary Tree | C++"
## **`Title`** - Adding code for 863. All Nodes Distance K in Binary Tree

**What will change** - Adding C++ code for leetcode problem 863

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-12-09 00:30] juhikushwah opened #1601 "105 | Construct Binary Tree from Preorder and Inorder Traversal | C++"
## **`Title`** - Adding code for 105. Construct Binary Tree from Preorder and Inorder Traversal

**What will change** - Adding C++ code for leetcode problem 105

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-12-09 00:32] juhikushwah commented on #1595
Please assign me this issue.

[2020-12-09 00:33] juhikushwah commented on #1601
Please assign me this issue.

[2020-12-09 00:33] juhikushwah commented on #1600
@SSKale1 Please assign me this issue.

[2020-12-09 00:33] juhikushwah commented on #1599
Please assign me this.

[2020-12-09 00:34] juhikushwah commented on #1598
Please assign me this issue.

[2020-12-09 00:34] juhikushwah commented on #1597
@SSKale1 Please assign me this issue.

[2020-12-09 00:34] juhikushwah commented on #1596
Please assign this to me.

[2020-12-09 14:36] khavinshankar opened #1602 "173 | Binary Search Tree Iterator | C++"
## **`Title`** - 173. Binary Search Tree Iterator

**What will change** - adding a new file with a solution for 173. Binary Search Tree Iterator in C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documen

[2020-12-09 14:36] khavinshankar commented on #1602
please assign this issue to me

[2020-12-11 13:03] #1554 closed

[2020-12-11 13:05] #1544 closed

[2020-12-11 13:06] #1545 closed

[2020-12-11 13:06] #1546 closed

[2020-12-11 13:08] #1553 closed

[2020-12-11 13:09] #1578 closed

[2020-12-11 13:10] #1547 closed

[2020-12-11 13:11] #1559 closed

[2020-12-11 13:13] #1570 closed

[2020-12-11 13:15] #1555 closed

[2020-12-11 13:16] #1582 closed

[2020-12-11 13:18] #1583 closed

[2020-12-11 13:19] #1584 closed

[2020-12-11 13:20] #1556 closed

[2020-12-11 13:29] #144 closed

[2020-12-11 13:31] Yashica7 commented on #247
@SHIVANATHRIHARIKRISHNA Please work on the assigned issue within a week else this PR will be closed.

[2020-12-11 13:32] Yashica7 commented on #247
@SHIVANATHRIHARIKRISHNA Please work on the assigned issue within a week else this Issue will be closed.

[2020-12-11 13:32] Yashica7 commented on #255
@SankethGB Please work on the assigned issue within a week else this Issue will be closed.

[2020-12-11 13:33] Yashica7 commented on #297
@shruti1421 Please work on the assigned issue within a week else this Issue will be closed.

[2020-12-11 13:33] Yashica7 commented on #298
@shruti1421 Please work on the assigned issue within a week else this Issue will be closed.

[2020-12-11 14:23] HariKrishnaShivs commented on #247
I have added the code for the issue which is assigned to me.Please take a review at it and merge into the master.

[2020-12-12 13:19] HariKrishnaShivs commented on #247
@Yashica7

[2020-12-13 08:57] kaushalendra-pandey opened #1609 "1481. Least Number of Unique Integers after K Removals | 1481 | Python"
Least Number of Unique Integers after K Removals.

**What will change** - I will add a new code to the python folder

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Reque

[2020-12-15 07:09] akrish4 opened #1611 "New DSA Repository | C++ , Java , Python"
## **Data Strucutres and Algorithms repository** -
 Aa new repository for DSA.
**What will change** - DSA programs and problems can be made in a new DSA repo

### Type of Issue - new feature
Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not releva

[2020-12-16 09:21] zjzh commented on #806
Hello, @drewmich,  I see you assign issue  label, why could you assign issue label?  Is it the person who is the member of the repository or is granted the permission can label it?

[2020-12-17 06:31] AnshTandon0 opened #1612 "327 | Armstrong Number | C++"
## **`Title`** - C++ code for 327. Armstrong Number

**What will change** -Adding C++ code for leetcode problem 327

### Type of Issue - Adding New Code

### Programming Language - C++

[2020-12-17 06:31] AnshTandon0 commented on #1612
please assign this to me

[2020-12-20 05:37] JayantGoel001 opened #1613 "ArraySub | C++"
## **`ArraySub`** -

**What will change** -

### Type of Issue - Use of  Deque and sliding window

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
-

[2020-12-23 15:08] vvishnu17 commented on #1613
Please assign this to me

[2020-12-24 08:45] juhikushwah opened #1614 "1191 | K-Concatenation Maximum Sum | C++"
## **`Title`** - C++ code for 1191. K-Concatenation Maximum Sum

**What will change** - Adding C++ code for leetcode problem 1191

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

[2020-12-24 08:45] juhikushwah commented on #1614
Please assign this to me.

[2020-12-24 14:16] vipul-2003 commented on #1613
I am beginner there but as i know that it's my first program .So please give a chance to prove my self .

[2020-12-24 15:20] vipul-2003 commented on #1612
Please assign this to me .

[2020-12-24 15:24] vipul-2003 commented on #1598
Please assign this to me

[2020-12-24 15:25] vipul-2003 commented on #1596
Please assign this to me

[2020-12-24 15:27] vipul-2003 commented on #1575
Please assign this to me

[2020-12-24 18:23] nisthajnn commented on #1612
please assign this to me

[2020-12-25 04:27] vipul-2003 commented on #297
@SSKale1 PLEASE ASSIGN THIS TO ME AS ASSIGNED GUY WAS NOT WORKING ON THIS.

[2020-12-25 04:43] vipul-2003 commented on #1588
Please assign this to me 🤗

[2020-12-27 21:46] juhikushwah opened #1615 "1171 | Remove Zero Sum Consecutive Nodes from Linked List | C++"
## **`Title`** - C++ code for 1171. Remove Zero Sum Consecutive Nodes from Linked List

**What will change** - Adding C++ solution for leetcode problem 1171

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-12-27 21:46] juhikushwah commented on #1615
Please assign this to me.

[2020-12-28 07:39] aditya28sarin commented on #1615
Hey, can you assign this issue to me, I have worked on this problem

[2020-12-29 08:17] juhikushwah opened #1616 "7 | Reverse Integer | C++"
## **`Title`** - Code correction for 7. Reverse Integer

**What will change** - Adding corrected C++ code for leetcode problem 7

### Type of Issue -

- [x] Improving Code

### Programming Language

- [x] C++

[2020-12-29 08:18] juhikushwah commented on #1616
Please assign me this issue.

The original code should have been in C++, but it is in Java.

[2020-12-29 12:55] rjraj01 commented on #1616
Hey, I am new to open source, Can i contribute to this issue

[2020-12-29 13:24] Rohit-FSD commented on #1616
@SHY-Corp please assign me this issue , I'm kinda new to open source.

[2020-12-30 20:42] juhikushwah opened #1618 "71 | Simplify Path | C++"
## **`Title`** - C++ code for 71. Simplify Path

**What will change** - Adding C++ code for leetcode problem 71

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-12-30 20:42] juhikushwah commented on #1618
Please assign this to me.

[2020-12-31 09:12] juhikushwah opened #1619 "1027 | Longest Arithmetic Subsequence | C++"
## **`Title`** - C++ code for 1027. Longest Arithmetic Subsequence

**What will change** - Adding C++ code for leetcode problem 1027

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-12-31 09:13] juhikushwah commented on #1619
Please assign this to me.

[2020-12-31 09:14] juhikushwah commented on #1616
@Rohit-FSD  @rjraj01 you need to create your own issues and then ask the admins to assign you the same.

[2020-12-31 09:17] juhikushwah commented on #1615
@aditya28sarin Hi. You need to create your own issues and then ask the admins to assign it to you. Read the guidelines for more information.

[2020-12-31 09:21] juhikushwah opened #1620 "117 | Populating Next Right Pointers in Each Node II | C++"
## **`Title`** - C++ code for 117. Populating Next Right Pointers in Each Node II

**What will change** - Adding C++ code for leetcode problem 117

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-12-31 09:22] juhikushwah commented on #1620
@SSKale1 Please assign this to me.

[2020-12-31 09:28] juhikushwah opened #1621 "145 | Binary Tree Postorder Traversal | C++"
## **`Title`** - C++ code for 145. Binary Tree Postorder Traversal

**What will change** - Adding C++ code for leetcode problem 145

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-12-31 09:29] juhikushwah commented on #1621
@SSKale1 Please assign this to me.

[2020-12-31 09:32] juhikushwah opened #1622 "166 | Fraction to Recurring Decimal | C++"
## **`Title`** - C++ code for 166. Fraction to Recurring Decimal

**What will change** - Adding C++ code for leetcode problem 166

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-12-31 09:32] juhikushwah commented on #1622
Please assign this to me.

[2021-01-05 06:08] #1613 closed

[2021-01-12 00:17] ayushbisht2001 opened #1625 "1 |Optimizing TwoSum Code | C++"
## Title - Optimizing Code for 1 , Two Sum

 What will change - some piece of codes

### Type of issue

- [x] Improving Code

### Programming Language

- [x] C++

[2021-01-12 00:31] ayushbisht2001 opened #1626 "405 | Convert a Number to Hexadecimal | C++"
## **`Title`** - C++ code for 405 , Convert a Number to Hexadecimal

**What will change** - Adding C++ code for leetcode problem 405

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

[2021-01-12 05:53] Gaurav-20 commented on #1626
I have added the code, please do check that

[2021-01-12 05:54] Gaurav-20 commented on #1625
I have optimized the complexity from O(n^2) to O(n)

[2021-01-12 06:20] ayushbisht2001 opened #1628 "318 | Maximum Product of Word Lengths| C++"
## **`Title`** - C++ code for 318 , Maximum Product of Word Lengths

**What will change** - Adding C++ code for leetcode problem 318

### Type of Issue -

- [x] Adding New Code

### Programming Language
- [x] C++

[2021-01-12 06:43] ayushbisht2001 commented on #1626
Checkout the contribution guidelines ...... Becoz I didn't found any issue related to problem 405

[2021-01-12 07:19] Gaurav-20 commented on #1626
The problem 405 was missing earlier so I added the same.

[2021-01-13 03:12] juhikushwah commented on #1625
@ayushbisht2001 Hi. Just a heads up. When you create and issue and want the admins to assign it to you, you need to mention this in the comments, coz if you don't and someone else does, the issue is assigned to them, irrespective of who creates it.

[2021-01-13 03:23] ayushbisht2001 commented on #1628
please assign this to me

[2021-01-13 03:24] ayushbisht2001 commented on #1625
thanks a lot @juhikushwah

[2021-01-13 03:24] ayushbisht2001 commented on #1625
please assign this to me

[2021-01-13 03:25] ayushbisht2001 commented on #1626
@SSKale1 Please assign this to me.

[2021-01-19 13:48] pawki07 commented on #1609
Please assign this issue to me.

[2021-03-08 12:03] Tarun200999 commented on #1621
Please assign this to me

[2021-06-12 10:15] #1489 closed

[2021-06-22 18:40] juhikushwah opened #1630 "242 | Valid Anagram | C++"
## **`Title`** - C++ solution for Valid Anagram

**What will change** - Adding new code for leetcode problem 242

### Type of Issue -

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

[2021-06-22 18:40] juhikushwah commented on #1630
Please assign this issue to me.

[2021-08-25 12:56] suhasthegame commented on #1630
Hi,
I would love to work on this issue. Can you assign it to me, if it's not taken?

[2021-10-05 20:57] JOKUE2002 opened #1633 "175 | Combine two tables | SQL"
## **Combine two tables in SQL** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [ ] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get a

[2021-10-11 09:18] JOKUE2002 opened #1637 "182 | Duplicate Emails | SQL"
## **`Problem 182, Duplicate Emails in SQL`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [ ] Java
- [x] SQL

### Self Check

- Ask for issue assignment and

[2021-10-11 09:19] #1637 closed

[2021-10-11 09:20] JOKUE2002 opened #1638 "183 | Customer who never order | SQL"
## **`183 Customers who never order in sql`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [ ] Java
- [x] SQL

### Self Check

- Ask for issue assignment and

[2021-10-11 09:28] #1638 closed, assigned to JOKUE2002

[2021-10-11 09:34] JOKUE2002 opened #1640 "196 | Delete duplicate Emails | SQL"
## **`196. Delete duplicate Emails (sql)`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [ ] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wa

[2021-10-11 09:38] #1640 closed, assigned to JOKUE2002

[2021-10-11 09:48] JOKUE2002 opened #1642 "627 | Swap Salary | SQL"
## **`627 Swap Salary (sql)`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [ ] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get ass

[2021-10-11 09:51] #1642 closed, assigned to JOKUE2002

[2021-10-14 19:10] NicholasHebert opened #1645 "279 | Perfect Squares | Python"
## **`279 | Perfect Squares | Python`**

**What will change** - Add the solution for problem 279. Perfect Squares in Python

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pul

[2021-10-14 19:17] NicholasHebert commented on #1645
Please assign me this issue

[2021-10-14 19:20] NicholasHebert opened #1646 "450 | Delete Node in a BST | Python"
## **`450 | Delete Node in a BST | Python`** -

**What will change** - Adding solution for problem 450. Delete Node in a BST in Python

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before

[2021-10-14 19:21] NicholasHebert opened #1647 "529 | Minesweeper | Python"
## **`529 | Minesweeper | Python`** -

**What will change** - Adding solution for problem 529. Minesweeper in Python

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Reque

[2021-10-14 19:22] NicholasHebert commented on #1647
Please assign this issue to me

[2021-10-14 19:23] NicholasHebert opened #1648 "593 | Valid Square | Python"
## **`593 | Valid Square | Python`** -

**What will change** - Adding solution for problem 593. Valid Square in Python

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Req

[2021-10-14 22:37] HansaHalim opened #1649 "295 | Find Median from Data Stream | C++"
## **`Find Median from Data Stream`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code`

[2021-10-14 22:38] HansaHalim opened #1650 "154 | Find Minimum in Rotated Sorted Array II | C++"
## **`Find Minimum in Rotated Sorted Array II`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readabil

[2021-10-14 22:38] HansaHalim commented on #1650
Please assign me this issue :)

[2021-10-14 22:44] HansaHalim opened #1651 "829 | Consecutive Numbers Sum | C++"
## **`Consecutive Numbers Sum`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title

[2021-10-14 22:46] HansaHalim opened #1652 "542 | 01 Matrix | C++"
## **`01 Matrix`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Descrip

[2021-10-14 22:46] HansaHalim commented on #1652
Please assign me this issue :)

[2021-10-16 13:58] sickmick69 commented on #1649
Kindly assign me this issue @HansaHalim

[2021-10-23 13:12] varian97 opened #1658 "11 | Container with Most Water| Python"
## **`Container with Most Water`** -

**What will change** Adding solution for 11. Container with Most Water using python

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull

[2021-10-25 17:41] #1651 closed, assigned to HansaHalim

[2021-10-25 17:44] #1650 closed, assigned to HansaHalim

[2021-10-25 20:47] #1393 closed, assigned to Anirgb00

[2021-10-30 01:53] tta13 opened #1662 "28 | Implement strStr() | Python"
## **`Implement strStr()`** -

**Add solution for problem 28 using the Python** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper f

[2021-10-30 01:53] tta13 commented on #1662
Please assign this issue to me :)

[2021-10-30 02:05] amandascm opened #1663 "942 | DI String Match | C++"
## **`DI String Match`** -

**What will change** - Add solution for problem 942. DI String Match in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your f

[2021-10-30 02:05] amandascm commented on #1663
Please assign this issue to me

[2021-10-30 02:10] tta13 opened #1664 "66 | Plus One | Python"
## **`Plus One`** -

**What will change** - Add Solution for problem 66. Plus One in Python.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in t

[2021-10-30 02:10] tta13 commented on #1664
I would like an assign, please.

[2021-10-30 02:55] amandascm opened #1665 "944 | Delete Columns to Make Sorted | C++"
## **`Delete Columns to Make Sorted`** -

**What will change** - Add solution for problem 944. Delete Columns to Make Sorted in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before makin

[2021-10-30 02:55] amandascm commented on #1665
Please assign this issue to me :)

[2021-10-30 04:02] amandascm opened #1666 "953 | Verifying an Alien Dictionary | C++"
## **`Verifying an Alien Dictionary`** -

**What will change** - Add solution for problem 953. Verifying an Alien Dictionary in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before makin

[2021-10-30 04:05] amandascm commented on #1666
please assign this issue to me :)

[2021-10-30 04:32] amandascm opened #1667 "961 | N-Repeated Element in Size 2N Array | C++"
## **`N-Repeated Element in Size 2N Array`** -

**What will change** - Add solution for problem 961. N-Repeated Element in Size 2N Array in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it

[2021-10-30 04:32] amandascm commented on #1667
please assign this issue to me

[2021-10-30 15:24] tta13 opened #1673 "953 | Verifying an Alien Dictionary | Python"
## **`Title`** - Verifying an Alien Dictionary

**What will change** - Add solution for problem 953 in Python.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
-

[2021-10-30 15:24] tta13 commented on #1673
Can I have this issue assigned to me, please?

[2021-10-30 16:20] tta13 opened #1674 "37 | Sudoku Solver | Python"
## **`Title`** - Sudoku Solver

**What will change** - Add solution for problem 37 in Python.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in

[2021-10-30 16:20] tta13 commented on #1674
Can I get assigned to this issue, please?

[2021-10-31 08:03] #1662 closed

[2021-10-31 08:08] #1663 closed

[2021-10-31 08:09] #1665 closed

[2021-10-31 19:57] #1664 closed

[2021-10-31 19:59] #1674 closed

[2021-10-31 20:04] #1673 closed

[2021-10-31 20:07] #1667 closed

[2021-10-31 20:07] #1666 closed

[2021-10-31 23:59] #1579 closed

[2021-11-01 16:18] vipul-2003 opened #1680 "73 | Set Matrix Zeroes | C++"
## **`Title`** - Set Matrix

**What will change** -
I would like to provide the solution to **`SET MATRIX ZEROES `**

Link :: [SET MARTIX ZEROES](https://leetcode.com/problems/set-matrix-zeroes/description/)

[code]

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

[2021-11-04 16:40] nilnguyenkl commented on #1680
Please assign this to me. Thanks

[2021-11-05 15:52] vipul-2003 commented on #1680
@nilnguyenkl  you may create new issue ..... 😶

[2021-11-06 22:07] juhikushwah commented on #1680
@vipul-2003 issues are assigned to those who ask for it first. Please read the contributions guideline.

[2021-11-07 02:14] vipul-2003 commented on #1680
Hey thats not good , i have read the contributions rules and even also requested for assigning me clearly scene in large .... 😶😐

[2021-11-07 02:15] vipul-2003 commented on #1680
Look at the issue raised

[2021-11-07 06:56] juhikushwah commented on #1680
@vipul-2003 when you create an issue, you also need to mention it in the comments that you want the issue to be assigned to you. You can look at all the previous issues. They were assigned to those who mentioned it first. It doesn't matter who raised that issue!

[2021-11-07 06:57] #1658 closed

[2021-11-07 10:05] vipul-2003 commented on #1680
No worry ....

[2021-11-07 17:23] vipul-2003 opened #1682 "1773 | Count Items Matching a Rule | C++"
## **`Title`** - Count Items Matching a Rule

**What will change** -
I would like to provide the solution to **`Counting Items Matching A Rule `**

Link :: [Count Items Matching A Rule](https://leetcode.com/problems/count-items-matching-a-rule/)

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that ar

[2021-11-07 17:24] vipul-2003 commented on #1682
Please assign it to me @juhikushwah

[2021-11-07 20:13] #1680 closed

[2021-11-09 18:22] vipul-2003 opened #1684 "367 | Valid Perfect Square | C++"
## **`Title`** -  [Valid Perfect Square](https://leetcode.com/problems/valid-perfect-square/)

**What will change** - Add solution to this question

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [X] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment

[2021-11-09 18:22] vipul-2003 commented on #1684
please assign it to me @juhikushwah

[2021-11-10 02:02] NgoQuocBao1010 commented on #1684
Hello, can I take this issue?

[2021-11-10 03:14] vipul-2003 commented on #1684
Sorry ,  I have created the code for it just one step away from creating pr

[2021-11-10 03:19] juhikushwah commented on #1684
@NgoQuocBao1010 you can create your own issues and **mention it in the comments section** that you want them to be assigned. Currently, all issues are taken up. Generally, issues are assigned to the people who 1st mention it in the comments section irrespective of who created the issue. Please read the contributions guideline for more information.

[2021-11-10 05:53] #1595 closed

[2021-11-10 22:11] #1682 closed

[2021-11-11 03:26] #1621 closed

[2021-11-11 16:18] vipul-2003 commented on #1684
have a look at the code @juhikushwah  and merge into main
thanks :heart:

[2021-11-14 22:56] #1684 closed

[2021-11-15 14:54] vipul-2003 commented on #1612
@juhikushwah  please assign it to me

[2021-11-15 14:55] vipul-2003 commented on #1588
@juhikushwah  please assign it to me

[2021-11-15 19:46] vipul-2003 commented on #1612
i am working on it thanks ❤️

[2021-11-15 19:47] vipul-2003 commented on #1588
i am working on this thanks :heart:

[2021-11-17 17:10] vipul-2003 commented on #1612
merge request #1688
Have a look at this,
 thanks ❤️

[2021-11-17 19:48] vipul-2003 commented on #1588
have a look @juhikushwah

[2021-11-18 19:43] #1588 closed

[2021-11-19 02:51] vipul-2003 commented on #1626
Please assign it to me @juhikushwah

[2021-11-19 19:06] juhikushwah commented on #1612
@vipul-2003 your solution is fine. I think this is a premium problem. It's not 372 or 327. I just checked, the problem number is 1134. Enclosing a link for your reference: https://leetcode.ca/all/1134.html
Please rename it to **1134.ArmstrongNumber.cpp**. I don't want to mess up with your existing branch so make your changes accordingly and push them.

[2021-11-20 03:20] vipul-2003 commented on #1612
Ok , i will rename it
Thanks ♥️

[2021-11-24 07:41] #1612 closed

[2021-11-24 08:14] vipul-2003 commented on #1626
Hey ,@juhikushwah

Please provide some detail for this if possible  like filename, leetcode question link ...?

[2021-11-25 00:36] juhikushwah commented on #1626
@vipul-2003 all the details are in the issue headline. Its not a premium problem. You will be able to see the problem description on leetcode.

[2021-11-25 03:06] #1611 closed

[2021-11-26 19:33] #1598 closed

[2021-11-30 18:55] vipul-2003 commented on #1626
have a look at this @juhikushwah

[2021-12-02 19:38] #1626 closed

[2021-12-02 19:49] vipul-2003 commented on #1626
Give me few hours by next day the code will be at right position in c++ folder

[2021-12-02 20:04] juhikushwah commented on #1626
@vipul-2003 While merging, I did not realize it's in the wrong folder. Thank you for the update! And yes, please do make the relevant changes!

[2021-12-02 20:08] juhikushwah commented on #1626
Actually Vipul, the solution to this problem already exists in the C++ folder. If you think your solution is better than that one, you can push your code into that file and comment out the previous solution too, thereby mentioning that it's an optimal solution! We have this repository for solving problems as well as adding better/alternative solutions to already existing problems.

[2021-12-03 10:27] vipul-2003 commented on #1626
Ok, i will review it ....

[2021-12-10 07:19] vipul-2003 opened #1694 "1351 | Count Negative Numbers in a Sorted Matrix| C++"
## **`Title`** -  Optimised Code  / Improved Solution

**What will change** -   ```Adding solution for the code and comment the previous code```

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment an

[2021-12-10 07:19] vipul-2003 commented on #1694
please assign it to me @juhikushwah

[2021-12-12 14:36] vipul-2003 commented on #1694
Have a look 👀

[2021-12-28 08:34] #1694 closed

[2022-01-16 02:45] juhikushwah opened #1696 "342 | Power of Four | C++"
## **`Title`** - C++ solution for 342. Power of Four

**What will change** - Adding optimal solution for the above problem.

### Type of Issue -

- [x] Adding New Code

### Programming Language
- [x] C++

[2022-01-16 02:51] #1696 closed

[2022-01-27 20:27] josh-dp commented on #1615
Hi, can I be assigned this issue? It seems to not have been completed.

[2022-02-01 23:51] #1615 closed

[2022-03-03 07:56] juhikushwah opened #1699 "413 | Arithmetic Slices | C++"
## **`Title`** - Adding code for 413. Arithmetic Slices

**What will change** - Adding C++ code for leetcode problem 413

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability

[2022-03-03 08:42] #1699 closed

[2022-03-05 04:58] juhikushwah opened #1701 "740. | Delete and Earn | C++"
## **`Title`** - Adding code for 740. Delete and Earn

**What will change** - Adding C++ code for leetcode problem 740

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Reques

[2022-03-05 05:01] #1701 closed

[2022-03-06 01:01] juhikushwah opened #1703 "1359 | Count All Valid Pickup and Delivery Options | C++"
## **`Title`** - Adding C++ code for 1359. Count All Valid Pickup and Delivery Options

**What will change** - Adding C++ code for leetcode problem 1359

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docume

[2022-03-06 06:19] #1703 closed

[2022-03-06 20:50] juhikushwah opened #1705 "1523 | Count Odd Numbers in an Interval Range | C++"
## **`Title`** - Adding C++ code for 1523. Count Odd Numbers in an Interval Range

**What will change** - Adding C++ code for leetcode problem 1523

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentati

[2022-03-06 20:57] #1705 closed

[2022-03-06 21:30] juhikushwah opened #1707 "1491 | Average Salary Excluding the Minimum and Maximum Salary | C++"
## **`Title`** - Adding C++ code for 1491. Average Salary Excluding the Minimum and Maximum Salary

**What will change** - Adding solution for leetcode problem 1491

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code`

[2022-03-06 21:37] #1707 closed

[2022-03-06 21:43] juhikushwah opened #1709 "191 | Number of 1 Bits | C++"
## **`Title`** - Adding C++ code for 191. Number of 1 Bits

**What will change** - Adding code for leetcode problem 191

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
-

[2022-03-06 21:45] juhikushwah opened #1710 "1281 | Subtract the Product and Sum of Digits of an Integer | C++"
## **`Title`** - Adding C++ code for 1281. Subtract the Product and Sum of Digits of an Integer

**What will change** - Adding code for leetcode problem 1281

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `D

[2022-03-07 09:04] #1709 closed

[2022-03-07 09:12] #1710 closed

[2022-03-07 09:16] juhikushwah opened #1713 "976 | Largest Perimeter Triangle | C++"
## **`Title`** - Adding C++ code for 976. Largest Perimeter Triangle

**What will change** - Adding solution for leetcode problem 976

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better

[2022-03-07 09:18] juhikushwah opened #1714 "1779 | Find Nearest Point That Has the Same X or Y Coordinate | C++"
## **`Title`** - Adding C++ code for 1779. Find Nearest Point That Has the Same X or Y Coordinate

**What will change** - Adding solution for leetcode problem 1779

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code`

[2022-03-08 04:23] #1713 closed

[2022-03-08 04:30] #1714 closed

[2022-03-08 04:34] juhikushwah opened #1717 "1822 | Sign of the Product of an Array | C++"
## **`Title`** - Adding C++ code for 1822. Sign of the Product of an Array

**What will change** - Adding solution for leetcode problem 1822

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for

[2022-03-08 04:35] juhikushwah opened #1718 "1502 | Can Make Arithmetic Progression From Sequence | C++"
## **`Title`** - Adding C++ code for 1502. Can Make Arithmetic Progression From Sequence

**What will change** - Adding solution for leetcode problem 1502

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docu

[2022-03-08 04:38] juhikushwah opened #1719 "1790 | Check if One String Swap Can Make Strings Equal | C++"
## **`Title`** - Adding C++ code for 1790. Check if One String Swap Can Make Strings Equal

**What will change** - Adding solution for leetcode problem 1790

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Do