[2020-10-18 08:57] rituraj735 opened #568 "1170 | Compare Strings by Frequency of the Smallest Character | C++"
## **`Title`** - Compare Strings by Frequency of the Smallest Character

**What will change** - C++ solution for the problem will be added

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it befor

[2020-10-18 08:57] DEBADRIBASAK commented on #513
I have already made a PR. Please assign this issue and approve my request

[2020-10-18 08:58] rituraj735 commented on #568
Please assign me this task 😄

[2020-10-18 09:06] rituraj735 opened #569 "1588 | Sum of All Odd Length Subarrays | C++"
## **`Title`** - Sum of All Odd Length Subarrays

**What will change** - C++ solution for the problem will be added

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self

[2020-10-18 09:07] jaisaikuntala1 opened #570 "31 | Next Permutation | C++"
## **`Title`** - Next Permutation

**What will change** - Adding code for a new problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the prope

[2020-10-18 09:07] SaShaShady commented on #569
Pls assign this to me

[2020-10-18 09:07] jaisaikuntala1 commented on #570
Please assign this problem to me

[2020-10-18 09:08] rituraj735 commented on #569
Feel free to assign me the issue @Yashica7 @SSKale1

[2020-10-18 09:15] nyctophiliacme opened #571 "236 | Lowest Common Ancestor of a Binary Tree | C++"
## **`Lowest Common Ancestor of a Binary Tree`** -

**What will change** - Adding code for a new problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your

[2020-10-18 09:17] nyctophiliacme commented on #571
@SSKale1 Can you please assign it to me.

[2020-10-18 09:21] rituraj735 opened #572 "1589 | Maximum Sum Obtained of Any Permutation | C++"
## **`Title`** - Maximum Sum Obtained of Any Permutation

**What will change** -  A C++ code will be added afresh

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
-

[2020-10-18 09:22] rituraj735 commented on #572
If you could assign me the issue, that'd be great.

[2020-10-18 09:26] rks2607 opened #573 "144 | Binary Tree Preorder Traversal | C++"
## **`Binary Tree Preorder Traversal`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code

[2020-10-18 09:26] rks2607 commented on #573
Please assign this to me

[2020-10-18 09:27] jaisaikuntala1 opened #575 "200 | Number of Islands | C++"
## **`Title`** - Number of Islands

**What will change** - A new code written in C++ will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file

[2020-10-18 09:28] jaisaikuntala1 commented on #575
I'll be happy to take up this problem.

[2020-10-18 09:32] jaisaikuntala1 opened #576 "102 l Binary Tree Level Order Traversal | C++"
## **`Title`** - Binary Tree Level Order Traversal

**What will change** - A new code will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file

[2020-10-18 09:34] jaisaikuntala1 commented on #576
Assign this to me and I'll get the job done!

[2020-10-18 09:40] rks2607 opened #577 "167 | Two Sum II - Input array is sorted | C++"
## **`Two Sum II - Input array is sorted`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean

[2020-10-18 09:41] rks2607 commented on #577
Please assign me this task

[2020-10-18 09:51] colmanfranco commented on #421
I can refactor all the if's statements, make it cleaner.

[2020-10-18 10:08] sailok opened #580 "208 | Implement Trie (Prefix Tree) | Python"
## **`Implement Trie (Prefix Tree)`**

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code`

[2020-10-18 10:09] abhishtjoshi commented on #565
@SSKale1 @Yashica7 can you pls assign me this one

[2020-10-18 10:09] abhishtjoshi commented on #576
@SSKale1 @Yashica7 can you pls assign me this one

[2020-10-18 10:09] abhishtjoshi commented on #575
@SSKale1 @Yashica7 can you pls assign me this one

[2020-10-18 10:09] sailok commented on #580
Can you assign this one to me, I want to do it.

[2020-10-18 10:09] abhishtjoshi commented on #573
@SSKale1 @Yashica7 can you pls assign me this one

[2020-10-18 10:10] abhishtjoshi commented on #571
@SSKale1 @Yashica7 can you pls assign me this one

[2020-10-18 10:11] sailok opened #581 "368 | Largest Divisible Subset | Python"
## **`Largest Divisible Subset`**

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and

[2020-10-18 10:12] sailok commented on #581
@Yashica7, can you assign this to me.

[2020-10-18 10:13] jatin831 commented on #513
So assign some issue for me. I will do it.

[2020-10-18 10:19] abhay27chauhan opened #582 "322 | Coin Change | Java"
## **`Title`** - Coin Change

**What will change** - Java solution will be added for the problem

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Descri

[2020-10-18 10:21] abhay27chauhan opened #583 "122 | Best Time to Buy and Sell Stock II | Java"
## **`Title`** - Best Time to Buy and Sell Stock II

**What will change** - Java solution will be added for the problem

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
-

[2020-10-18 10:23] abhay27chauhan opened #584 "122 | Best Time to Buy and Sell Stock II | C++"
## **`Title`** - Best Time to Buy and Sell Stock II

**What will change** - Java solution will be added for the problem

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- A

[2020-10-18 10:24] abhay27chauhan commented on #584
@SSKale1 @Yashica7 can you pls assign me this one

[2020-10-18 10:24] abhay27chauhan commented on #583
@SSKale1 @Yashica7 can you pls assign me this one

[2020-10-18 10:24] abhay27chauhan commented on #582
@SSKale1 @Yashica7 can you pls assign me this one

[2020-10-18 10:31] aditya-gupta-i opened #585 "21 | Merge Two Sorted Lists | C++"
## **`Title`** - Merge Two Sorted Lists

**What will change** - C++ solution will be added for the problem

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title`

[2020-10-18 10:33] aditya-gupta-i commented on #585
@Yashica7 @SSKale1 Could you kindly assign me this problem?

[2020-10-18 10:38] Nyctophiliac1918 opened #586 "35 | Search Insert Position | C++"
## **`Title`** - Search Insert Position

**What will change** - A simple, new C++ solution will be added.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` a

[2020-10-18 10:39] Nyctophiliac1918 commented on #586
@Yashica7 @SSKale1 Please assign this issue to me!

[2020-10-18 10:43] Nyctophiliac1918 opened #587 "43 | Multiply Strings (Medium) | C++"
## **`Title`** - Multiply Strings (Medium)

**What will change** - A new C++ solution will be added.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `D

[2020-10-18 10:44] Nyctophiliac1918 commented on #587
@Yashica7 @SSKale1 please assign this issue to me!

[2020-10-18 10:48] pranshta opened #588 "2 | Add Two Numbers(Medium) | C++"
## **`Title`** -Add Two Numbers(Medium)

**What will change** - A new C++ solution will be added.

### Type of Issue -
- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Descr

[2020-10-18 10:49] pranshta commented on #588
@Yashica7 @SSKale1   Please assign this issue to me

[2020-10-18 11:02] chiragoyal opened #589 "7 | sort | C++"
## **`sort`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [1] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [1] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befor

[2020-10-18 11:04] Akashsahu1998 commented on #589
@Yashica7 @SSKale1 please assign this issue to me!

[2020-10-18 11:08] Akashsahu1998 opened #590 "12 | IntegerToRoman | C++"
## **`Title`** -

**What will change** - A simple, new C++ solution will be added.

### Type of Issue -
Adding New Code

### Programming Language
C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in th

[2020-10-18 11:08] Akashsahu1998 commented on #590
@Yashica7 @SSKale1 please assign this issue to me.

[2020-10-18 11:21] Akashsahu1998 opened #592 "1295 | Find_Number_with_even | C++"
## **`Title`** -

**What will change** -
A simple, new C++ solution will be added.

### Type of Issue -
Adding New Code

### Programming Language
C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in th

[2020-10-18 11:21] Akashsahu1998 commented on #592
@Yashica7 @SSKale1 Please assign this issue to me.

[2020-10-18 11:21] nikhil05-code commented on #588
Please assign it to me.

[2020-10-18 11:21] nikhil05-code commented on #589
Please assign it to me.

[2020-10-18 11:22] nikhil05-code commented on #587
Please assign it to me.

[2020-10-18 11:22] nikhil05-code commented on #585
Please assign it to me.

[2020-10-18 11:23] nikhil05-code commented on #584
Please assign it to me.

[2020-10-18 11:24] nikhil05-code commented on #583
Please assign it to me.

[2020-10-18 11:24] nikhil05-code commented on #569
Please assign it to me.

[2020-10-18 11:26] nikhil05-code commented on #546
Please assign it to me.

[2020-10-18 11:28] nikhil05-code commented on #582
Please assign it to me.

[2020-10-18 11:32] swetakyada commented on #569
Please Assign it to me.

[2020-10-18 11:40] swetakyada commented on #586
Please Assign it to me

[2020-10-18 11:41] swetakyada commented on #585
Can you please assign this problem to me?

[2020-10-18 11:51] pratik-2020 commented on #592
@Akashsahu1998  Please assign me this issue

[2020-10-18 11:55] Nyctophiliac1918 opened #594 "125 | Valid Palindrome | C++"
## **`Title`** - Valid Palindrome

**What will change** - A simple and new C++ solution will be added.

### Type of Issue -

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your fil

[2020-10-18 11:55] Nyctophiliac1918 commented on #594
@Yashica7 @SSKale1 Please assign this issue to me!

[2020-10-18 11:57] ngandhi369 opened #595 "1480 | Running Sum of 1d Array | C++"
## **`Title`** - 1480. Running Sum of 1d Array

**What will change** - Add a new cpp file

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-10-18 11:57] Nyctophiliac1918 opened #596 "137 | Single Number II (Medium) | C++"
## **`Title`** - Single Number II

**What will change** - A new C++ solution will be added.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Descriptio

[2020-10-18 11:58] Nyctophiliac1918 commented on #596
@Yashica7 @SSKale1 Please assign this issue to me!

[2020-10-18 12:00] Nyctophiliac1918 opened #597 "169 | Majority Element | C++"
## **`Title`** - Majority Element

**What will change** - A new C++ solution will be added.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Descriptio

[2020-10-18 12:00] Nyctophiliac1918 commented on #597
@SSKale1 @Yashica7 Please assign this issue to me!

[2020-10-18 12:05] rohitsingh2410 opened #599 "20 | Valid Parenthesis | C++"
## 20. Valid Parentheses

**A new C++ solution will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and

[2020-10-18 12:05] rohitsingh2410 commented on #599
Hi Please assign it to me.

[2020-10-18 12:12] bhantsi commented on #531
I can do this, assign it to me

[2020-10-18 12:15] arpit7714 commented on #585
issue already present #542

[2020-10-18 12:45] freakcap opened #602 "1310 | XOR Queries of a Subarray | C++"
## **`Title`** - XOR Queries of a Subarray

**What will change** - A well documented and clean C++ solution will be added.

### Type of Issue -

- [x] Adding New Documented Code

### Programming Language

- [x] C++

[2020-10-18 12:47] freakcap commented on #602
Waiting for assignment.

[2020-10-18 13:17] pranshta commented on #594
@Yashica7  I would like to do this.

[2020-10-18 13:20] thebinarybot opened #604 "39 | Combination Sum | Python"
## **`Title`** - Combination Sum

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the fi

[2020-10-18 13:29] CRJain commented on #531
Hey, can you please assign this issue to me?

[2020-10-18 13:32] RahulG606 commented on #595
Hey @ngandhi369. I am interested in doing it.Could you please assign it to me?

[2020-10-18 13:34] arpitg24 commented on #594
Can you please assign this issue to me?

[2020-10-18 13:50] sb19 commented on #410
please assign this task to me.

[2020-10-18 13:52] sb19 commented on #604
please assign this task to me..thanks

[2020-10-18 13:55] sb19 commented on #594
@Yashica7 @SSKale1 please assign this issue to me...thanks.

[2020-10-18 13:56] vivekray903 opened #608 "65| Valid Number | C++"
## **`Valid Number `** -

**I will add this missing program in the repository** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper fold

[2020-10-18 13:56] thebinarybot opened #609 "41 | First Missing Positive | Python"
## **`Title`** - First Missing Positive

**What will change** -
Adding new python solution file for Q 41 - First Missing Positive

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Ad

[2020-10-18 13:57] sb19 commented on #609
please assign this issue to me,thanks.

[2020-10-18 14:02] sb19 commented on #555
Hi, i can do solve this issue. please assign this to me.

[2020-10-18 14:03] sb19 commented on #546
please assign this issue to me.

[2020-10-18 14:05] nikhil05-code commented on #609
Please assign it to me.

[2020-10-18 14:06] nikhil05-code commented on #608
Please assign it to me.

[2020-10-18 14:06] sb19 commented on #508
@SSKale1 @Yashica7 please assign this issue to me ...happy to provide the solution.

[2020-10-18 14:06] ManviGoel26 opened #610 "14 | Longest Common Prefix | C++"
## Longest Common Prefix

**What will change** - Add the code to the problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
-

[2020-10-18 14:06] nikhil05-code commented on #599
Please assign it to me.

[2020-10-18 14:06] ManviGoel26 commented on #610
Can I contribute to this?

[2020-10-18 14:08] nikhil05-code commented on #610
Please assign it to me.

[2020-10-18 14:14] sb19 commented on #478
@SSKale1 @Yashica7
can you please give the path where problem description is available.

[2020-10-18 14:14] Sumanya312 commented on #610
Could you please assign this to me

[2020-10-18 14:58] vidhya001 opened #612 "235 |Lowest Common Ancestor of a Binary Search Tree | C++"
## **`Title`** -Lowest Common Ancestor of a Binary Search Tree

**What will change** -Add C++ code to find Lowest Common Ancestor of a Binary Search Tree

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assig

[2020-10-18 14:58] vidhya001 commented on #612
please assign this to me

[2020-10-18 15:06] #475 closed

[2020-10-18 15:09] #409 closed

[2020-10-18 15:11] #435 closed

[2020-10-18 15:13] #463 closed

[2020-10-18 15:14] #465 closed

[2020-10-18 15:16] #445 closed

[2020-10-18 15:18] #508 closed

[2020-10-18 15:21] #513 closed

[2020-10-18 15:30] #470 closed

[2020-10-18 15:31] surya-x commented on #594
@Yashica7 @SSKale1 Please assign this to me. I can implement it on both Python and Java.

[2020-10-18 15:32] #506 closed

[2020-10-18 15:47] kaalbhairav01 opened #613 "1234 | Replace the Substring for Balanced String | C++"
# TITLE

### Replace the Substring for Balanced String

**What will change** -Add C++ code to find Lowest Common Ancestor of a Binary Search Tree

**Type of issue**
:white_circle: Adding new Code

**Programming Language**
:white_circle: Adding new Code

[2020-10-18 15:47] #497 closed

[2020-10-18 15:52] #531 closed

[2020-10-18 15:57] #485 closed

[2020-10-18 15:58] #613 closed

[2020-10-18 16:04] anuj840 commented on #588
Please assign it to me.

[2020-10-18 16:04] sumeet-4275 opened #614 "1234 | Replace the Substring for Balanced String | C++"
## **`Title`** - Replace the Substring for Balanced String

**What will change** - Add C++ code to Replace the Substring for Balanced String
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-18 16:05] #511 closed

[2020-10-18 16:05] shivanshuman021 commented on #507
@Yashica7 is the pr format okay ?

[2020-10-18 16:06] #480 closed

[2020-10-18 16:06] anuj840 commented on #542
Please, assign this to me

[2020-10-18 16:06] sumeet-4275 commented on #614
Please assign above issue to me so that I can upload properly explained and commented code

[2020-10-18 16:13] #412 closed

[2020-10-18 16:14] SSKale1 commented on #412
@Devplay9847 The code is good but you don't need to comment all the code. you can create another issue for some other problem. this is already taken.

[2020-10-18 16:23] #460 closed

[2020-10-18 16:27] #481 closed

[2020-10-18 16:29] #415 closed

[2020-10-18 16:31] #429 closed

[2020-10-18 16:38] #477 closed

[2020-10-18 16:39] #455 closed

[2020-10-18 16:42] #595 closed

[2020-10-18 16:43] #474 closed

[2020-10-18 16:45] #450 closed

[2020-10-18 16:47] #478 closed

[2020-10-18 16:47] Sumanya312 commented on #612
Please assign this issue to me

[2020-10-18 16:49] AaronF3PS opened #617 "51 | N-Queens | C++"
## **N-Queens** -

**Using Backtracing Algorithm** -

### Hard -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add y

[2020-10-18 16:49] AaronF3PS commented on #617
Please feel free to assign me this task.

[2020-10-18 16:58] ccocz opened #621 "834 | Sum of Distances in Tree | C++"
## **`Title`** - Sum of Distances in Tree

**What will change** - Add C++ code to 834. Sum of Distances in Tree

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Ad

[2020-10-18 17:01] ccocz commented on #621
@Yashica7 @SSKale1 please assign this issue to me.

[2020-10-18 17:02] anuj840 commented on #617
please assign 51 | N-Queens | C++ #617 me

[2020-10-18 17:11] #413 closed

[2020-10-18 17:17] SSKale1 commented on #528
- [x] Assigning to @sau-rav for issue creation.

[2020-10-18 17:18] SSKale1 commented on #546
- [x] Assigning to @KILLERKILLAM  for issue creation.

[2020-10-18 17:24] SSKale1 commented on #563
@ankitvd6 Cooldown for sometime we'll assign this one to @abhay27chauhan

[2020-10-18 17:29] SSKale1 commented on #575
@jaisaikuntala1 This problem already exists in the codebase.

[2020-10-18 17:29] #575 closed

[2020-10-18 17:36] UmaMaheswariGorusupudi opened #625 "938 |Range Sum of BST| Python"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before mak

[2020-10-18 17:41] UmaMaheswariGorusupudi opened #626 "804 | Unique Morse Code Words | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before mak

[2020-10-18 17:44] SSKale1 commented on #285
- [x] Assigning to @shruti1421

[2020-10-18 17:49] #546 closed

[2020-10-18 17:50] #411 closed

[2020-10-18 17:51] #410 closed

[2020-10-18 17:53] #530 closed

[2020-10-18 17:53] #528 closed

[2020-10-18 17:58] swaingotnochill commented on #587
nikhil05-code I will highly suggest you find issues yourself as they are assigned on preferences.

[2020-10-18 17:58] 48cfu opened #629 "135 | Candy | C++"
## **` Candy`** -

**What will change** -  A well documented and clean C++ solution will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

[2020-10-18 17:59] #589 closed

[2020-10-18 18:02] swaingotnochill commented on #594
surya it will be better if you could raise an issue. The task will be assigned as per preferences.

[2020-10-18 18:05] 48cfu opened #632 "1172 | Dinner Plate Stacks | C++"
## **`Dinner Plate Stacks`** -

**What will change** - A well documented and clean C++ solution will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

[2020-10-18 18:08] 48cfu opened #634 "239 | Sliding Window Maximum | C++"
## **`Sliding Window Maximum`** -

**What will change** - A well documented and clean C++ solution will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

[2020-10-18 18:09] swaingotnochill commented on #602
Will you explain the code via comments?Coz there is already a solution for it. Unless the code is gonna be improved we cannot assign this issue to you.

[2020-10-18 18:10] NafiAsib commented on #626
Please assign this issue to me

[2020-10-18 18:14] vasu2907 opened #636 "27 | Remove Element | C++"
## **`Remove Element`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documenta

[2020-10-18 18:16] 48cfu opened #637 "1169 | Invalid Transactions | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

[2020-10-18 18:19] 48cfu commented on #632
Please assign this issue to me

[2020-10-18 18:19] 48cfu commented on #637
Please assign this issue to me

[2020-10-18 18:20] 48cfu commented on #634
Please assign this issue to me

[2020-10-18 18:20] 48cfu commented on #629
Please assign this issue to me

[2020-10-18 18:32] ghanender-chauhan commented on #495
assign this to me !!

[2020-10-18 18:36] aforanushka opened #639 "283 | Move Zeroes | C++"
283 | Move Zeroes | C++

**What will change** -

Adding Solution for the problem 283. Moving Zeroes

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

:star2: Star it :fork_and_knife:Fork it :handshake: Contribute to it!

Discord server ✉️ - https://discord.gg/CXksGdn

Happy Coding,

[2020-10-18 18:39] aforanushka commented on #639
Please assign this to me

[2020-10-18 18:42] aforanushka opened #641 "53 | Maximum Subarray | C++"
## 53 | Maximum Subarray | C++

**What will change** -

Added solution for Maximum Sub Array problem

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

:star2: Star it :fork_and_knife:Fork it :handshake: Contribute to it!

Discord server ✉️ - https://discord.gg/CXksGdn

Happy Coding,

[2020-10-18 18:42] aforanushka commented on #641
Please assign this to me

[2020-10-18 18:43] NavyaIyanampudi commented on #585
could you please assign me this problem?

[2020-10-18 18:45] ankitvd6 commented on #563
Hahaha.. Sure @SSKale1 no issues.

[2020-10-18 18:48] NavyaIyanampudi commented on #584
What will change - C++ solution will be added for the problem
Type of Issue -
 Adding New Code

Programming Language
 C++
Please assign me this task

[2020-10-18 18:49] NavyaIyanampudi commented on #501
What will change -Add a c++ code

Type of Issue -
 Adding New Code

Programming Language
 c++

Self Check
Ask for issue assignment and wait to get assigned to it before making Pull Request.
Add your file in the proper folder
Clean Code and Documentation for better readability
Add Title and Description of the program in the file
🌟 Star it 🍴Fork it 🤝 Contribute to it!

Discord server ✉️ - https://di

[2020-10-18 18:49] NavyaIyanampudi commented on #501
Please assign me this task

[2020-10-18 18:56] piyush-kash commented on #501
Create a new issue of a new problem then only u will be assigned by the maintainer

[2020-10-18 19:00] NavyaIyanampudi commented on #576
Please assign this to me

[2020-10-18 19:02] AaronF3PS commented on #617
Yes i completed and PR. Kindly review and merge.

[2020-10-18 19:03] AaronF3PS commented on #562
@SSKale1 I have completed and PR. Kindly review and merge

[2020-10-18 19:07] abhay27chauhan commented on #565
Do I have to change the class name to the file name or let it be "Solution" like the rest

[2020-10-18 19:16] abhay27chauhan commented on #565
@SSKale1 @Yashica7 I have completed and made PR. Kindly review and merge

[2020-10-18 19:23] NavyaIyanampudi commented on #501
TITLE: 1461.Check If A String Contains All Binary Codes Of Size K
What will change -

Type of Issue -
Adding New Code

Programming Language
c++

Self Check
Ask for issue assignment and wait to get assigned to it before making Pull Request.
Add your file in the proper folder
Clean Code and Documentation for better readability
Add Title and Description of the program in the file
🌟 Star it 🍴Fork it 🤝

[2020-10-18 19:24] NavyaIyanampudi commented on #501
@piyush-kash Please assign this task to me

[2020-10-18 19:29] pooja2299 commented on #625
plse assign this issue to me.

[2020-10-18 19:42] NavyaIyanampudi commented on #614
TITLE:1461. Check If a String Contains All Binary Codes of Size K

What will change - Add C++ code to Replace the Substring for Balanced String

Type of Issue -
Please add/delete options that are not relevant.

 Adding New Code

Programming Language
Please add/delete options that are not relevant.

 C++

Self Check
Ask for issue assignment and wait to get assigned to it before making Pull Request.

[2020-10-18 19:42] NavyaIyanampudi commented on #614
Please assign this task to me

[2020-10-18 19:47] ritik-sys commented on #641
Hey there! Can u please assign this to me ?

[2020-10-18 19:49] ritik-sys commented on #639
hey there! Can you please assign this problem to me??

[2020-10-18 19:49] amandascm opened #650 "1023 | CammelCase Matching | C++"
## **`Title`** - CammelCase Matching

**What will change** - Add C++ code to 1023. CammelCase Matching

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your fi

[2020-10-18 19:49] amandascm commented on #650
please assign this issue to me

[2020-10-18 19:50] ritik-sys commented on #637
Hey There!! Can You plese assign this to me??

[2020-10-18 19:50] ritik-sys commented on #634
Hey There!! Can You plese assign this to me??

[2020-10-18 19:50] amandascm commented on #650
@Yashica7 @SSKale1 please assign this issue to me

[2020-10-18 19:50] ritik-sys commented on #629
Hey There!! Can You plese assign this to me??

[2020-10-18 19:53] dougnobrega commented on #636
Assign me plz

[2020-10-18 19:53] amandascm opened #651 "1024 | Video Stitching | C++"
## **`Title`** - Video Stitching

**What will change** - Add C++ code to 1024. Video Stitching

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in th

[2020-10-18 19:53] dougnobrega commented on #636
@Yashica7 @SSKale1 assign me plz

[2020-10-18 19:54] amandascm commented on #651
Please assign this issue to me

[2020-10-18 20:25] dougnobrega opened #653 "338 | Counting Bits | C++"
## **`Title`** - 338. Counting Bits

**What will change** - Add C++ code to 338. Counting Bits with complexity O(n) (:

### Type of Issue -
- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- A

[2020-10-18 20:26] dougnobrega commented on #653
@SSKale1 @Yashica7 assign me plz

[2020-10-18 20:39] dougnobrega opened #654 "1262 | Greatest Sum Divisible by Three | C++"
## **`Title`** - 1262. Greatest Sum Divisible by Three

**What will change** - Add C++ code to 1262. Greatest Sum Divisible by Three

### Type of Issue -
- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better r

[2020-10-18 20:41] Riei-Joaquim opened #655 "148 | Sort List | C++"
## **`Sort List`**

**What will change** - Add C++ code to 148. Sort List

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Cl

[2020-10-18 20:43] dougnobrega commented on #654
@SSKale1 or @Yashica7  please, assign me (:

[2020-10-18 21:23] Swayam221 opened #656 "1390 | Four Divisors | Python"
## **`Title`** - 1390. Four Divisors

**What will change** - Add Python code to 1390. Four Divisors

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your fi

[2020-10-18 21:32] Yashica7 commented on #636
@vasu2907 Do u want to get assigned to this?

[2020-10-18 21:34] Yashica7 commented on #626
@UmaMaheswariGorusupudi Do u want to get assigned to it?

[2020-10-18 21:37] Swayam221 opened #658 "1390 | Four Divisors | C++"
## **`Title`** - 1390. Four Divisors

**What will change** - Add C++ code to 1390. Four Divisors

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in

[2020-10-18 22:40] srajantiwari commented on #602
Can you assign the task to me? I am happy to explain the solution via comments if it is not assigned yet.

[2020-10-18 23:33] amandascm opened #663 "1025 | Divisor Game | C++"
## **`Title`** - Divisor Game

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docum

[2020-10-18 23:33] amandascm commented on #663
Please assign me to this issue

[2020-10-19 00:11] amandascm opened #664 "812 | Largest Triangle Area | C++"
## **`Title`** - Largest Triangle Area

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` a

[2020-10-19 00:11] amandascm commented on #664
Please assign this issue to me

[2020-10-19 00:58] Revvin-Evan commented on #654
I dont know how the assigning works, but I can do this

[2020-10-19 01:50] Nitish0852 commented on #658
Can you assign it to me

[2020-10-19 02:03] Nitish0852 opened #665 "856 | Score of Parenthesis | C++"
## **`Score of Parenthesis`**

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docum

[2020-10-19 02:03] Nitish0852 commented on #665
Can you assign this to me

[2020-10-19 02:09] Nitish0852 opened #666 "451 | Sort Characters by Frequency | C++"
## **`Title - Sort Characters by Frequency`**

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean

[2020-10-19 02:10] Nitish0852 commented on #666
`Can you assign this problem to me`

[2020-10-19 02:18] Nitish0852 opened #667 "1123 | Lowest Common Ancestor of Deepest Leaves | C++"
## **`Title `** - Lowest Common Ancestor of Deepest Leaves

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper fol

[2020-10-19 02:18] Nitish0852 commented on #667
Could you assign the problem to me

[2020-10-19 02:21] Nitish0852 opened #668 "380 | Insert Delete GetRandom O(1) | C++"
## **`Title`** - Insert Delete GetRandom O(1)

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean

[2020-10-19 02:22] Nitish0852 commented on #668
Could you assign the problem to me

[2020-10-19 02:40] RishavHimmatramka commented on #663
Pls assign this issue to me.

[2020-10-19 02:47] RishavHimmatramka commented on #668
pls assign this issue to me.

[2020-10-19 02:52] swaingotnochill commented on #602
Ok...but do make sure to edit it in same file so that we do not create a copy.

[2020-10-19 02:54] freakcap commented on #602
Okay cool. @swaingotnochill

##Approach -

1. In my solution the property of XORs where a^(a^b)=b is exploited.
2. I first populate a prefix XOR array where array[i] is the running XOR of all the elements from 0 to i.
3. Then all the queries are answered in constant time using the above mention property i.e.
     XOR(l,r) = prefix(r) ^ prefix(l) = (XOR(0,l) ^ XOR(l^r)) ^ XOR(0,l)

## Additions:

1

[2020-10-19 02:58] swaingotnochill commented on #602
Its a dillema..but i will go with preference order..@freakcap do make sure that you comment out your approach in same file.@srajantiwari we have lots of problems still waiting to be solved, you can look there. I will assign this one to freakcap as he is the one who created the issue.

[2020-10-19 02:58] vasu2907 commented on #636
@Yashica7 Yes please assign me this issue.

[2020-10-19 03:03] swaingotnochill commented on #658
Since @Nitish0852 asked for first, I will be giving this issue to him to work on.

[2020-10-19 03:06] swaingotnochill commented on #626
I am assigning this to @NafiAsib as there was no reply from @UmaMaheswariGorusupudi side.

[2020-10-19 03:21] RishavHimmatramka opened #672 "invalid"
## **Recover a Tree From Preorder Traversal** -

**Add C++ code**

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get

[2020-10-19 03:21] RishavHimmatramka commented on #672
Pls assign this issue to me.

[2020-10-19 03:29] Riei-Joaquim opened #673 "396 | Rotate Function | C++"
## **`Title`** - Rotate Function

**What will change** -Add C++ code to 396. Rotate Function

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the

[2020-10-19 03:41] UmaMaheswariGorusupudi commented on #626
Assign it to me

[2020-10-19 03:42] UmaMaheswariGorusupudi commented on #625
Thank you

[2020-10-19 04:01] pawki07 commented on #673
Hey, I would like to work on this issue. Please assign it to me.

[2020-10-19 04:04] DEBADRIBASAK opened #675 "438 | Find All Anagrams In A String | Python"
## **`Find All Anagrams In A String`**

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to g

[2020-10-19 04:06] pawki07 commented on #675
Hey, I wold like to work on this issue. Please assign it to me.

[2020-10-19 04:06] DEBADRIBASAK commented on #675
I want to suggest a sliding window based solution in Python. Please assign this to me.

[2020-10-19 04:11] mayankaggarwal098 opened #677 "2 | Add Two Numbers | CPP"
## **`Title`** - Add Two Numbers

**What will change** - new solution

### Type of Issue - adding a new solution

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the p

[2020-10-19 04:12] pawki07 commented on #677
Please assign it to me.

[2020-10-19 04:24] prerna250 commented on #594
Can you please assign this to me. I'll do it in python language

[2020-10-19 04:27] prerna250 commented on #542
Can you please assign this to me. I'll do it in python language

[2020-10-19 04:51] Swayam221 commented on #658
@swaingotnochill i thought the one who raised the issue was to be given priority, as mentioned in contributing.md

[2020-10-19 04:53] YashasviBhatt commented on #418
Can you assign this issue to me ??

[2020-10-19 04:55] btapash opened #682 "572 | Subtree of another tree | Python"
## **`Title`** -Subtree of another tree

**What will change** -Adding New Code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper fold

[2020-10-19 04:56] rituraj735 opened #683 "15 | 3Sum | C++"
## **`Title`** - 3Sum

**What will change** - A C++ solution for the problem will be added

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the pr

[2020-10-19 04:56] btapash commented on #682
Please assign this to me! @amolgautam25 @j3r3mias @Kingal1337 @aniakubik

[2020-10-19 04:59] rituraj735 opened #684 "21 | Merge Two Sorted Lists | C++"
## **`Title`** - Merge Two Sorted Lists

**What will change** - A C++ solution for the problem will be added

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add y

[2020-10-19 04:59] suffisme opened #685 "338 | Counting Bits | C++"
## **`Counting Bits`** -

**What will change** -  A well written dp code and clean C++ solution will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add

[2020-10-19 05:00] swaingotnochill commented on #658
You have to mention that you are gonna work on  it. Otherwise, preference will be given to next person.

[2020-10-19 05:01] swaingotnochill commented on #658
If you don't ask explicitly, how are we gonna know? But, there are still lots of problems waiting there..you can pick and  raise an issue and ask for assigning..

[2020-10-19 05:01] YashasviBhatt opened #686 "27 | Remove Element | Python"
## **`Remove Element`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docume

[2020-10-19 05:02] YashasviBhatt commented on #686
Please assign this issue to me

[2020-10-19 05:15] rituraj735 opened #687 "55 | Jump Game | C++"
## **`Title`** - Jump Game

**What will change** - C++ solution will be added

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
-

[2020-10-19 05:18] rituraj735 opened #688 "59 | Spiral Matrix II | C++"
## **`Title`** - Spiral Matrix II

**What will change** - C++ solution for the problem will be added afresh

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add yo

[2020-10-19 05:20] rituraj735 opened #689 "70 | Climbing Stairs | C++"
## **`Title`** - Climbing Stairs

**What will change** - C++ code for the problem will be added

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in t

[2020-10-19 05:21] NavyaIyanampudi commented on #688
Title - Spiral Matrix II

What will change - C++ solution for the problem

Type of Issue -
Please add/delete options that are not relevant.

 Adding New Code
Programming Language
Please add/delete options that are not relevant.

 C++
Self Check
Ask for issue assignment and wait to get assigned to it before making Pull Request.
Add your file in the proper folder
Clean Code and Documentation for bet

[2020-10-19 05:22] NavyaIyanampudi commented on #688
please assign this task to me

[2020-10-19 05:24] NavyaIyanampudi commented on #687
Title - Jump Game
What will change - C++ solution will be added

Type of Issue -
Please add/delete options that are not relevant.

 Adding New Code
Programming Language
Please add/delete options that are not relevant.

 C++
Self Check
Ask for issue assignment and wait to get assigned to it before making Pull Request.
Add your file in the proper folder
Clean Code and Documentation for better readab

[2020-10-19 05:28] divyagupta-98 commented on #684
Please assign this to me.

[2020-10-19 05:29] rituraj735 opened #690 "118 | Pascal's Triangle | C++"
## **`Title`** - Pascal's Triangle

**What will change** - C++ code for the problem will be added

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in

[2020-10-19 05:30] rituraj735 opened #691 "119 | Pascal's Triangle II | C++"
## **`Title`** - Pascal's Triangle II

**What will change** - C++ code for the problem will be added afresh

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add yo

[2020-10-19 05:32] NavyaIyanampudi commented on #677
Please assign it to me.

[2020-10-19 05:32] ngandhi369 opened #692 "1480 | Running Sum of 1d Array.py | Python"
## **`Title`** - 1480. Running Sum of 1d Array.py

**What will change** -
Added a new file

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Descript

[2020-10-19 05:34] suffisme commented on #685
Hey
Please assign this issue to me.

[2020-10-19 05:45] suffisme opened #696 "844. | Backspace String Compare | C++"
## **`Backspace String Compare`** -

**What will change** - A new well documented and efficient code using STACKS (as Data Structure) will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to

[2020-10-19 05:56] #573 closed

[2020-10-19 05:58] #527 closed

[2020-10-19 06:00] #621 closed

[2020-10-19 06:03] abhishtjoshi commented on #696
Please assign it to me

[2020-10-19 06:03] #636 closed

[2020-10-19 06:05] abhishtjoshi commented on #691
Please assign it to me

[2020-10-19 06:11] NavyaIyanampudi commented on #666
Can you assign this problem to me

[2020-10-19 06:14] NavyaIyanampudi commented on #691
Please assign it to me

[2020-10-19 06:27] #487 closed

[2020-10-19 06:31] #610 closed

[2020-10-19 06:33] #577 closed

[2020-10-19 06:37] #562 closed

[2020-10-19 06:37] #617 closed

[2020-10-19 06:48] rks2607 opened #699 "347 | Top K Frequent Elements | C++"
## **` Top K Frequent Elements`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and

[2020-10-19 06:48] rks2607 commented on #699
please assign me this task

[2020-10-19 06:52] suffisme commented on #696
Please assign this issue to me.

[2020-10-19 06:53] DaRkSouL-1 commented on #689
Can I do it?

[2020-10-19 06:54] rks2607 opened #700 "33 | Search in Rotated Sorted Array | C++"
## **`Search in Rotated Sorted Array`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code

[2020-10-19 06:54] NafiAsib opened #701 "26 | Remove Duplicates from Sorted Array | C++"
## **`Title`** - Remove Duplicates from Sorted Array

**What will change** - C++ solution for the problem will be added

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Reque

[2020-10-19 06:54] rks2607 commented on #700
please assign me this task

[2020-10-19 06:54] NafiAsib commented on #701
Please assign this issue to me

[2020-10-19 07:32] ritviksharma3 commented on #690
Hi ! Can you assign me this issue ?

[2020-10-19 07:32] #519 closed

[2020-10-19 07:34] #554 closed

[2020-10-19 07:35] #570 closed

[2020-10-19 07:36] #438 closed

[2020-10-19 07:37] #655 closed

[2020-10-19 07:38] #656 closed

[2020-10-19 07:41] #650 closed

[2020-10-19 07:42] #651 closed

[2020-10-19 07:43] #653 closed

[2020-10-19 07:44] #560 closed

[2020-10-19 07:44] SrijitaSarkar99 commented on #690
Hey! I can work on this issue. Can you assign me this?

[2020-10-19 07:46] #602 closed

[2020-10-19 07:47] #559 closed

[2020-10-19 07:49] #663 closed

[2020-10-19 07:52] #664 closed

[2020-10-19 07:55] #419 closed

[2020-10-19 07:59] #612 closed

[2020-10-19 08:01] #626 closed

[2020-10-19 08:02] #608 closed

[2020-10-19 08:05] #500 closed

[2020-10-19 08:07] #665 closed

[2020-10-19 08:09] #666 closed

[2020-10-19 08:10] #667 closed

[2020-10-19 08:21] ngandhi369 opened #710 "698 | Partition to K Equal Sum Subsets.cpp | C++"
## **`Title`** - 698.Partition to K Equal Sum Subsets.cpp

**What will change** -

- Created Partition to K Equal Sum Subsets.cpp

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better rea

[2020-10-19 08:41] pawki07 commented on #673
Okay, Thanks

On Mon, 19 Oct 2020 at 09:58, Riei-Joaquim <notifications@github.com> wrote:

[2020-10-19 08:49] pawki07 opened #712 "Find Median from Data Stream"
Add C++ code.

[2020-10-19 09:00] pawki07 commented on #683
Please assign this issue to me.

[2020-10-19 09:19] nikhil05-code commented on #686
please assign it to me.

[2020-10-19 09:31] Rishabh-Thapliyal commented on #710
I appreciate it if you could assign this issue to me. I would love to work on it.
Thank you.

[2020-10-19 09:39] Rishabh-Thapliyal commented on #691
I would like to work on this. Please assign this to me

[2020-10-19 09:43] Rishabh-Thapliyal commented on #689
Please assign it to me.

[2020-10-19 09:43] Rishabh-Thapliyal commented on #687
I appreciate it if you could assign this issue to me. I would love to work on it.
Thank you.

[2020-10-19 09:43] Rishabh-Thapliyal commented on #688
I appreciate it if you could assign this issue to me. I would love to work on it.
Thank you.

[2020-10-19 09:49] Rishabh-Thapliyal opened #715 "21 | Merge Two Sorted Lists | C++"
## **`Title`** - Merge Two Sorted Lists

**What will change** -  Add C++ code to 21. Merge Two Sorted Lists

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add yo

[2020-10-19 10:02] Rishabh-Thapliyal commented on #715
Please assign this issue to me.

[2020-10-19 10:38] shivanshuman021 opened #719 "1470 | Shuffle the Array | C++"
## **`Shuffle The Array`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and

[2020-10-19 10:38] shivanshuman021 commented on #719
Please assign me this issue . I would like to contribute .
Thanks !

[2020-10-19 10:39] #569 closed

[2020-10-19 10:40] #501 closed

[2020-10-19 11:15] DaRkSouL-1 commented on #632
assign me plz

[2020-10-19 11:41] anushkasethi1710 commented on #690
Hi ! Can you assign me this issue ?

[2020-10-19 12:05] abhishtjoshi commented on #689
@SSKale1 @Yashica7 can you pls assign me this task

[2020-10-19 12:06] pranshta opened #722 "63 | Unique Paths II |C++"
## **`Title`** - Unique Paths II

**What will change** -Add C++ code to 63. Unique Paths II

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Descriptio

[2020-10-19 12:07] pranshta commented on #722
Please assign this issue to me

[2020-10-19 12:08] ccocz opened #723 "Problem Number | Title | Language"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-19 12:08] #723 closed

[2020-10-19 12:09] abhishtjoshi opened #724 "572 | Subtree of Another Tree | Java"
## **`Title`** - Subtree of Another Tree

**What will change** - Add solution to the problem in java language

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title

[2020-10-19 12:09] abhishtjoshi commented on #724
@SSKale1 @Yashica7 can you pls assign me this task

[2020-10-19 12:09] ccocz opened #725 "799 | Champagne Tower | C++"
## **`Title`** - 799. Champagne Tower

**What will change** - C++ solution for 799. Champagne Tower

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file

[2020-10-19 12:59] anuj840 commented on #588
please assign it

[2020-10-19 13:21] adhi-2311 opened #728 "307 | Range Sum Query - Mutable | Java"
## **`Title`** - 307. Range Sum Query - Mutable

**What will change** -
Java solution involving segment tree approach would be added for Range Sum Query - Mutable

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language
- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- A

[2020-10-19 13:22] adhi-2311 commented on #728
@Yashica7 @SSKale1 can you please assign this to me

[2020-10-19 13:28] adhi-2311 opened #729 "518 | Coin Change 2| Java"
## **`Title`** -518. Coin Change 2

**What will change** - Java solution to 518. Coin Change 2 will be added

### Type of Issue -
- [x] Adding New Code
### Programming Language
- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title`

[2020-10-19 13:29] adhi-2311 commented on #729
@Yashica7 @SSKale1 I would love to contribute, will you please assign this to me?

[2020-10-19 13:47] harshitsankhla commented on #725
@ccocz please assign me to this

[2020-10-19 13:49] muskanlalit18 opened #730 "1470 | Shuffle the array | C++"
## **Shuffle The Array** -

**What will change** -

Add C++  script for 1470. Shuffle the array

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in t

[2020-10-19 13:49] muskanlalit18 commented on #730
Please assign this issue to me.

[2020-10-19 13:50] pranav2437 opened #731 "1019 | Next Greater Node In Linked List | Java"
## **`Title`** - 1019 Next greater node in Linked List

**What will change** - Java solution for 1019. Next greater node in linked list will be added

### Type of Issue -

-  [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documen

[2020-10-19 13:51] pranav2437 commented on #731
@Yashica7 @SSKale1 , I would like to contribute, please assign this issue to me.

[2020-10-19 13:52] RitikaGupta8734 commented on #712
Please assign this issue to me

[2020-10-19 13:56] GoodGuyGregory opened #732 "202. | Happy Number | C++"
## **202. Happy Number in Python** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [X] Python
- [] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assig

[2020-10-19 13:57] GoodGuyGregory commented on #732
Please assign me to this issue

[2020-10-19 14:10] muskanlalit18 opened #735 "1464. | Maximum Product of Two Elements in an Array | C++"
## **Maximum Product of Two Elements in an Array** -

**What will change** -

Add a C++ script for 1464. Maximum Product of Two Elements in an Array

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned t

[2020-10-19 14:10] muskanlalit18 commented on #735
Please assign this issue to me.

[2020-10-19 14:12] ravjotkaamra opened #736 "142 | LinkedListCycle | C++"
## **`Title`** - LinkedListCycle

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Improving Code
- [x] Improving Documentation

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper

[2020-10-19 14:16] sentyhu commented on #715
plz assign this issue to me

[2020-10-19 14:16] ravjotkaamra commented on #736
- nullptr could be used instead of NULL as mentioned in the stackoverflow

- 'and' keyword could cause confusion between logical AND and bitwise AND so && should be used

- I  think flag = 1 should mean that there's a cycle but in the code its the reverse.

- A little error in the documentation about time complexity of algorithm

[2020-10-19 14:22] Sahil-k786 commented on #729
I will like to contribute here as my first opensource contribution,can you assign this to me ?

[2020-10-19 14:28] Melvin-Abraham opened #737 "295 | Find Median from Data Stream | Python"
## **`Title`** - Find Median from Data Stream

**What will change** - Addition of new solution for **"295. Find Median from Data Stream"** in _Python_

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

[2020-10-19 14:28] Melvin-Abraham commented on #737
I would love to work on this issue...

[2020-10-19 14:33] freakcap opened #738 "1605 | Find Valid Matrix Given Row and Column Sums | C++"
## **`Title`** -  Find Valid Matrix Given Row and Column Sums (1605)

**What will change** - New well documented solution will be added.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-10-19 14:33] freakcap commented on #738
Waiting for assignment.

[2020-10-19 14:42] sentyhu commented on #730
please assign this issue to me

[2020-10-19 14:43] ravjotkaamra opened #739 "977 | SquaresOfASortedArray | C++"
## **`Title`** - SquaresOfASortedArray

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` an

[2020-10-19 14:46] ravjotkaamra commented on #739
Since we already know the size of the array which has to be returned we should define the size while declaring vector B and  push_back could be replaced by assignment.
This should be done in case push_back leads to resizing of the vector which takes up O(n) time

[2020-10-19 14:59] freakcap opened #740 "1561 | Maximum Number of Coins You Can Get | C++"
## **`Title`** - Maximum Number of Coins You Can Get (1561)

**What will change** - New well documented solution will be added.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-10-19 14:59] freakcap commented on #740
Waiting for assignment.

[2020-10-19 15:17] iashu2k commented on #740
@freakcap plz assign this to me

[2020-10-19 15:24] harshulab commented on #677
I would love to work on this issue! Kindly assign it to me.
Regards

[2020-10-19 15:38] pardeep596 commented on #701
I can do this in java and c++

[2020-10-19 15:41] preeti13456 commented on #684
Interested

[2020-10-19 15:41] preeti13456 commented on #684
I have solved it already

[2020-10-19 15:50] pardeep596 commented on #685
can i do this in java

[2020-10-19 15:57] preeti13456 commented on #677
Interested

[2020-10-19 15:59] adyabansal opened #742 "6 | ZigZag Conversion | C++"
## **`Title`** - ZigZag Conversion

**What will change** - A C++ implementation for ZigZag Conversion

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your fil

[2020-10-19 16:00] adyabansal commented on #742
Please assign this issue to me

[2020-10-19 16:15] adyabansal opened #743 "24 | Swap Nodes in Pairs | C++"
## **`Title`** - Swap Nodes in Pairs

**What will change** - C++ implementation to swap nodes in pairs

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your fi

[2020-10-19 16:16] adyabansal commented on #743
Please assign this issue to me

[2020-10-19 16:50] davbrito commented on #736
I would like to work on this issue.

[2020-10-19 16:53] ravjotkaamra commented on #736
Could you assign this to me, please!! I forgot to mention this before

[2020-10-19 16:53] ravjotkaamra commented on #739
Could you assign this to me, please!! I forgot to mention this before

[2020-10-19 16:56] davbrito commented on #736
Another think that can be fixed is to use the data member initializer syntax.

At this moment the code is:

And it would be better to use the correct syntax:
[code]

[2020-10-19 16:57] ksinha5nov opened #745 "35 | Search Insert Position | C++"
## **Search Insert Position** -

**What will change** - Adding a new code for the problem number 35 Search Insert Position

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Re

[2020-10-19 17:18] 96RadhikaJadhav commented on #496
Could you please assign this issue to me? I would like to work on it.

[2020-10-19 17:42] GedaliaR opened #750 "540 | Single Element in a Sorted Array | Java"
## **`Single Element in a Sorted Array`** -

**What will change** - Add Java implementation for LeetCode problem 540: Single Element in Sorted Array

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned

[2020-10-19 17:43] GedaliaR commented on #750
Please assign this issue to me. First open source contribution :)

[2020-10-19 17:44] carolinejoseph opened #751 "49 | Group Anagrams | Python"
## **`Title`** - Group Anagrams Problem in Python

**What will change** - Will add a solution to problem #49 Group Anagrams in Python

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for bet

[2020-10-19 17:45] carolinejoseph commented on #751
Please assign this issue to me

[2020-10-19 17:58] sarita1124 commented on #725
Please assign me this.

[2020-10-19 18:08] harshulab commented on #689
Can I please be assigned this issue, I would love to work on it!

[2020-10-19 18:21] rahul975337 commented on #729
please assign it to me

[2020-10-19 18:22] rahul975337 commented on #728
please assign it to me

[2020-10-19 18:23] rahul975337 commented on #725
please assign this to me

[2020-10-19 18:23] rahul975337 commented on #724
please assign this to me

[2020-10-19 18:23] rahul975337 commented on #722
please assign this to me

[2020-10-19 18:23] rahul975337 commented on #719
please assign this to me

[2020-10-19 18:40] aroma6700 opened #754 "17 | Letter Combinations of a Phone Number | C++"
## **`Title`** - Letter Combinations of a Phone Number

**What will change** - A C++ implementation for Letter Combinations of a Phone Number Problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned

[2020-10-19 18:41] aroma6700 commented on #754
Please assign this issue to me

[2020-10-19 19:09] dougnobrega opened #755 "338 | Counting Bits | Java"
## **`Title`** - 338. Counting Bits

**What will change** - Add Java code to 338. Counting Bits with complexity O(n) (:

### Type of Issue -
- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
-

[2020-10-19 19:11] dougnobrega commented on #755
@Yashica7 @SSKale1 assign me plz (:

[2020-10-19 19:41] ksinha5nov opened #756 "104 | Maximum Depth of Binary Tree | C++"
## **Maximum Depth of Binary Tree** -

**What will change** - New code for problem number 104- Maximum Depth of Binary tree

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull R

[2020-10-19 20:14] spinnycodess commented on #729
can you pls assign to me? thank you

[2020-10-19 20:34] theamritanair opened #757 "299 | Bulls and Cows | C++"
## **`Title`** - Bulls and Cows

**What will change** - Add C++ code to problem 299

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
### Programming Language

Please add/delete options that are not relevant.
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper fold

[2020-10-19 20:35] theamritanair commented on #757
@Yashica7 @SSKale1

[2020-10-19 20:38] aroma6700 opened #758 "22 | Generate Parentheses | C++"
## **`Title`** - Generate Parentheses

**What will change** - A C++ implementation for Generate Parentheses Problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.

[2020-10-19 20:39] aroma6700 commented on #758
Please assign me the issue

[2020-10-19 21:04] alexdmckee commented on #756
Hi,  I'd like to work on this issue.

[2020-10-19 21:20] efguydan opened #759 "829 | Consecutive Numbers Sum | Java"
## **`Title`** - Consecutive Numbers Sum

**What will change** - I will add a Java implemented algorithm for the above problem.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making P

[2020-10-19 21:20] efguydan commented on #759
Hi, I would like to work on this issue.

[2020-10-19 21:24] efguydan opened #760 "287 | Find the Duplicate Number | Java"
## **`Title`** - Find the Duplicate Number

**What will change** - I will add a Java implemented Algorithm for the above problem.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better re

[2020-10-19 21:24] efguydan commented on #760
Hi, I would like to work on this issue

[2020-10-20 00:06] matbiit commented on #760
Hi, I would like to work on this issue

[2020-10-20 02:17] AlexandreVelloso opened #762 "118 | Pascal's Triangle | Java"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [] C++
- [x] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before mak

[2020-10-20 02:18] AlexandreVelloso commented on #762
I will work in that

[2020-10-20 02:24] AlexandreVelloso opened #763 "118. | Pascal's Triangle | Python"
## **`Title`** - Fix error in the test case when num is zero

**What will change** - Fix the existing code

### Type of Issue - Bug Fix

Please add/delete options that are not relevant.

- [] Adding New Code
- [x] Improving Code
- [] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [] C++
- [] Java
- [] SQL

### Self

[2020-10-20 02:24] AlexandreVelloso commented on #763
There is an error in the case when the num is zero, I can fix that

[2020-10-20 02:36] hitch-hiker42 commented on #758
I will be glad to help with the cause, assign me the issue.

[2020-10-20 02:39] hitch-hiker42 commented on #634
I have written the code for the mentioned problem and will be glad to help if you assign me for the same.

[2020-10-20 03:48] ankita1618 commented on #758
Please assign me the issue

[2020-10-20 04:11] drewmich commented on #758
Please assign me the issue

[2020-10-20 04:22] drewmich commented on #756
Hi, I'd like to be assigned this issue

[2020-10-20 04:23] #668 closed

[2020-10-20 04:24] drewmich commented on #756
Hi, i'd like to be assigned this issue

[2020-10-20 04:27] drewmich commented on #715
Hi, can you assign me the issue?

[2020-10-20 04:51] SaxenaKartik commented on #757
I would like to work on this issue

[2020-10-20 05:02] somya51p commented on #683
Please assign this issue to me, I m interested to work on it

[2020-10-20 05:05] 96RadhikaJadhav commented on #763
I would like to work on it..Could you please assign it to me?

[2020-10-20 05:09] 96RadhikaJadhav commented on #751
Could you please assign this issue to me?

[2020-10-20 05:14] SaxenaKartik commented on #740
I would like to work on this issue

[2020-10-20 05:15] SaxenaKartik commented on #738
I would like to work on this issue

[2020-10-20 05:38] pranshta commented on #677
Issue has already been raised and assigned for this problem in #588

[2020-10-20 06:05] ksinha5nov commented on #756
Hi, @alexdmckee @drewmich , I raised the issue to contribute to it. i am currently looking forward to solve this one. It would be great if you could pick another one. Thank you.

[2020-10-20 06:37] PradyumnG commented on #745
@ksinha5nov Can you assign this issue to me so that I can start working on it?

[2020-10-20 06:56] ksinha5nov commented on #756
Can you please assign this to me, Thank you.

[2020-10-20 06:59] ksinha5nov commented on #745
@PradyumnG I raised this issue to solve it, I am already through with the code and just need to make a pull request. Feel free to try other problems or raise an issue.

[2020-10-20 07:00] ksinha5nov commented on #745
@SSKale1 @Yashica7 Hey Can you please assign this to me. I want to contribute to it. Thank you.

[2020-10-20 07:42] orvil1026 commented on #677
Please assign this issue to me.

[2020-10-20 09:03] freakcap opened #771 "1551 | Minimum Operations to Make Array Equal | C++"
## **`Title`** - Minimum Operations to Make Array Equal (1551)

**What will change** - New well documented solution will be added.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-10-20 09:03] freakcap commented on #771
Waiting for assignment.

[2020-10-20 09:54] pooja2299 opened #773 "6 | ZigZag Conversion | C++"
## **`Title`** - ZigZag Conversion

**What will change** - Providing optimum solution to the problem in C++ language

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Ad

[2020-10-20 09:55] pooja2299 commented on #773
Please assign this to me

[2020-10-20 11:55] ccocz commented on #725
@Yashica7 @SSKale1 please assign this issue to me.

[2020-10-20 13:14] swaingotnochill commented on #677
@mayankaggarwal098 do you wanna work on this issue or not?

[2020-10-20 13:18] #732 closed

[2020-10-20 13:20] pawki07 commented on #677
Yes, I would like to work on this issue but it has not been assigned to me
yet.

On Tue, 20 Oct 2020, 6:44 pm swaingotnochill, <notifications@github.com>
wrote:

[2020-10-20 13:22] #677 closed

[2020-10-20 15:06] ccocz opened #782 "542 | 01 Matrix | C++"
## **`Title`** - 01 Matrix

**What will change** - C++ solution for 01 Matrix

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
-

[2020-10-20 15:08] ccocz commented on #782
@Yashica7 @SSKale1 @swaingotnochill please assign this issue to me.

[2020-10-20 15:14] efguydan opened #783 "79| Word Search | Java"
## **`Title`** - Word Search

**What will change** - I will add a Java implemented Algorithm for the above problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.

[2020-10-20 15:42] #507 closed

[2020-10-20 15:43] #565 closed

[2020-10-20 15:54] jedau commented on #783
@efguydan I have a working solution in my back pocket. Would love to add it here as a contribution. It would be awesome if you could assign this to me. Thanks!

[2020-10-20 16:17] #576 closed

[2020-10-20 16:19] #585 closed

[2020-10-20 16:25] #625 closed

[2020-10-20 16:27] #572 closed

[2020-10-20 16:31] #629 closed

[2020-10-20 16:34] #553 closed

[2020-10-20 16:35] #564 closed

[2020-10-20 16:36] #571 closed

[2020-10-20 16:44] #588 closed

[2020-10-20 16:51] #738 closed

[2020-10-20 16:59] #736 closed

[2020-10-20 17:00] #742 closed

[2020-10-20 17:00] DivyaSaravanan opened #791 "355 | Design Twitter | Cpp"
## **`Design Twitter`** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readabil

[2020-10-20 17:01] #757 closed

[2020-10-20 17:03] #682 closed

[2020-10-20 17:04] ravjotkaamra commented on #736
Wow! So you basically assigned my suggestions to someone else and he just had to type those things up. That's unfair.

[2020-10-20 17:04] #750 closed

[2020-10-20 17:07] DivyaSaravanan commented on #791
@SSKale1  can you assign this issue to me ?

[2020-10-20 17:13] SSKale1 commented on #736
@ravjotkaamra sorry about the mixup, but its done now. You can make an issue for any other problem we'll make sure to assign it to you.

[2020-10-20 17:14] #760 closed

[2020-10-20 17:16] #632 closed

[2020-10-20 17:16] ravjotkaamra commented on #736
Sir, it's very disheartening when somebody takes credit for your work, atleast let me have some kind of contribution in this code. Please, sir look into this issue.

[2020-10-20 17:18] SSKale1 commented on #736
We have space for a lot of contributions. You can create another Issue and it'll be assigned to you.

[2020-10-20 17:19] ccocz commented on #725
@swaingotnochill please assign this issue to me.

[2020-10-20 17:20] #737 closed

[2020-10-20 17:21] #418 closed

[2020-10-20 17:22] ravjotkaamra commented on #736
This is not the point. The point is to stop this from happening. What if other users start doing this and take credit for others contribution. You should take action against those who plagiarize.

[2020-10-20 17:27] SSKale1 commented on #736
It is not exactly plagiarism @ravjotkaamra @davbrito understood the issue you had raised and had made proper changes to the code and added his input too. The assignment may have been mixed up, but this is open source you can't call this plagiarism too. I'm sure you must've worked hard to find the issues that you did but this issue is now closed and we appreciate your contribution. And there's over

[2020-10-20 17:31] af-orozcog opened #797 "1627 | Graph Connectivity With Threshold | C++"
## **`Graph Connectivity With Threshold`** -

**What will change** - New code for problem number 1627 - Graph Connectivity With Threshold

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before

[2020-10-20 17:32] af-orozcog commented on #797
Can you please assign this to me? Thank you

[2020-10-20 17:37] #583 closed

[2020-10-20 17:38] #745 closed

[2020-10-20 17:40] #743 closed

[2020-10-20 17:45] #754 closed

[2020-10-20 17:47] Piyush228 opened #799 "198 | HouseRobber.cpp | C++"
## HouseRobber

**What will change** -
Providing optimum solution to the problem in C++ language

### Type of Issue -

the code does not accept all test cases

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your fi

[2020-10-20 17:47] Piyush228 commented on #799
Please assign this to me

[2020-10-20 17:48] SSKale1 commented on #634
This problem already exists in the codebase.

[2020-10-20 17:48] #634 closed

[2020-10-20 17:49] ravjotkaamra commented on #739
Could you assign this to me, please?

[2020-10-20 17:53] SSKale1 commented on #684
This problem already exists in the codebase.

[2020-10-20 17:53] #684 closed

[2020-10-20 17:54] SSKale1 commented on #685
This problem already exists in the codebase.

[2020-10-20 17:54] #685 closed

[2020-10-20 17:57] SSKale1 commented on #688
@rituraj735 you cooldown for a while.

[2020-10-20 17:57] SSKale1 commented on #688
- [x] Assigning to @NavyaIyanampudi

[2020-10-20 18:01] SSKale1 commented on #692
This problem already exists in the codebase.

[2020-10-20 18:01] #692 closed

[2020-10-20 18:10] Piyush228 opened #801 "7 | Reverse_Integer.cpp | C++"
## Reverse Integer
**What will change** -
Providing optimum solution to the problem in C++ language

### Type of Issue -

Adding New Code and Bug Fix

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language
C++

- [x] Python
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add

[2020-10-20 18:10] Piyush228 commented on #801
Please assign this to me

[2020-10-20 18:11] SSKale1 commented on #712
Please go through the contribution guidelines.

[2020-10-20 18:11] #712 closed

[2020-10-20 18:20] verma-pulkit commented on #801
I would like to contribute in this for cpp. Please assign.

[2020-10-20 18:21] verma-pulkit commented on #799
I would like to contribute in the cpp code. please assign this to me.

[2020-10-20 18:22] verma-pulkit commented on #797
I would like to contribute in the cpp code. please assign this to me.

[2020-10-20 18:22] verma-pulkit commented on #782
I would like to contribute in the cpp code. please assign this to me.

[2020-10-20 18:28] verma-pulkit commented on #710
I would like to contribute in the cpp code. please assign this to me.

[2020-10-20 18:28] verma-pulkit commented on #700
I would like to contribute in the cpp code. please assign this to me.

[2020-10-20 18:57] drewmich opened #806 "8 | String to Integer (atoi) | C++"
## **`String to Integer (atoi)`** -

**What will change** -

Will add code for an efficient solution to this problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.

[2020-10-20 18:57] drewmich commented on #806
Can I be assigned this issue please?

[2020-10-20 19:00] drewmich opened #808 "19 | Remove Nth Node From End of List | C++"
## **`Remove Nth Node From End of List`** -

**Will add code for an efficient and clean solution to this problem** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.

[2020-10-20 19:00] drewmich commented on #808
Could I be assigned this issue please?

[2020-10-20 19:02] drewmich commented on #808
Duplicate

[2020-10-20 19:02] #808 closed

[2020-10-20 19:05] drewmich opened #810 "28 | Implement strStr() | C++"
## **`Implement strStr()`** -

**What will change** -

Will add code for a clean solution to this problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- A

[2020-10-20 19:05] drewmich commented on #810
Could I please be assigned this issue?

[2020-10-20 19:40] Piyush228 opened #815 "27 | RemoveElement.cpp | Python"
## RemoveElement

**What will change** -
Add code to python language

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Add Code
- [x] Improving Documentation

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in th

[2020-10-20 19:41] Piyush228 commented on #815
can you assign me?

[2020-10-20 20:00] nyctophiliacme opened #818 "116 | Populating Next Right Pointers in Each Node | C++"
## **`Populating Next Right Pointers in Each Node`** -

**What will change** - C++ Solution to Populating Next Right Pointers in Each Node.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-20 20:01] nyctophiliacme commented on #818
Hi, Please assign this issue to me.

[2020-10-20 20:02] nyctophiliacme opened #819 "617 | Merge Two Binary Trees | C++"
## **`Merge Two Binary Trees`** -

**What will change** - Adding C++ solution to Merge Two Binary Trees

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your f

[2020-10-20 20:02] nyctophiliacme commented on #819
Hi, Please assign this issue to me.

[2020-10-20 20:05] nyctophiliacme opened #820 "654 | Maximum Binary Tree | C++"
## **`Maximum Binary Tree`** -

**What will change** - Adding C++ solution to Maximum Binary Tree

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in

[2020-10-20 20:06] nyctophiliacme commented on #820
Hi, Please assign this issue to me.

[2020-10-20 20:21] noksenberg opened #821 "15 | 3Sum | Python"
## **Add 3Sum Solution in Python**

**What will change** -
Add 3Sum Solution in Python.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue

[2020-10-20 20:21] noksenberg commented on #821
Please assign this issue to me :)

[2020-10-20 20:39] GoodGuyGregory opened #822 "202. | Happy Numbers | Python"
## **Happy Numbers** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-20 20:40] GoodGuyGregory commented on #822
please assign me this issue

[2020-10-20 21:59] niyonx opened #826 "130 | Surrounded Regions | Python"
## Surrounded Regions  -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it be

[2020-10-20 22:00] niyonx commented on #826
Please assign the issue to me.

[2020-10-20 23:38] Arushi04 commented on #821
I would love to work on it!

[2020-10-21 00:56] shivanshuman021 commented on #719
@SSKale1  Please assign it to me . Should I withdraw pull request then again submit after getting assigned ?

[2020-10-21 04:41] #592 closed

[2020-10-21 04:42] #590 closed

[2020-10-21 04:51] #582 closed

[2020-10-21 04:51] #563 closed

[2020-10-21 04:52] #756 closed

[2020-10-21 04:53] #758 closed

[2020-10-21 05:00] #512 closed

[2020-10-21 05:04] #759 closed

[2020-10-21 05:08] #696 closed

[2020-10-21 05:08] prinsusinghal commented on #820
Hi @nyctophiliacme , I want to work on this issue. Assign it to me.

[2020-10-21 05:11] #730 closed

[2020-10-21 05:13] #701 closed

[2020-10-21 05:16] #751 closed

[2020-10-21 05:17] SSKale1 commented on #822
@GoodGuyGregory you have to create a PR only after you've been assigned to the issue. We'll be closing this now.

[2020-10-21 05:20] SSKale1 commented on #715
This problem already exists in the codebase.

[2020-10-21 05:20] #715 closed

[2020-10-21 05:21] SSKale1 commented on #719
@shivanshuman021 It was invalid coz you had not been assigned to the issue. An now the issue is being closed because this problem already exists in the codebase.

[2020-10-21 05:21] #719 closed

[2020-10-21 05:26] SSKale1 commented on #729
@adhi-2311 you cooldown for a while.
- [x] Assigning to @Sahil-k786

[2020-10-21 05:27] SSKale1 commented on #731
Issue #505 Already exists for the same problem.

[2020-10-21 05:27] #731 closed

[2020-10-21 05:27] #735 closed

[2020-10-21 05:28] SSKale1 commented on #739
This problem already exists in the codebase.

[2020-10-21 05:36] SSKale1 commented on #783
@efguydan you wanna work on this or do I assign it to @jedau

[2020-10-21 05:38] SSKale1 commented on #799
This problem already exists in the codebase.

[2020-10-21 05:38] #799 closed

[2020-10-21 05:39] SSKale1 commented on #801
@Piyush228 This problem already exists in the codebase.

[2020-10-21 05:39] #801 closed

[2020-10-21 05:42] SSKale1 commented on #815
@Piyush228 This problem already exists in the codebase.

[2020-10-21 05:44] SSKale1 commented on #822
@GoodGuyGregory This problem already exists in the codebase.

[2020-10-21 05:44] #822 closed

[2020-10-21 05:50] #505 closed

[2020-10-21 05:55] ravjotkaamra commented on #739
I saw the code and it's not fixed. I don't understand what you mean, could you explain?

[2020-10-21 05:57] Piyush228 commented on #815
sir can we put this code in different language like python and java
if yes please assign me

[2020-10-21 05:58] SSKale1 commented on #739
Oh sorry my bad didn't read your comment through.

[2020-10-21 06:00] SSKale1 commented on #815
The problem currently does not exist in python. If you could create a new Issue or change the title of the current issue to Python I'll assign it to you.

[2020-10-21 06:17] Piyush228 commented on #815
sir I edit this issue , please assign this to me

[2020-10-21 06:21] Piyush228 opened #831 "198 | HouseRobber | Python"
## HouseRobber

**What will change** -
we add code in python language

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Cle

[2020-10-21 06:21] Piyush228 commented on #831
please assign to me :).

[2020-10-21 06:45] Ashutoshnegi880 commented on #821
I would like to code it in c++

[2020-10-21 07:07] keshavga1209 opened #834 "231 | Power of Two | C++"
## **`Title`** - 231. Power of Two

**What will change** - Adding C++ code for 231. Power of Two of Leetcode

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self C

[2020-10-21 07:47] Sahil-k786 commented on #729
Can you please guide me what i have to do ?

[2020-10-21 07:58] efguydan commented on #783
Yeah, i want to work on it @SSKale1.

[2020-10-21 09:29] ritviksharma3 commented on #690
Thank you for assigning @SSKale1
Will get it done ASAP

[2020-10-21 12:06] Piyush228 opened #839 "1528 | Shuffle String | C++"
## Shuffle String

**What will change** -
this question is not present in C++ folder

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper f

[2020-10-21 12:10] t3bol90 commented on #839
Can you assign it for me as hacktoberfest contribution :3 @Piyush228

[2020-10-21 12:22] pawki07 commented on #810
I would like to work on this issue by using python. Please assign it to me.

[2020-10-21 12:23] pawki07 commented on #834
Please assign this issue to me.

[2020-10-21 12:25] Piyush228 opened #840 "1603 | Design Parking System | C++"
## Design Parking System

**What will change** -
add new problem that is not present

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper f

[2020-10-21 13:48] abhishtjoshi opened #845 "941 | Valid Mountain Array | Java"
## **`Title`** - Valid Mountain Array

**What will change** - Add solution to the problem in java language

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` a

[2020-10-21 13:49] abhishtjoshi commented on #845
@SSKale1 @Yashica7 can you pls assign me this task

[2020-10-21 13:51] abhishtjoshi opened #846 "344 | Reverse String | Java"
## **`Title`** - Reverse String

**What will change** - Add solution to the problem in java language

### Type of Issue -

- [x] Adding New Code

### Programming Language
- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `D

[2020-10-21 13:51] abhishtjoshi commented on #846
@SSKale1 @Yashica7 can you pls assign me this task

[2020-10-21 13:53] abhishtjoshi opened #847 "541 | Reverse String II | Java"
## **`Title`** - Reverse String II

**What will change** - Add solution to the problem in java language

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` an

[2020-10-21 13:53] abhishtjoshi commented on #847
@SSKale1 @Yashica7 can you pls assign me this task

[2020-10-21 14:01] SaxenaKartik opened #849 "41 | First Missing Positive | Python3"
## **`Title`** - First Missing Positive

**What will change** - Add solution in python3 for the mentioned problem

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Ad

[2020-10-21 14:01] SaxenaKartik commented on #849
Awaiting assignment for the same

[2020-10-21 14:06] SaxenaKartik opened #850 "138 | Copy List with Random Pointer | Python3"
## **`Title`** - Copy List with Random Pointer

**What will change** - Add new solution in Python3

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `

[2020-10-21 14:07] SaxenaKartik commented on #850
Awaiting assignment for the same

[2020-10-21 14:18] SaxenaKartik opened #854 "1143 | Longest Common Subsequence | Python3"
## **`Title`** - Longest Common Subsequence

**What will change** - Add new code for the problem in Python3

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Tit

[2020-10-21 14:20] SaxenaKartik opened #855 "416 | Partition Equal Subset Sum | Python3"
## **`Title`** - Partition Equal Subset Sum

**What will change** - Add new code for the given problem in Python3

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Ad

[2020-10-21 14:21] SaxenaKartik commented on #855
Awaiting assignment for the same

[2020-10-21 14:21] SaxenaKartik commented on #854
Awaiting assignment for the same

[2020-10-21 14:30] Piyush228 opened #856 "1389 | Create Target Array in the Given Order | C++"
## Create Target Array in the Given Order

**What will change** -
add new problem in a project

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in th

[2020-10-21 14:31] sandeep3136 commented on #847
assign to me

[2020-10-21 14:31] Piyush228 commented on #856
assign to me please ?

[2020-10-21 14:41] Piyush228 opened #857 "1486 | XOR Operation in an Array | C++"
## 1486. XOR Operation in an Array

**What will change** - add new problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `C

[2020-10-21 16:22] sumitgupta7132 commented on #857
I would like to do this, can you assign this to me.

[2020-10-21 17:31] srajantiwari opened #862 "128 | Longest Consecutive Sequence | Java"
## **`Title`** - Longest Consecutive Sequence

**What will change** - I will add a Java implemented Algorithm for the above problem with comments for better understanding

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and

[2020-10-21 17:33] tanvimehta commented on #862
Can I work on this issue?

[2020-10-21 18:18] af-orozcog opened #863 "115 | Distinct Subsequences | C++"
## **`Title`** - Distinct Subsequences

**What will change** - New code for problem number 115 - Distinct Subsequences

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Reques

[2020-10-21 18:18] af-orozcog commented on #863
Can you please assign this to me? Thank you

[2020-10-21 18:37] AlexandreVelloso opened #864 "1480 | Running Sum of 1d Array | Java"
## **Running Sum of 1d Array**

**What will change**
Create a solution in Java for this problem

### Type of Issue

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in th

[2020-10-21 18:37] AlexandreVelloso commented on #864
Assign that to me please

[2020-10-21 19:04] ritviksharma3 commented on #690
@SSKale1 Hi ! Please review PR #865 for issue #690

[2020-10-21 19:39] ritviksharma3 commented on #690
@SSKale1 Hi ! Please review file with #866 for issue #690
Please commit the code with the "Update" description, that is the right solution.

[2020-10-21 20:02] Soham182001 opened #868 "Invalid"
## **`Title`** - Fair Candy Swap

**What will change** - I will add solution to problem number 888.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `De

[2020-10-21 20:03] Soham182001 commented on #868
I can perform this task please assign this to me I already solved it.

[2020-10-21 20:14] namrata18s commented on #845
Could you pls assign a task

[2020-10-21 20:34] srajantiwari opened #870 "605 | Can Place Flowers | C++"
## **`Title`** -  Can Place Flowers

**What will change** - I will add the implemented C++ solution for the above problem with comments for better understanding.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to g

[2020-10-21 20:35] srajantiwari commented on #870
Can you please assign the problem to me? I have already solved the problem.

[2020-10-21 20:36] srajantiwari commented on #862
I have already solved the problem. Can you please assign the problem to me?

[2020-10-21 20:54] srajantiwari opened #871 "606 | Construct String from Binary Tree | C++"
## **`Title`** - Construct String from Binary Tree

**What will change** - I will add the solution for the above problem in C++ with comments for better understanding.

### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request

[2020-10-21 21:43] #739 closed

[2020-10-22 01:27] h20190907 commented on #871
@srajantiwari I would like to work on this. Please assign this to me

[2020-10-22 01:48] h20190907 opened #873 "19 | Remove Nth Node From End of List | C++"
## **`Remove Nth Node From End of List`** -

What will change- Will Add C++ solution to the problem

###Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for an issue assignment and wait to get assigned to it before making Pull Request.
- Add your file to the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `De

[2020-10-22 01:53] h20190907 commented on #873
Please assign this issue to me.

[2020-10-22 02:13] h20190907 opened #874 "49 | Group Anagrams | C++"
## **`Group Anagrams`** -

**What will change** -

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for an issue assignment and wait to get assigned to it before making Pull Request.
- Add your file to the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: St

[2020-10-22 02:14] h20190907 commented on #874
Please assign this issue to me. I will follow proper guidelines and provide an optimized solution

[2020-10-22 02:16] h20190907 commented on #873
Closing this issue, as it has already been reported previously and assigned

[2020-10-22 02:16] #873 closed

[2020-10-22 02:23] 91078781 commented on #864
May I be assigned this issue please?

[2020-10-22 02:23] h20190907 opened #875 "1095 | Find in Mountain Array | C++"
## **`Find in Mountain Array`** -

**Add C++ solution to the problem** -

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for an issue assignment and wait to get assigned to it before making Pull Request.
- Add your file to the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program

[2020-10-22 02:24] h20190907 commented on #875
Please assign this issue to me. I will provide the optimized and well documented solution

[2020-10-22 02:32] h20190907 opened #876 "875 | Koko Eating Bananas | C++"
## **`Koko Eating Bananas`** -

**What will change** -
Add C++ solution to the problem

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for an issue assignment and wait to get assigned to it before making Pull Request.
- Add your file to the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` o

[2020-10-22 02:33] h20190907 commented on #876
Please assign this issue to me.

[2020-10-22 02:37] h20190907 opened #877 "1011 | Capacity To Ship Packages Within D Days | C++"
## **`Capacity To Ship Packages Within D Days`** -

**Add a C++ solution to the leetcode problem** -

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for an issue assignment and wait to get assigned to it before making Pull Request.
- Add your file to the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `

[2020-10-22 02:37] h20190907 commented on #877
Please assign this issue to me.

[2020-10-22 02:41] h20190907 opened #878 "1283 | Find the Smallest Divisor Given a Threshold | C++"
## **`Find the Smallest Divisor Given a Threshold`** -

**Add optimized C++ solution in the C++ folder for the problem** -

### Type of Issue -

- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for an issue assignment and wait to get assigned to it before making Pull Request.
- Add your file to the proper folder
- `Clean Code` and `Documentation` for better readabil

[2020-10-22 02:42] h20190907 commented on #878
Please assign this issue to me. I will provide an optimized solution to this problem

[2020-10-22 02:55] 96RadhikaJadhav commented on #854
Could you please assign this issue to me?

[2020-10-22 02:56] 96RadhikaJadhav commented on #855
Could you please assign this issue to me?

[2020-10-22 02:57] 96RadhikaJadhav commented on #850
Could you please assign this issue to me?

[2020-10-22 02:57] 96RadhikaJadhav commented on #849
Could you please assign this issue to me?

[2020-10-22 02:58] 96RadhikaJadhav commented on #831
Could you please assign this issue to me?

[2020-10-22 03:00] 96RadhikaJadhav commented on #821
Could you please assign this issue to me?

[2020-10-22 04:53] jaydeshmukh007 commented on #876
Please assign this issue to me.

[2020-10-22 05:20] jaydeshmukh007 commented on #877
please assign this issue to me i will get the most efficient solution.

[2020-10-22 05:52] SSKale1 commented on #815
The issue is already in C++, for editing the issue you need to change the title of the issue to Python from C++

[2020-10-22 05:53] SSKale1 commented on #815
I've done it myself. You can work on this now.

[2020-10-22 05:54] #773 closed

[2020-10-22 05:59] #791 closed

[2020-10-22 06:00] #420 closed

[2020-10-22 06:02] #740 closed

[2020-10-22 06:03] #594 closed

[2020-10-22 06:04] #686 closed

[2020-10-22 06:06] jaydeshmukh007 commented on #877
I have already solved this problem

[2020-10-22 06:06] jaydeshmukh007 commented on #877
I have already solved this problem

[2020-10-22 06:06] amitShindeGit commented on #871
I would like to work on it,please assign it to me.

[2020-10-22 06:07] #763 closed

[2020-10-22 06:07] Piyush228 opened #881 "735 | Asteroid Collision | C++"
## Asteroid Collision

**What will change** -
Add new leetcode problem in the C++ folder with optimized C++ solution

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.

[2020-10-22 06:07] Piyush228 commented on #881
please assign to me

[2020-10-22 06:08] #724 closed

[2020-10-22 06:09] #728 closed

[2020-10-22 06:09] jaydeshmukh007 commented on #881
Please assign this issue to me.

[2020-10-22 06:10] #797 closed

[2020-10-22 06:10] h20190907 commented on #877
I have also solved this problem, which is why I raised to issue to contribute to the solution. Please assign the issue to me.

[2020-10-22 06:10] #806 closed

[2020-10-22 06:29] #845 closed

[2020-10-22 06:34] #864 closed

[2020-10-22 06:38] #874 closed

[2020-10-22 06:43] Psion05 commented on #821
I would like to work on this issue, please assign it to me :)

[2020-10-22 06:48] #821 closed

[2020-10-22 06:51] #568 closed

[2020-10-22 06:53] #690 closed

[2020-10-22 06:54] #725 closed

[2020-10-22 06:55] #820 closed

[2020-10-22 06:59] #815 closed

[2020-10-22 07:23] tyagi619 commented on #881
Can I solve this issue if its still open and unassigned?

[2020-10-22 07:31] Piyush228 commented on #839
@t3bol90 their are many question in leetcode ,find it which is not present in leetcodeSolution and create an issue then you will definately get assign of new issue you created
if you want new problem then say yes
Happy Coding

[2020-10-22 07:38] tyagi619 commented on #881
I have solved this problem. Can I make a pull request?

[2020-10-22 08:06] sbindal057 commented on #819
hey, I am interested. Please assign this to me.

[2020-10-22 08:21] shubhamsolank24 commented on #874
i can do it you can assign this to me.

[2020-10-22 08:27] singhalharsh9 commented on #878
please assign this issue to me.

[2020-10-22 08:29] ravjotkaamra opened #894 "7 | Reverse_Integer | C++"
## **`Title`** - Reverse Integer

**What will change** - The code is in the wrong directory, it is a Java code and should be in Java Directory.
Also the name of the file should be Reverse_Integer.java

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] C++
- [x] Java

### Self Check

[2020-10-22 08:29] ravjotkaamra commented on #894
Could you assign this to me, please?

[2020-10-22 08:30] potter1024 commented on #894
Please assign it to me

[2020-10-22 08:46] potter1024 opened #895 "149 | Max Points on a Line | C++"
## **`Max Points on a Line`** -

**What will change** - Add C++ solution to the problem

### Type of Issue - Adding New Code

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your f

[2020-10-22 08:46] potter1024 commented on #895
Please assign it to me.

[2020-10-22 08:47] rk-mirashi commented on #895
please assign it top me

[2020-10-22 08:49] potter1024 commented on #737
I would love to work on the C++ part of it.

[2020-10-22 08:51] potter1024 opened #896 "INVALID | | C++"
## **`Longest Increasing Path in a Matrix `** -

**What will change** - Code to be added

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the prop

[2020-10-22 08:51] potter1024 commented on #896
Please assign it to me.

[2020-10-22 09:10] Skillz619 commented on #834
can I work on this

[2020-10-22 09:11] verma-pulkit commented on #896
I would like to contribute in cpp.

[2020-10-22 09:11] verma-pulkit commented on #895
I would like to contribute in cpp.

[2020-10-22 09:11] verma-pulkit commented on #894
I would like to contribute in cpp.

[2020-10-22 09:12] ccocz opened #898 "485 | Max Consecutive Ones | C++"
## **`Title`** - Max Consecutive Ones

**What will change** - C++ code for problem no 485

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the pro

[2020-10-22 09:13] ccocz commented on #898
@Yashica7 @SSKale1 @swaingotnochill please assign this issue to me.

[2020-10-22 09:14] verma-pulkit commented on #898
I would like to contribute in cpp.

[2020-10-22 09:15] verma-pulkit commented on #871
I would like to contribute in cpp.

[2020-10-22 10:10] #586 closed

[2020-10-22 10:12] bhumikabhatia opened #905 "174 | Dungeon Game | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-22 10:13] bhumikabhatia commented on #905
Hi, could you please assign this issue to me?

[2020-10-22 10:18] YashasviBhatt opened #906 "35 | Search Insert Position | Python"
## **`Search Insert Position`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and

[2020-10-22 10:18] YashasviBhatt commented on #906
Please assign this issue to me @Yashica7 @SSKale1

[2020-10-22 10:37] meetsundrani opened #907 "41 | FirstMissingPositive |Python"
## **`Title`** -
FirstMissingPositive
**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.
Adding New Code
- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment

[2020-10-22 14:02] #894 closed

[2020-10-22 14:06] swaingotnochill opened #914 "10 | Regular Expression Matching | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for

[2020-10-22 14:08] swaingotnochill opened #915 "12 | Integer to Roman| Cpp"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before maki

[2020-10-22 14:10] swaingotnochill opened #916 "15 | 3Sum | Cpp"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before mak

[2020-10-22 14:21] verma-pulkit commented on #916
I would like to contribute in cpp.

[2020-10-22 14:21] verma-pulkit commented on #915
I would like to contribute in cpp.

[2020-10-22 14:22] verma-pulkit commented on #914
I would like to contribute in cpp.

[2020-10-22 14:51] swaingotnochill commented on #916
I will be working on this issue.. You can check and create an issue which suits you. There are still lots of problems left to solve

[2020-10-22 15:27] harshbhagwani94 opened #920 "77 | Combinations | C++"
## **`Title`** - 77 | Combinations

**What will change** - C++ code for problem 77 Combinations will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add

[2020-10-22 15:33] harshbhagwani94 commented on #920
@swaingotnochill Can you assign this issue to me?

[2020-10-22 15:35] harshbhagwani94 opened #921 "80 | Remove Duplicates from Sorted Array II | C++"
## **`Title`** - 80| Remove Duplicates from Sorted Array II

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignmen

[2020-10-22 15:37] harshbhagwani94 commented on #921
@swaingotnochill Can you assign this issue to me?

[2020-10-22 15:40] fawwaz opened #923 "1013 | Partition Array Into Three Parts With Equal Sum | Python"
## **`Partition Array Into Three Parts With Equal Sum`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper

[2020-10-22 15:41] fawwaz commented on #923
Can you assign the issue to me ?

[2020-10-22 16:02] vijaykumarsunkari commented on #875
I wanted to add a game. Am i allowed to do that. I have written that game on my own.

[2020-10-22 16:32] abhishtjoshi opened #927 "84 | Largest Rectangle in Histogram | Java"
## **`Title`** - Largest Rectangle in Histogram

**What will change** - Adding new code to the problem no. 84 of leetcode in java language

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for

[2020-10-22 16:33] abhishtjoshi commented on #927
@SSKale1 @swaingotnochill pls assign this task to me

[2020-10-22 16:38] vijaykumarsunkari opened #928 "1110 | Cows and Bulls game | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-22 16:38] vijaykumarsunkari commented on #928
I wanted to do this

[2020-10-22 16:40] manavbhikadiya commented on #854
i have the knowledge about the dynamic programming please assign this task to me. i have the solution of this LCS ( logest common subsequence ).

[2020-10-22 16:42] vishalghosh7 opened #929 "141. | Linked List Cycle | C++"
## **`Title`** - Finding a cycle in a Linked List

**What will change** -  Add a C++ solution to the above mentioned problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull

[2020-10-22 16:43] vishalghosh7 commented on #929
Would you please assign me the given problem?

[2020-10-22 16:43] snehaa1989 commented on #927
@SSKale1 can i do it in c++? if so, please assign this to me

[2020-10-22 16:44] verma-pulkit commented on #929
I would like to contribute in cpp.

[2020-10-22 16:44] snehaa1989 commented on #929
please assign this to me

[2020-10-22 16:46] verma-pulkit commented on #921
I would like to work on this in cpp.

[2020-10-22 16:46] verma-pulkit commented on #920
I would like to work on this in cpp.

[2020-10-22 16:54] verma-pulkit opened #930 "49 || Group Anagrams || CPP"
Group Anagrams

Write code for Group Anagrams (https://leetcode.com/problems/group-anagrams/)

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue

[2020-10-22 16:54] verma-pulkit commented on #930
I would like to work on this.

[2020-10-22 17:00] babitha667 commented on #898
I have made pull request without knowing that we have to ask before pulling request , please assign and look at my pull request #911

[2020-10-22 17:04] Sindhu-321 commented on #921
Can I get this issue assigned? I would like to work on this in c++

[2020-10-22 17:06] DivyaSaravanan commented on #930
Can I take up this ? @verma-pulkit

[2020-10-22 17:10] snehaa1989 commented on #840
assign to me

[2020-10-22 17:26] #762 closed

[2020-10-22 17:29] verma-pulkit opened #933 "103|| Binary Tree Zigzag Level Order Traversal || CPP"
solution for 103. Binary Tree Zigzag Level Order Traversal

Create code for the problem 103. Binary Tree Zigzag Level Order Traversal

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
-

[2020-10-22 17:33] verma-pulkit commented on #933
I have already made the pull request. Please take a look through it.

[2020-10-22 17:34] Sindhu-321 commented on #895
If the issue is still open can I give it a try?

[2020-10-22 17:34] #831 closed

[2020-10-22 17:36] verma-pulkit commented on #930
sorry it's already done.

[2020-10-22 17:36] #930 closed

[2020-10-22 17:41] #683 closed

[2020-10-22 17:44] #839 closed

[2020-10-22 17:47] #699 closed

[2020-10-22 17:58] AmeyaPhadnis-2019H1030012G commented on #929
Please assign this issue to me. I am new to the open-source community and looking forward to opportunities to contribute. Thanks in advance!

[2020-10-22 18:00] AmeyaPhadnis-2019H1030012G commented on #921
Please assign this issue to me. I am new to the open-source community and looking forward to opportunities to contribute. Thanks in advance!

[2020-10-22 18:00] AmeyaPhadnis-2019H1030012G commented on #920
Please assign this issue to me. I am new to the open-source community and looking forward to opportunities to contribute. Thanks in advance!

[2020-10-22 18:02] #840 closed

[2020-10-22 18:05] verma-pulkit opened #936 "54. ||Spiral Matrix || CPP"
## **`Title`** -

New code for 54. Spiral Matrix
New code

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language
Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before making P

[2020-10-22 18:06] snehaa1989 commented on #936
assign this to me please

[2020-10-22 18:06] Darsh4521 opened #937 "949 | Largest Time for Given Digits | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-22 18:08] Darsh4521 opened #938 "949 | Largest Time for Given Digits | C++"
## **`Largest Time for Given Digits`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get a

[2020-10-22 18:08] Darsh4521 commented on #938
Assign this to me please.

[2020-10-22 18:17] AmeyaPhadnis-2019H1030012G commented on #938
Please assign this issue to me. I am new to the open-source community and looking forward to opportunities to contribute. Thanks in advance!

[2020-10-22 18:17] verma-pulkit opened #939 "1329 || Sort the Matrix Diagonally || CPP"
## **`Title`** -1329. Sort the Matrix Diagonally

**What will change** -
New code for 1329. Sort the Matrix Diagonally

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Se

[2020-10-22 18:19] Darsh4521 commented on #938
i am also new to the open source community and looking to contribute as well. So plz assign this one to me

[2020-10-22 18:22] #856 closed

[2020-10-22 18:23] #937 closed

[2020-10-22 18:31] #857 closed

[2020-10-22 18:32] #881 closed

[2020-10-22 18:35] #834 closed

[2020-10-22 18:39] #863 closed

[2020-10-22 18:41] #783 closed

[2020-10-22 18:42] #849 closed

[2020-10-22 18:43] #846 closed

[2020-10-22 18:49] pavalucas opened #941 "917 | Reverse Only Letters | C++"
## **`Reverse Only Letters`** -

**What will change** -  Add C++ solution to the problem

### Type of Issue -  Adding New Code

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your

[2020-10-22 18:49] #597 closed

[2020-10-22 18:49] pavalucas commented on #941
Please assign it to me.

[2020-10-22 18:56] SSKale1 commented on #936
This problem already exists in the codebase.

[2020-10-22 18:56] #936 closed

[2020-10-22 18:57] namrata18s commented on #941
please assign to me @pavalucas

[2020-10-22 21:26] drewmich opened #946 "34 | Find First and Last Position of Element in Sorted Array | C++"
## **`34 | Find First and Last Position of Element in Sorted Array | C++`** -

**What will change** -

Will add code for optimal solution to "34. Find First and Last Position of Element in Sorted Array"

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

[2020-10-22 21:27] drewmich commented on #946
Can I please be assigned this issue?

[2020-10-23 01:28] fawwaz opened #948 "204 | Count Primes | Python"
## **`204. Count Primes`** -

**What will change** -
Add New Code for Count Primes

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper

[2020-10-23 01:28] fawwaz commented on #948
Cna you assign it to me ?

[2020-10-23 01:58] fawwaz opened #949 "221 | Maximal Square | Python"
## **`221. Maximal Square`** -

**What will change** -
Add Solution for problem no 221 Maximal Square

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your

[2020-10-23 01:59] fawwaz commented on #949
can you assign it to me ?

[2020-10-23 02:02] fawwaz opened #950 "23 | Merge K Sorted List | Python"
## **`23. Merge K Sorted List`** -

**What will change** -
Add solution for problem no 23 in Python

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your fi

[2020-10-23 02:02] fawwaz commented on #950
can you assign it to me ?

[2020-10-23 03:42] sbindal057 commented on #921
please assign this issue to me

[2020-10-23 03:48] faraz6188 commented on #542
Please assign this to me. I'll do as soon as possible

[2020-10-23 05:14] #914 closed

[2020-10-23 05:14] #915 closed

[2020-10-23 05:15] #916 closed

[2020-10-23 05:26] drishtipeshwani commented on #939
can this issue be assigned to me ?

[2020-10-23 05:51] jyotirani3020 opened #955 "45 | Jump Game II | python"
## **`Title`** -
 Jump Game II
**What will change** -

### Type of Issue -

 Adding New Code

### Programming Language

 Python

[2020-10-23 06:02] jyotirani3020 opened #956 "236 | Lowest Common Ancestor of Binary Tree | Python"
## **`Title`** - 236 | Lowest Common Ancestor of Binary Tree | Python

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in

[2020-10-23 06:08] namrata18s commented on #956
Please assign it to me !
Thanks

[2020-10-23 06:21] jyotirani3020 opened #957 "213 | House Robber II | Python"
## **`Title`** - 213. House Robber II

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code`

[2020-10-23 07:19] cbanupama opened #962 "1 | Two Sum| PHP"
## **`Add PHP solution for two sum problem`** -

**What will change** -

### Improvement -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Php

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean

[2020-10-23 07:19] cbanupama commented on #962
Please assign the issue to me.

[2020-10-23 07:23] beertocode commented on #962
Please assign me this issue.

[2020-10-23 08:38] Nitish-web-nik commented on #946
I want to contribute in this issue, Please assign.

[2020-10-23 08:54] RachanaKampli commented on #957
can you assign this to me?

[2020-10-23 10:46] drishtipeshwani commented on #955
Can you assign this issue to me

[2020-10-23 11:17] mr-abhi-k commented on #878
can u please assign me this issue to me?

[2020-10-23 11:20] AbhJ commented on #956
Hello I am a third year from IIT Kharagpur, having good experience in competitive programming. Please assign it to me.

[2020-10-23 11:22] AbhJ commented on #957
Hello I am a third year from IIT Kharagpur, having good experience in competitive programming. Please assign it to me.

[2020-10-23 11:23] AbhJ commented on #955
Hello I am a third year from IIT Kharagpur, having good experience in competitive programming. Please assign it to me.

[2020-10-23 13:15] Erixx123 commented on #948
Could you assign me?

[2020-10-23 13:18] Erixx123 commented on #946
Can you assign me?

[2020-10-23 13:22] ARsh-ALgo commented on #946
Happy to contribute here.

[2020-10-23 13:24] anand-2020 opened #965 "82 | Remove Duplicates from Sorted List II | C++"
## **`Remove Duplicates from Sorted List II`** -

**Add C++ solution to the problem** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` o

[2020-10-23 13:26] anand-2020 commented on #965
Please assign this issue to me. I will provide a optimized and well structured solution

[2020-10-23 14:09] KarthiK2601 commented on #965
Can you assign me this ?

[2020-10-23 14:16] jaisaikuntala1 opened #966 "76 | Minimum Window Substring | C++"
## **`Title`** -

**What will change** - New Added for this problem will be added in C++.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] SQL

### Self Check

- Ask for iss

[2020-10-23 14:22] mr-abhi-k commented on #965
can u pls assign me this issue, i am new to open source and wanna start my contribution with works which i love....

[2020-10-23 14:42] ravjotkaamra opened #968 "938 | Range Sum of BST | C++"
## **`Title`** -  Add new code for Range Sum of BST

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `

[2020-10-23 14:42] ravjotkaamra commented on #968
Could you assign this to me, please?

[2020-10-23 15:06] ShehzadAhm commented on #966
Can you assign me this issue?

[2020-10-23 15:57] AnandPr123 commented on #966
@jaisaikuntala1 Please assign this to me

[2020-10-23 16:19] AnandPr123 opened #976 "1363 | Largest Multiple of Three | C++"
## **`Title`** - Largest Multiple of Three

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `

[2020-10-23 16:22] Gyan843 commented on #976
@AnandPr123 Please assign this to me

[2020-10-23 16:23] Gyan843 commented on #966
@jaisaikuntala1 Please assign this to me

[2020-10-23 16:33] AnandPr123 opened #977 "855 | Exam Room | C++"
## **`Title`** - Exam Room

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- Adding New Code

### Programming Language

Please add/delete options that are not relevant.

-  C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation`

[2020-10-23 16:35] Starkultra opened #978 "30 Substring with Concatenation of All Words"
Substring with Concatenation of All Words is missing

[2020-10-23 16:40] #978 closed

[2020-10-23 16:47] JOKUE2002 commented on #966
I'll assign it to @jaisaikuntala1 - @Gyan843 I assigned you to #976

[2020-10-23 16:49] JOKUE2002 commented on #965
@KarthiK2601 @mr-abhi-k anand-2020 asked first so he has the right of way. You may want to create more issues and we'll assign you to them.

[2020-10-23 16:49] JOKUE2002 commented on #968
Of course. Have fun 😄

[2020-10-23 17:05] harshbhagwani94 opened #980 "107 | Binary Tree Level Order Traversal II | C++"
## **`Title`** - Binary Tree Level Order Traversal II

**What will change** - New file will be added

### Type of Issue - Solution doesn't exist

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

#

[2020-10-23 17:06] harshbhagwani94 commented on #980
@SSKale1 Can you assign this issue to me?

[2020-10-23 17:21] trishnakalita660 opened #982 "152| Maximum Product Subarray | C++"
Maximum Product Subarray

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentat

[2020-10-23 17:22] drishtipeshwani commented on #977
Please assign this to me

[2020-10-23 17:23] drishtipeshwani commented on #982
Can you please assign this to me

[2020-10-23 17:26] prasath1105 commented on #877
Can you please assign this issue to me already solved this problem.

[2020-10-23 17:28] prasath1105 commented on #977
can you please assign this issue already solves this problem

[2020-10-23 17:30] prasath1105 commented on #982
Hi trishnakalita660 can make PR for this issue I Already solves this problem

[2020-10-23 17:33] prasath1105 commented on #980
Hi @harshbhagwani94
Can you assign this issue to me I already solved this problem

[2020-10-23 17:45] prasath1105 opened #985 "Add Substring with Concatenation of All Words"
Title - Substring with Concatenation of All Words
What will change -

Type of Issue -
Please add/delete options that are not relevant.

Adding New Code
Programming Language
Please add/delete options that are not relevant.

C++
Self Check
Ask for an issue assignment and wait to get assigned to it before making Pull Request.
Add your file to the proper folder
Clean Code and Documentation for better

[2020-10-23 17:47] vivaswat19 commented on #980
Can you assign this issue to me.

[2020-10-23 17:50] Starkultra commented on #977
can you please assign this issue to me

[2020-10-23 17:58] #985 closed

[2020-10-23 18:05] JOKUE2002 commented on #980
Here you go @harshbhagwani94

@vivaswat19 you may open more issues to contribute to this repository

[2020-10-23 18:18] vivaswat19 opened #987 "455 | Assign Cookies | python"
Assign Cookies

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` fo

[2020-10-23 18:19] vivaswat19 commented on #987
can you assign this issue to me.

[2020-10-23 18:19] SaiShashank12 commented on #876
Please assign this issue to me.

[2020-10-23 18:44] carolinejoseph opened #992 "16 | 3Sum Closest | Python"
## **`Title`** - 16 | 3Sum Closest | Python

**What will change** - Add a solution for #16 3Sum Closest in Python
Given an array 'nums' of n integers and an integer 'target', find three integers in nums such that the sum is closest to target. Return the sum of the three integers. Assume that each input would have exactly one solution.

Example:
Input: nums = [-1,2,1,-4], target = 1
Output: 2
Expla

[2020-10-23 18:45] carolinejoseph commented on #992
Please assign this problem to me

[2020-10-23 18:48] LL-creator opened #993 "06 | ZigZag Conversion | C++"
## **`ZigZag Conversion** -

**Add #6 ZigZag Conversion leetcode algorithm to the library** -

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Descriptio

[2020-10-23 18:56] LL-creator commented on #993
please assign me this

[2020-10-23 18:59] #993 closed

[2020-10-23 22:14] kajal-puri opened #996 "20 | Valid Parentheses | Python"
## **`Title`** - Valid Parentheses

**What will change** - Adding new code to the Problem 20 of leetcode in Python.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Reques

[2020-10-23 22:15] kajal-puri commented on #996
@SSKale1 @swaingotnochill Can you please assign this task to me? Thanks!

[2020-10-24 01:42] alpha-k911 opened #1000 "1305 | All Elements in Two Binary Search Trees | C++"
## **`Title`** - All Elements in Two Binary Search Trees

**What will change** - Adding 1305. All Elements in Two Binary Search Trees (https://leetcode.com/problems/all-elements-in-two-binary-search-trees/)

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Ch

[2020-10-24 01:44] alpha-k911 commented on #1000
Please assign this to me.

[2020-10-24 05:01] sawyer1997 commented on #992
@carolinejoseph Can you please add the problem statement, would be helpful.

[2020-10-24 05:32] harshbhagwani94 opened #1003 "112 | Path Sum | C++"
## **`Title`** - Path Sum

**What will change** - Solution will be added.

### Type of Issue - No solution exist

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue a

[2020-10-24 05:33] harshbhagwani94 commented on #1003
Can someone assign this issue to me?

[2020-10-24 05:36] harshbhagwani94 opened #1004 "108 | Convert Sorted Array to Binary Search Tree | C++"
## **`Title`** - Convert Sorted Array to Binary Search Tree

**What will change** - A solution file will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
-

[2020-10-24 05:36] harshbhagwani94 commented on #1004
Can someone assign this issue to me?

[2020-10-24 06:06] AmeyaPhadnis-2019H1030012G commented on #1004
Please assign this issue to me. I am new to the open-source community and looking forward to opportunities to contribute. Thanks in advance!

[2020-10-24 06:09] AmeyaPhadnis-2019H1030012G commented on #996
Can I work on this,  I am new to the open-source community and looking forward to opportunities to contribute. Thanks in advance!

[2020-10-24 06:24] adityabandal commented on #1003
Can someone assign this to me?

[2020-10-24 06:43] alpha-k911 commented on #1000
@SSKale1 @JOKUE2002

[2020-10-24 06:46] AmeyaPhadnis-2019H1030012G commented on #1003
Can someone assign this issue to me, I am new to the open-source community and looking forward to opportunities to contribute. Thanks in advance!

[2020-10-24 07:08] prakharpande opened #1012 "1563 | Stone Game V | C++"
## **`Title`** - Stone Game V

**What will change** - A solution file will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper f

[2020-10-24 07:09] prakharpande commented on #1012
Please assign this issue to me?

[2020-10-24 07:23] pstreemaze commented on #962
Please assign me this issue. Can code it in cpp/Java

[2020-10-24 07:24] hardikchoudhary12 opened #1013 "155 | Min Stack | C++"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for

[2020-10-24 07:24] pstreemaze commented on #982
Please assign it to me, will look into it

[2020-10-24 07:26] hardikchoudhary12 commented on #1013
Hi, Can I be assigned this issue?

[2020-10-24 07:28] pstreemaze opened #1014 "84 | Largest rectangle in Histogram | C++"
## Largest rectangle in Histogram
Add a working and tested code

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the fil

[2020-10-24 07:31] pstreemaze opened #1016 "198 | House Robber | CPP"
## House Robber

**What will change** -
 Add a well documented and optimum code
### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the pro

[2020-10-24 07:36] pstreemaze opened #1017 "101 | Symmetric Tree | CPP"
## Symmetric tree
Add a code

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knife:

[2020-10-24 07:37] chiillax commented on #1016
I want to work on it.

[2020-10-24 07:38] chiillax commented on #1017
Could you please assign me for this task ?

[2020-10-24 07:38] chiillax commented on #1014
Could you please assign me for this task ?

[2020-10-24 07:40] pstreemaze opened #1018 "448 | Find All Numbers Disappeared in an Array | CPP"
##  Find All Numbers Disappeared in an Array

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in th

[2020-10-24 07:41] Starkultra commented on #982
Will you please assign this issue to me..

[2020-10-24 07:42] Starkultra commented on #1018
Will you please assign this issue to me..Hope I can solve this issue

[2020-10-24 07:43] Starkultra commented on #1017
Please assign this issue to me..

[2020-10-24 07:44] pstreemaze commented on #1018
I want to solve the issue

[2020-10-24 07:44] Starkultra commented on #1016
I already solved this one could please assign this issue..

[2020-10-24 07:45] Starkultra commented on #1013
Can u please assign this issue

[2020-10-24 07:45] pstreemaze commented on #1016
Waiting for it to be assigned to me, I solved it already too

[2020-10-24 07:55] sawyer1997 commented on #976
Tried doing that, please check.

[2020-10-24 08:13] Pyro13m opened #1021 "1074 | Number of Submatrices That Sum to Target | CPP"
## **`Number of Submatrices That Sum to Target** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program

[2020-10-24 08:13] Pyro13m commented on #1021
Please assign this to me. I have an efficient solution

[2020-10-24 08:16] #1021 closed

[2020-10-24 08:35] #1017 closed

[2020-10-24 08:36] #1016 closed

[2020-10-24 08:39] pstreemaze commented on #1017
Why unassigned

[2020-10-24 08:39] pstreemaze commented on #1014
Thank you!

[2020-10-24 08:40] pstreemaze commented on #1016
Why unassigned?

[2020-10-24 08:40] pstreemaze commented on #1018
Thank you!

[2020-10-24 09:22] alpha-k911 opened #1031 "746 | Min Cost Climbing Stairs | C++"
## **`Title`** - 746. Min Cost Climbing Stairs

**What will change** - Adding 746. Min Cost Climbing Stairs (https://leetcode.com/problems/min-cost-climbing-stairs/)

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait

[2020-10-24 09:23] alpha-k911 commented on #1031
Please assign me to this issue @swaingotnochill  @SSKale1 @JOKUE2002

[2020-10-24 09:25] JOKUE2002 commented on #1031
Here you go.

[2020-10-24 09:35] pstreemaze opened #1032 "45 | Jump Game II | CPP"
## **`Title`** - Jump Game II

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2:

[2020-10-24 09:38] pstreemaze opened #1033 "322 | Coin Change | CPP"
## **`Title`** - Coin Change

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2:

[2020-10-24 09:44] haxpor commented on #1033
Hi there @pstreemaze , I'd like to work on this, please assign it to me. Thanks!

[2020-10-24 09:45] alpha-k911 commented on #1031
Hey thanks @JOKUE2002

[2020-10-24 09:47] alpha-k911 commented on #1031
I want to be part of this team. Can you please look into it? You can check my Github profile whether to consider me or not. @JOKUE2002 @swaingotnochill @SSKale1

[2020-10-24 09:52] jag-singh-96 opened #1034 "749 | Contain Virus | JAVA"
## **`Contain Virus`** -

**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Sta

[2020-10-24 09:54] jag-singh-96 commented on #1034
Please assign this issue to me. I will provide an optimized solution to this problem

[2020-10-24 10:23] AhmadShaaban commented on #1033
can I work on this?

[2020-10-24 10:39] sawyer1997 commented on #987
@swaingotnochill Can you please review my PR?

[2020-10-24 10:46] haxpor commented on #1033
If you check the code base, there is already 322 solution there. So either someone get passed the contribution process, or mis-communication there.

[2020-10-24 10:53] AhmadShaaban commented on #1032
can I work on this?

[2020-10-24 11:17] ArshdeepSingh98 commented on #1032
Hi, I want to work on this issue.

[2020-10-24 11:27] idivyamgoyal opened #1041 "940 | Distinct Subsequence II | C++"
## **`Distinct Subsequence II`** -

**What will change** - Adding new code

### Type of Issue - Soln for the problem

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in t

[2020-10-24 11:28] AhmadShaaban opened #1042 "895 | Maximum Frequency Stack | CPP"
## **`Maximum Frequency Stack`**

**What will change** -

Add new leetcode problem in the C++ folder with optimized C++ solution

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better read

[2020-10-24 11:29] AhmadShaaban commented on #1042
Can you assign this to me?

[2020-10-24 11:48] ArshdeepSingh98 commented on #1041
Hi, can you assign this to me?

[2020-10-24 11:50] idivyamgoyal commented on #1041
Hi, sorry but I opened this issue for myself.

[2020-10-24 11:51] singlatushar07 commented on #877
Assign an issue to me

[2020-10-24 11:57] #933 closed

[2020-10-24 12:00] #850 closed

[2020-10-24 12:01] ArshdeepSingh98 commented on #1041
Ok, no problem

[2020-10-24 12:10] SSKale1 commented on #980
@harshbhagwani94 Why was this closed?

[2020-10-24 12:11] #941 closed

[2020-10-24 12:12] ArshdeepSingh98 opened #1044 "1351 | Count Negative Numbers in a Sorted Matrix | CPP"
## **`Count Negative Numbers in a Sorted Matrix`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
-

[2020-10-24 12:13] #810 closed

[2020-10-24 12:13] harshbhagwani94 commented on #980
@SSKale1 I have made pull request associated with this issue. Can you please validate it and merge with the main branch?

[2020-10-24 12:14] SSKale1 commented on #980
@harshbhagwani94 yes we'll be doing that. But we close the issue only when the PR has been merged.

[2020-10-24 12:16] #923 closed

[2020-10-24 12:16] harshbhagwani94 commented on #980
@SSKale1 thanks, I didn't know that. I saw people closing the issue without merging, that's why I closed. Sorry for that!

[2020-10-24 12:17] #906 closed

[2020-10-24 12:18] #871 closed

[2020-10-24 12:21] #938 closed

[2020-10-24 12:22] #929 closed

[2020-10-24 12:25] #921 closed

[2020-10-24 12:26] #948 closed

[2020-10-24 12:26] vivaswat19 opened #1046 "1476 | Subrectangle Queries | C++"
## Subrectangle Queries

**What will change** -
Add new leetcode problem in the C++ folder with C++ solution

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add y

[2020-10-24 12:26] aminasadiam commented on #1044
hi @ArshdeepSingh98, May I work on this?

[2020-10-24 12:27] vivaswat19 commented on #1046
please assign this issue to me.

[2020-10-24 12:28] SSKale1 commented on #518
Issue open for assignment.

[2020-10-24 12:29] #949 closed

[2020-10-24 12:30] #950 closed

[2020-10-24 12:37] vivaswat19 commented on #987
@swaingotnochill please review my PR.
Thank you.

[2020-10-24 12:48] ArshdeepSingh98 commented on #1044
Sorry, I have assigned this myself. You can create a new issue.

[2020-10-24 12:50] aminasadiam commented on #1044
No problem, good luck. 👍

[2020-10-24 12:54] Darsh4521 opened #1049 "633 | Sum of Square Numbers | C++"
## **`Sum of Square Numbers`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait to get assigned

[2020-10-24 12:54] Darsh4521 commented on #1049
Assign this to me please

[2020-10-24 12:56] aminasadiam opened #1051 "1234 | Divide two numbers using only subtraction (-) operator | Python"
## **`Divide two numbers using only subtraction (-) operator`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the

[2020-10-24 12:58] aminasadiam commented on #1051
Assign this to me please

[2020-10-24 12:59] tyagi619 commented on #1051
Please assign this to me

[2020-10-24 13:01] aminasadiam commented on #1051
Dear @tyagi619 , Sorry, I have assigned this to myself.

[2020-10-24 13:17] #1051 closed

[2020-10-24 13:28] #641 closed

[2020-10-24 13:28] #639 closed

[2020-10-24 13:41] SSKale1 commented on #980
@harshbhagwani94 we may have to do it like that sometimes when the PR's are not being linked to the issue.

[2020-10-24 13:42] #980 closed

[2020-10-24 13:45] #965 closed

[2020-10-24 13:50] Mrinal-Choudhary07 commented on #1049
assign this to me ,Iam ready.

[2020-10-24 13:53] #920 closed

[2020-10-24 13:54] #1012 closed

[2020-10-24 13:55] Mrinal-Choudhary07 opened #1053 "634 | Top K Frequent Elements in an Array | Java"
## **`Top K Frequent Elements in an Array`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
-  x Improving Code
-  x Improving Documentation
-  x Bug Fix

### Programming Language

Please add/delete options that are not relevant.

-  x Python
-  x C++
- [x] Java
-  x SQL

### Self Check

- Ask for issue assignment and wait to

[2020-10-24 13:57] Mrinal-Choudhary07 commented on #1053
assign me this issue please

[2020-10-24 14:16] #1014 closed

[2020-10-24 14:16] #1018 closed

[2020-10-24 14:17] #581 closed

[2020-10-24 14:21] #580 closed

[2020-10-24 14:21] #987 closed

[2020-10-24 14:22] #1000 closed

[2020-10-24 14:22] #1031 closed

[2020-10-24 14:25] #992 closed

[2020-10-24 14:27] #996 closed

[2020-10-24 14:27] #1003 closed

[2020-10-24 14:29] #1013 closed

[2020-10-24 14:32] #1044 closed

[2020-10-24 14:33] #1004 closed

[2020-10-24 14:35] #855 closed

[2020-10-24 14:36] #870 closed

[2020-10-24 14:39] #946 closed

[2020-10-24 14:41] SSKale1 commented on #729
@Sahil-k786 you can go through the [Contribution Guidelines](https://github.com/SHY-Corp/LeetCode-Solutions/blob/master/CONTRIBUTING.md)

[2020-10-24 14:45] SSKale1 commented on #1032
An open issue for this problem already exists.

[2020-10-24 14:45] #1032 closed

[2020-10-24 14:47] SSKale1 commented on #956
- [x] Assigned to @AbhJ

[2020-10-24 14:48] vishalghosh7 opened #1058 "59. | Spiral Matrix Part-II | C++"
## **Title** - Spiral Matrix II

**What will change** - Addition of an efficient code for the 2nd type of LeetCode Spiral Matrix problem

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before m

[2020-10-24 14:57] SSKale1 commented on #962
We don't have a folder for PHP at this stage.

[2020-10-24 14:57] #962 closed

[2020-10-24 14:57] SSKale1 commented on #1033
Problem already exists in the codebase.

[2020-10-24 14:57] #1033 closed

[2020-10-24 15:01] SSKale1 commented on #1058
Duplicate issue #688 already exists.

[2020-10-24 15:01] #1058 closed

[2020-10-24 15:02] #968 closed

[2020-10-24 15:08] #854 closed

[2020-10-24 15:17] vishalghosh7 opened #1060 "493. | Reverse Pairs | C++"
## **`Title`** - Reverse Pairs

**What will change** - Solution for the above problem will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file

[2020-10-24 15:21] ngutierrez31 opened #1061 "1119 | Remove Vowels from a String | Python"
## **`Remove Vowels from a String `** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
-  x Improving Code
-  x Improving Documentation
-  x Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
-  x C++
-  x  Java
-  x SQL

### Self Check

- Ask for issue assignment and wait to get a

[2020-10-24 15:21] ngutierrez31 commented on #1061
I'd like to be assigned to this please

[2020-10-24 15:24] vishalghosh7 commented on #1060
Would you please assign this issue to me?

[2020-10-24 15:44] kross9924 opened #1063 "1463 | Cherry Pickup II | C++"
## **`Title`** -  Cherry Pickup II

**What will change** -  Solution for above problem will be added

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file

[2020-10-24 15:44] kross9924 commented on #1063
.

[2020-10-24 16:12] Starkultra opened #1068 "149 | Max-Points-on-a-Line | C++"
## **`Title`** -149.Max-Points-on-a-Line

**What will change** - New problem will be added

### Type of Issue -

- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description`

[2020-10-24 16:14] Starkultra commented on #1068
Eagerly waiting.. Assign this issue to add 149. Max-Point-on-a-Line on repo

[2020-10-24 16:21] gurleendhod commented on #1061
Could you please assign this to me?

[2020-10-24 16:48] vivaswat19 commented on #1046
@SSKale1 please review my PR.
Thank you.

[2020-10-24 16:49] #1068 closed

[2020-10-24 17:09] prakharpande opened #1072 "1406 | Stone Game III | C++"
## **`Title`** - Stone Game III

**What will change** - Add new leetcode problem in the C++ folder with C++ solution

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.

[2020-10-24 17:10] tanishaPandey-2019 commented on #1049
Please assign this issue to me

[2020-10-24 17:10] prakharpande commented on #1072
Please assign this issue to me.

[2020-10-24 17:11] tanishaPandey-2019 commented on #1060
Please assign this issue to me

[2020-10-24 17:13] harshbhagwani94 opened #1074 "56 | Merge Intervals | C++"
## **`Title`** - Merge Intervals

**What will change** - will add solution file to it

### Type of Issue - Solution missing.

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your f

[2020-10-24 17:13] harshbhagwani94 commented on #1074
Can someone assign this issue to me?

[2020-10-24 17:16] harshbhagwani94 opened #1075 "66 | Plus One | C++"
## **`Title`** - Plus One

**What will change** - Solution will be added

### Type of Issue - Solution not available

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in th

[2020-10-24 17:16] harshbhagwani94 commented on #1075
Can someone assign this issue to me?

[2020-10-24 17:24] Starkultra opened #1076 "699 | Falling-Squares-v2 | C++"
## **`Title`** - Falling-Square-v2

**What will change** - Problem will be added to repo

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the prop

[2020-10-24 17:25] Starkultra commented on #1076
please assign this issue

[2020-10-24 17:29] Starkultra opened #1077 "162 | Find-Peak-Element | C++"
## **`Title`** - Find-Peak-Element

**What will change** - Problem will be added to repo

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description`

[2020-10-24 17:30] Starkultra commented on #1077
could you please assign this issue

[2020-10-24 17:34] Starkultra opened #1078 "Invalid"
## **`Title`** -  3Sum-Closet

**What will change** - New problem will be added to the folder C++

### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentati

[2020-10-24 17:34] Starkultra commented on #1078
please assign this issue

[2020-10-24 17:37] pikachu28 opened #1079 "84 | Largest Rectangle in Histogram | C++"
## **Largest Rectangle in Histogram** -

**What will change** -
Adding solution to C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper

[2020-10-24 17:38] shuai-yang commented on #93
would you please assign this to me?

[2020-10-24 17:39] shuai-yang commented on #518
would you please assign this to me?

[2020-10-24 17:39] shuai-yang commented on #555
would you please assign this to me?

[2020-10-24 17:40] shuai-yang commented on #421
would you please assign this to me?

[2020-10-24 17:40] shuai-yang commented on #1053
would you please assign this to me?

[2020-10-24 17:41] pikachu28 opened #1080 "601 | Human Traffic of Stadium | SQL"
## **Human Traffic of Stadium** -

**What will change** -
Adding Solution in SQL file

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper

[2020-10-24 17:44] pikachu28 opened #1081 "841 | Minimum Number of Refueling Stops | C++"
## **Minimum Number of Refueling Stops** -

**What will change** -
Adding solution to C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the pro

[2020-10-24 17:46] pikachu28 commented on #1081
Please assign this issue to me : )

[2020-10-24 17:46] shubhm-cmd commented on #1079
Please assign this issue to me.

[2020-10-24 17:46] pikachu28 commented on #1080
Please assign this assign : )

[2020-10-24 17:47] pikachu28 commented on #1079
Please assign this issue to me : )

[2020-10-24 17:49] shubhm-cmd commented on #1077
Please assign this issue to me.

[2020-10-24 17:50] pikachu28 commented on #1079
Hi, Sorry but I opened this issue for myself : )

[2020-10-24 18:22] aminasadiam opened #1085 "11228 | Divide two numbers using only subtraction (-) operator | Python"
## **`Divide two numbers using only subtraction (-) operator`** - 11228

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file i

[2020-10-24 18:23] chiillax commented on #1085
Could you please assign me for this task ?

[2020-10-24 18:24] aminasadiam commented on #1085
May I work on this?

[2020-10-24 18:37] Starkultra opened #1086 "Invalid"
## **`Title`** - Minimum-Height-Trees

**What will change** - New problem will be added to the repository

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` a

[2020-10-24 18:38] Starkultra commented on #1086
I already solved this one Will you assign this issue to me

[2020-10-24 18:42] Saumya-Mishra9129 opened #1087 "239 | Sliding Window Maximum | Python"
## **`Title`** - Sliding Window Maximum

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Cod

[2020-10-24 18:43] Saumya-Mishra9129 commented on #1087
Please Assign this to me.

[2020-10-24 19:03] ArshdeepSingh98 commented on #1032
Ok 👍

[2020-10-24 19:09] ArshdeepSingh98 opened #1089 "852 | Peak Index in a Mountain Array | CPP"
## **`Peak Index in a Mountain Array`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code

[2020-10-24 19:09] ArshdeepSingh98 commented on #1089
I want to this.

[2020-10-24 19:38] Mannan2812 opened #1092 "1626 | Best Team With No Conflicts | C++"
## **`Best Team With No Conflicts`** -

**New File in c++ directory** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clea

[2020-10-24 19:38] Mannan2812 commented on #1092
Please assign this issue to me.

[2020-10-24 19:39] Mannan2812 commented on #1092
@Yashica7 @SSKale1

[2020-10-24 19:51] hemant2705 commented on #876
Please assign issue to me

[2020-10-24 20:12] jaisai6 opened #1093 "83 | Remove Duplicates from Sorted List | C++"
## **`Title`** - Remove Duplicates from Sorted List
**What will change** -
Solution will be added to the repo

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Titl

[2020-10-24 20:12] jaisai6 commented on #1093
Please assign this to me

[2020-10-24 21:00] ritwickraj78 opened #1094 "1588 | Sum of All Odd Length Subarrays | Java"
## **`Title`** - Sum of All Odd Length Subarrays

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [] C++
- [x] Java
- [] SQL

### Self Check

- Ask for issue assignment and wait

[2020-10-24 21:02] ritwickraj78 opened #1095 "1534 | Count Good Triplets | Java"
## **`Title`** - Count Good Triplets

**What will change** - Add Code for Q.1534 on Leetcode in Java

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your fil

[2020-10-24 21:03] Abhishekjain99 opened #1096 "1534| Count Good Triplets | C++"
## **`Title`** - Count Good Triplets

**What will change** - Add Code For Question 1534 in C++.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in t

[2020-10-24 21:03] ritwickraj78 opened #1097 "1512 | Number of Good Pairs | Java"
## **`Title`** -

**What will change** -

### Type of Issue - Add solution for Q.1512 in Java

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Cl

[2020-10-24 21:05] Abhishekjain99 commented on #1096
Please assign this to me.

[2020-10-24 21:06] ritwickraj78 opened #1098 "1486 | XOR Operation in an Array | Java"
## **`Title`** -  XOR Operation in an Array

**What will change** - Add solution for Q.1486 in Java

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file

[2020-10-24 21:09] ritwickraj78 commented on #1098
@SSKale1 @Yashica7 @swaingotnochill  @JOKUE2002 Please assign this issue to me

[2020-10-24 21:09] ritwickraj78 commented on #1097
@SSKale1 @Yashica7 @swaingotnochill  @JOKUE2002 Please assign this issue to me

[2020-10-24 21:09] ritwickraj78 commented on #1095
@SSKale1 @Yashica7 @swaingotnochill  @JOKUE2002 Please assign this issue to me

[2020-10-24 21:09] ritwickraj78 commented on #1094
@SSKale1 @Yashica7 @swaingotnochill  @JOKUE2002 Please assign this issue to me

[2020-10-24 21:22] AbhJ commented on #876
Please assign to me I am a third year undergraduate in Electrical Engineering IIT Kharagpur with good background in competitive programming

[2020-10-24 21:24] AbhJ commented on #1063
Please assign to me I am a third year undergraduate in Electrical Engineering IIT Kharagpur with good background in competitive programming

[2020-10-24 21:24] AbhJ commented on #1060
Please assign to me I am a third year undergraduate in Electrical Engineering IIT Kharagpur with good background in competitive programming

[2020-10-24 21:24] AbhJ commented on #1075
Please assign to me I am a third year undergraduate in Electrical Engineering IIT Kharagpur with good background in competitive programming

[2020-10-24 21:25] AbhJ commented on #1077
Please assign to me I am a third year undergraduate in Electrical Engineering IIT Kharagpur with good background in competitive programming

[2020-10-24 21:25] AbhJ commented on #1078
Please assign to me I am a third year undergraduate in Electrical Engineering IIT Kharagpur with good background in competitive programming

[2020-10-24 21:25] elizabethqiu commented on #927
Can I contribute to this in Java? Thank you :)

[2020-10-24 21:25] AbhJ commented on #1079
Please assign to me I am a third year undergraduate in Electrical Engineering IIT Kharagpur with good background in competitive programming

[2020-10-24 21:26] AbhJ commented on #1081
Please assign to me I am a third year undergraduate in Electrical Engineering IIT Kharagpur with good background in competitive programming

[2020-10-24 21:26] AbhJ commented on #1086
Please assign to me I am a third year undergraduate in Electrical Engineering IIT Kharagpur with good background in competitive programming

[2020-10-24 21:26] AbhJ commented on #1092
Please assign to me I am a third year undergraduate in Electrical Engineering IIT Kharagpur with good background in competitive programming

[2020-10-24 21:26] AbhJ commented on #1093
Please assign to me I am a third year undergraduate in Electrical Engineering IIT Kharagpur with good background in competitive programming

[2020-10-24 21:26] AbhJ commented on #1096
Please assign to me I am a third year undergraduate in Electrical Engineering IIT Kharagpur with good background in competitive programming

[2020-10-24 21:32] jaisai6 commented on #1093
Actually, I have solved that problem. So, I am just waiting for them to
assign it to me.

On Sun, 25 Oct 2020, 02:56 Abhijay Mitra, <notifications@github.com> wrote:

[2020-10-24 21:38] AbhJ commented on #1097
Please assign to me I am a third year undergraduate in Electrical Engineering IIT Kharagpur with good background in competitive programming

[2020-10-24 21:38] AbhJ commented on #1098
Please assign to me I am a third year undergraduate in Electrical Engineering IIT Kharagpur with good background in competitive programming

[2020-10-24 21:38] AbhJ commented on #1085
Please assign to me I am a third year undergraduate in Electrical Engineering IIT Kharagpur with good background in competitive programming

[2020-10-24 21:52] AbhJ commented on #1093
so have i

[2020-10-25 01:02] AnandPr123 commented on #1097
@AbhJ  you can create your own issue and ask the maintainers to assign it to you.

[2020-10-25 01:22] AnandPr123 opened #1100 "887 | Super Egg Drop | C++"
## **`Title`** - Super Egg Drop

**What will change** - Solution for the Super Egg Drop problem in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your fi

[2020-10-25 01:22] AnandPr123 commented on #1100
Please assign this to me

[2020-10-25 01:24] AnandPr123 opened #1101 "1610 | Maximum Number of Visible Points | C++"
## **`Title`** - Maximum Number of Visible Points

**What will change** - Add a solution for the problem Maximum Number of Visible Points in C++.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to i

[2020-10-25 01:25] AnandPr123 commented on #1101
Please assign this to me

[2020-10-25 01:26] AnandPr123 opened #1102 "639 | Decode Ways II | C++"
## **`Title`** - Decode Ways II

**What will change** - Add a solution for the problem Decode Ways II in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add y

[2020-10-25 01:26] AnandPr123 commented on #1102
Please assign this to me

[2020-10-25 01:55] Mrinal-Choudhary07 opened #1103 "1010| Panagram Check| Java"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` fo

[2020-10-25 01:55] Mrinal-Choudhary07 commented on #1103
I'm ready for this please assign to me

[2020-10-25 02:02] Mrinal-Choudhary07 opened #1104 "1019 | Kadanes | Java"
## **`Title`** - Kadanes Algorithm

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java
### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `

[2020-10-25 02:03] Mrinal-Choudhary07 commented on #1104
Assign me this issue

[2020-10-25 02:45] Dbhasin1 commented on #1085
May I work on this?

[2020-10-25 03:35] #1104 closed

[2020-10-25 03:43] #1085 closed

[2020-10-25 03:44] #1079 closed

[2020-10-25 03:47] swaingotnochill commented on #1078
@ABhJ open the leedcode solutions repository and search for problems that are missing in repo and create a  issue concerning missing solutions. I will assign you that..

[2020-10-25 04:03] Gyan843 opened #1106 "44 | Wildcard Matching | C++"
## **`Title`** - Wildcard Matching

**What will change** - Add a solution for the problem Wildcard Matching in C++

### Type of Issue -

Please add/delete options that are not relevant.

-  [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.

[2020-10-25 04:04] Gyan843 commented on #1106
Please assign this to me

[2020-10-25 04:06] Gyan843 opened #1107 "126 | Word Ladder II | C++"
## **`Title`** - Word Ladder II

**What will change** - add a solution for the problem Word Ladder II in C++

### Type of Issue -

Please add/delete options that are not relevant.

- Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file

[2020-10-25 04:08] Gyan843 commented on #1107
Please assign this to me

[2020-10-25 04:08] codeit-dotcom commented on #1106
please assign this to me

[2020-10-25 04:11] codeit-dotcom commented on #1107
Can you please assign this to me.

[2020-10-25 04:26] Gyan843 opened #1111 "1622 | Fancy Sequence | C++"
## **`Title`** - Fancy Sequence

**What will change** - add a solution for the problem Fancy Sequence in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [ ] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [ ] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add y

[2020-10-25 04:26] Gyan843 commented on #1111
Please assign this to me

[2020-10-25 04:56] Nitish-web-nik commented on #1111
I want to contribute to this issue, Please assign this to me.

[2020-10-25 06:09] jaisai6 opened #1116 "997 | Find the Town Judge | C++"
## **`Title`** - Find the Town Judge

**What will change** - solution will be added to the repo

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Descri

[2020-10-25 06:09] jaisai6 commented on #1116
Please assign this issue

[2020-10-25 06:29] shinchancode commented on #1107
hii @Gyan843 , i m interested in doing this. can u please assign this to me?

[2020-10-25 06:33] shinchancode commented on #1093
can u please assign this to me. this is my first hactoberfest request.

[2020-10-25 06:47] shinchancode commented on #1049
please assign this to me

[2020-10-25 06:49] shinchancode commented on #976
please assign this to me

[2020-10-25 06:50] shinchancode commented on #672
please assign this to me

[2020-10-25 07:04] NancyAgrawal commented on #599
Hey, I would like to contribute to it.

[2020-10-25 07:07] NancyAgrawal commented on #1116
Hey, I'll like to work on this.

[2020-10-25 07:19] trishnakalita660 opened #1118 "948 | Bag of Tokens | C++"
Bag of Tokens

**What will change** - New Submission

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigne

[2020-10-25 07:19] trishnakalita660 commented on #1118
can I get this assigned?

[2020-10-25 07:34] pstreemaze opened #1120 "504 | Base 7 | CPP"
## **`Title`** -
BASE 7
**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star i

[2020-10-25 07:35] pstreemaze opened #1121 "1025 | Divisor Game | CPP"
## **`Title`** -
Divisor Game
**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2:

[2020-10-25 07:40] pstreemaze opened #1122 "383 | Ransom Note | CPP"
## **`Title`** -
RANSOM NOTE
**What will change** -

### Type of Issue -

.

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2

[2020-10-25 07:46] trishnakalita660 opened #1123 "627 | Swap Salaries | SQL"
## **`Title`** -

**What will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it befo

[2020-10-25 07:47] trishnakalita660 commented on #1123
assign this to me.

[2020-10-25 07:53] pstreemaze opened #1124 "176 | Second Highest Salary | SQL"
## **`Title`** -
Second Highest Salary
**What will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] SQL

### Self Check

- Ask for issue assignment and wait to get assigned to it before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

[2020-10-25 08:04] himanshu81023 opened #1125 "1313 | Title-Decompress Run-Length Encoded List | C++"
## **`Title`** -Decompress Run-Length Encoded  (NEW SOLUTION WILL BE ADDED)
**What will change** -
    New solution

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before m

[2020-10-25 08:05] himanshu81023 commented on #1125
ASSIGN THIS TO ME

[2020-10-25 08:13] hardikchoudhary12 opened #1127 "148 | Sort List | Python"
## **`Title`** -

Python solution for 148 Sort List

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] SQL

### Self Check

- Ask for issue assignment and wait to get assigned

[2020-10-25 08:15] hardikchoudhary12 commented on #1127
Can this issue be assigned to me?

[2020-10-25 08:29] Starkultra commented on #1086
Hey @swaingotnochill gave pull request please find and merge if that perfect..thanks

[2020-10-25 08:32] jaisai6 commented on #1120
Please assign this issue to me..

[2020-10-25 08:33] SudhiMohan commented on #1124
I would like to work on this issue. Please assign it to me.

[2020-10-25 08:36] shvms opened #1128 "1521 | Find a Value of a Mysterious Function Closest to Target | Java"
## **`Title`** - Find a Value of a Mysterious Function Closest to Target

**What will change** - Add solution for the problem `1521. Find a Value of a Mysterious Function Closest to Target` in Java

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- A

[2020-10-25 08:37] shvms commented on #1128
@SSKale1 @Yashica7 @swaingotnochill @JOKUE2002 Please assign this issue to me.

[2020-10-25 08:41] shvms opened #1132 "1525 | Number of Good Ways to Split a String | Java"
## **`Title`** - Number of Good Ways to Split a String

**What will change** - Adding solution of `1525. Number of Good Ways to Split a String`

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment and wait to get assigned to it

[2020-10-25 08:42] shvms commented on #1132
Please assign this issue to me @JOKUE2002 @Yashica7 @swaingotnochill @SSKale1

[2020-10-25 08:44] sbindal057 commented on #1111
please assign me this issue

[2020-10-25 08:48] Dimplesinha commented on #1125
Assign this to me

[2020-10-25 09:03] learnisearning commented on #1107
I first timer. Interest in this . Assign this to me.

[2020-10-25 09:25] learnisearning commented on #1096
Please I would like to add this code. Assign this to me.

[2020-10-25 09:29] adityabandal opened #1134 "1049 | Last Stone Weight II | C++"
## **`Title`** - 1049 | Last Stone Weight II

**What will change** -  Add solution for the problem `1049. Last Stone Weight II` in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment and wait to get assigned to it before ma

[2020-10-25 09:30] adityabandal commented on #1134
Please assign this issue to me @SSKale1 @Yashica7 @swaingotnochill @JOKUE2002

[2020-10-25 10:13] rematchka commented on #1122
Please assign this issue to me.